# Data loading

In [4]:
def load_data(data_path):
  data = pd.read_csv(data_path)  
  return data

inbound = load_data("inbound_loads.csv")
outbound = load_data("outbound_laods.csv")
weather = load_data("weather.csv")
#For loop to ensure that all pallet data is in the same dataframe
pallet = load_data("Pallet_history_Gold_Spike[0].csv")
for x in range(1, 10):
    pallet = pd.concat([pallet, load_data(f"Pallet_history_Gold_Spike[{x}].csv")])
    print(len(pallet))
trainentest = load_data("demand_kWtrain_val.csv")

1000000
1500000
2000000
2500000
3000000
3500000
4000000
4500000
4925535

# Python packages

In [2]:
import math, datetime, time, random
import numpy as np
import pandas as pd
from datetime import timedelta
import re
import math, datetime, time, random
import matplotlib.pyplot as plt

# Preprocessing Dataframes
Preprocessing inbound, outbound, pallet and weather 

setting up the features dataframe, giving it a date, time, year, month etc.

Create definition for adding time columns and making a datetime object of a column

In [32]:
def addtimecol(df, colname): ####input df and colname 
        df[colname] = pd.to_datetime(df[colname])         
        df['year'] = df[colname].dt.year
        df['month'] = df[colname].dt.month
        df['weekday'] = df[colname].dt.weekday
        df['day'] = df[colname].dt.day
        df['hour'] = df[colname].dt.hour
        df['minute'] = df[colname].dt.minute        
        return df
def make_datetime(df, col_name): ###To make datetime object from df at colname    
    for index, row in df.iterrows():
        t = df.at[index, col_name]
        time = datetime.datetime.strptime(t, '%Y-%m-%d %H:%M:%S')
        localtime = time - (timedelta(hours=6))
        df.at[index, 'localstrptime'] = localtime

Setting up a featurestrain set and add timecolumns, then make that into the csv file

In [ ]:
featurestrain = pd.DataFrame({'datetime_local': trainentest['datetime_local'][0:273988]})
addtimecol(featurestrain, 'datetime_local')
featurestrain = featurestrain.set_index('datetime_local')

#featurestrain.to_csv('featurestrain.csv')

In [6]:
base_ft = load_data('featuretrain.csv')

In [8]:
base_ft.head(50)

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC
0,2018-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:00:00-06:00,50.37,53.60,2019-01-01 00:00:00
1,2018-12-31 18:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:05:00-06:00,50.37,53.60,2019-01-01 00:05:00
2,2018-12-31 18:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:10:00-06:00,50.37,53.60,2019-01-01 00:10:00
3,2018-12-31 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:15:00-06:00,50.37,53.60,2019-01-01 00:15:00
4,2018-12-31 18:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:20:00-06:00,50.37,53.60,2019-01-01 00:20:00
5,2018-12-31 18:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:25:00-06:00,50.37,53.60,2019-01-01 00:25:00
6,2018-12-31 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:30:00-06:00,50.37,53.60,2019-01-01 00:30:00
7,2018-12-31 18:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:35:00-06:00,53.81,51.80,2019-01-01 00:35:00
8,2018-12-31 18:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:40:00-06:00,53.81,51.80,2019-01-01 00:40:00
9,2018-12-31 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:45:00-06:00,50.37,53.60,2019-01-01 00:45:00
10,2018-12-31 18:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:50:00-06:00,50.37,53.60,2019-01-01 00:50:00
11,2018-12-31 18:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:53:00-06:00,50.28,53.06,2019-01-01 00:53:00
12,2018-12-31 18:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:55:00-06:00,53.81,51.80,2019-01-01 00:55:00
13,2018-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:00:00-06:00,53.81,51.80,2019-01-01 01:00:00
14,2018-12-31 19:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:05:00-06:00,53.81,51.80,2019-01-01 01:05:00
15,2018-12-31 19:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:10:00-06:00,53.81,51.80,2019-01-01 01:10:00
16,2018-12-31 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:15:00-06:00,53.81,51.80,2019-01-01 01:15:00
17,2018-12-31 19:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:20:00-06:00,53.81,51.80,2019-01-01 01:20:00
18,2018-12-31 19:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:25:00-06:00,50.08,51.80,2019-01-01 01:25:00
19,2018-12-31 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:30:00-06:00,50.08,51.80,2019-01-01 01:30:00
20,2018-12-31 19:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:35:00-06:00,50.08,51.80,2019-01-01 01:35:00
21,2018-12-31 19:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:40:00-06:00,53.53,50.00,2019-01-01 01:40:00
22,2018-12-31 19:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:45:00-06:00,53.53,50.00,2019-01-01 01:45:00
23,2018-12-31 19:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:50:00-06:00,53.53,50.00,2019-01-01 01:50:00
24,2018-12-31 19:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:53:00-06:00,52.01,50.00,2019-01-01 01:53:00
25,2018-12-31 19:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:55:00-06:00,53.53,50.00,2019-01-01 01:55:00
26,2018-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:00:00-06:00,53.53,50.00,2019-01-01 02:00:00
27,2018-12-31 20:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:05:00-06:00,53.53,50.00,2019-01-01 02:05:00
28,2018-12-31 20:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:10:00-06:00,57.25,48.20,2019-01-01 02:10:00
29,2018-12-31 20:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:15:00-06:00,53.53,50.00,2019-01-01 02:15:00
30,2018-12-31 20:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:20:00-06:00,57.25,48.20,2019-01-01 02:20:00
31,2018-12-31 20:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:25:00-06:00,57.25,48.20,2019-01-01 02:25:00
32,2018-12-31 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:30:00-06:00,57.25,48.20,2019-01-01 02:30:00
33,2018-12-31 20:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:35:00-06:00,57.25,48.20,2019-01-01 02:35:00
34,2018-12-31 20:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:40:00-06:00,57.25,48.20,2019-01-01 02:40:00
35,2018-12-31 20:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:45:00-06:00,57.25,48.20,2019-01-01 02:45:00
36,2018-12-31 20:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:50:00-06:00,57.25,48.20,2019-01-01 02:50:00
37,2018-12-31 20:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:53:00-06:00,58.32,46.94,2019-01-01 02:53:00
38,2018-12-31 20:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:55:00-06:00,61.27,46.40,2019-01-01 02:55:00
39,2018-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 21:00:00-06:00,61.27,46.40,2019-01-01 03:00:00
40,2018-12-31 21:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 21:05:00-06:00,61.27,46.40,2019-01-01 03:05:00
41,2018-12-31 21:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 21:10:00-06:00,61.27,46.40,2019-01-01 03:10:00
42,2018-12-31 21:15:00,2018.0,12.0,0.0,31.0,21.0,15.0,2018-12-31 21:15:00-06:00,61.27,46.40,2019-01-01 03:15:00
43,2018-12-31 21:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 21:20:00-06:00,61.27,46.40,2019-01-01 03:20:00
44,2018-12-31 21:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 21:25:00-06:00,61.27,46.40,2019-01-01 03:25:00
45,2018-12-31 21:30:00,2018.0,12.0,0.0,31.0,21.0,30.0,2018-12-31 21:30:00-06:00,61.27,46.40,2019-01-01 03:30:00
46,2018-12-31 21:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 21:35:00-06:00,65.60,44.60,2019-01-01 03:35:00
47,2018-12-31 21:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 21:40:00-06:00,65.60,44.60,2019-01-01 03:40:00
48,2018-12-31 21:45:00,2018.0,12.0,0.0,31.0,21.0,45.0,2018-12-31 21:45:00-06:00,65.60,44.60,2019-01-01 03:45:00
49,2018-12-31 21:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 21:50:00-06:00,65.60,44.60,2019-01-01 03:50:00

Preprocessing inbound dataframe

In [26]:
#droplevels where carriercode is cancel or None because then you cannot estimate the temp. //its not that many
#droplevels where load_start and truck_signin are both missing because useless info then
inbound = load_data("inbound_loads.csv")
inbound_indexes = inbound[inbound['carrier_code'] == "CANCEL"].index
inbound.drop(inbound_indexes, inplace = True)
inbound.dropna(subset = ['customer_code'], inplace = True)
inbound.dropna(axis = 0, how = 'any', thresh = 1, subset = ['load_start_datetime', 'truck_signin_datetime'], inplace = True)

Preprocessing weather dataframe //I fucked this one up zoek ergens uit hoe ik dit moet fixen

In [9]:
base_weather = load_data('weather.csv') 

#Add localstrptime, 6 hours before UTC
#base_weather = make_datetime(base_weather, 'datetime_UTC')
#base_weather["localstrptime"]= pd.to_datetime(base_weather["localstrptime"])

#Remove unnecessary columns
#base_weather = base_weather.drop('Unnamed: 0', axis=1)

#base_weather["localstrptime"]= pd.to_datetime(base_weather["localstrptime"])
#base_df['datetime_local'] = pd.to_datetime(base_df['datetime_local'])
#base_weather = base_weather.rename(columns={'localstrptime':'datetime_local'})

#base_weather['datetime_local'] = [datetime.datetime.strptime(x, 'yyyy/MM/dd HH:mm:SS') for x in base_weather['localstrptime']]

#Add time columns.
#addtimecol(base_df, 'datetime_local')

#Set index to datetime
#base_df.set_index('datetime_local', inplace=True)
#base_weather.set_index('datetime_local', inplace=True)

#Concatenate the weather DataFrame to the base DataFrame
#base_df = pd.concat([base_df, base_weather], axis=1)


#new_weather['datetime_local'] = pd.to_datetime(weather['datetime_local']) 
#new_weather = weather.set_index('datetime_local')
#weather.to_csv('weather.csv')

,Unnamed: 0,datetime,Relative Humidity,Temperature,datetime_UTC,hour
0,0,2018-12-31 18:00:00-06:00,50.37,53.60,2019-01-01 00:00:00,18
1,1,2018-12-31 18:05:00-06:00,50.37,53.60,2019-01-01 00:05:00,18
2,2,2018-12-31 18:10:00-06:00,50.37,53.60,2019-01-01 00:10:00,18
3,3,2018-12-31 18:15:00-06:00,50.37,53.60,2019-01-01 00:15:00,18
4,4,2018-12-31 18:20:00-06:00,50.37,53.60,2019-01-01 00:20:00,18
5,5,2018-12-31 18:25:00-06:00,50.37,53.60,2019-01-01 00:25:00,18
6,6,2018-12-31 18:30:00-06:00,50.37,53.60,2019-01-01 00:30:00,18
7,7,2018-12-31 18:35:00-06:00,53.81,51.80,2019-01-01 00:35:00,18
8,8,2018-12-31 18:40:00-06:00,53.81,51.80,2019-01-01 00:40:00,18
9,9,2018-12-31 18:45:00-06:00,50.37,53.60,2019-01-01 00:45:00,18
10,10,2018-12-31 18:50:00-06:00,50.37,53.60,2019-01-01 00:50:00,18
11,11,2018-12-31 18:53:00-06:00,50.28,53.06,2019-01-01 00:53:00,18
12,12,2018-12-31 18:55:00-06:00,53.81,51.80,2019-01-01 00:55:00,18
13,13,2018-12-31 19:00:00-06:00,53.81,51.80,2019-01-01 01:00:00,19
14,14,2018-12-31 19:05:00-06:00,53.81,51.80,2019-01-01 01:05:00,19
15,15,2018-12-31 19:10:00-06:00,53.81,51.80,2019-01-01 01:10:00,19
16,16,2018-12-31 19:15:00-06:00,53.81,51.80,2019-01-01 01:15:00,19
17,17,2018-12-31 19:20:00-06:00,53.81,51.80,2019-01-01 01:20:00,19
18,18,2018-12-31 19:25:00-06:00,50.08,51.80,2019-01-01 01:25:00,19
19,19,2018-12-31 19:30:00-06:00,50.08,51.80,2019-01-01 01:30:00,19
20,20,2018-12-31 19:35:00-06:00,50.08,51.80,2019-01-01 01:35:00,19
21,21,2018-12-31 19:40:00-06:00,53.53,50.00,2019-01-01 01:40:00,19
22,22,2018-12-31 19:45:00-06:00,53.53,50.00,2019-01-01 01:45:00,19
23,23,2018-12-31 19:50:00-06:00,53.53,50.00,2019-01-01 01:50:00,19
24,24,2018-12-31 19:53:00-06:00,52.01,50.00,2019-01-01 01:53:00,19
25,25,2018-12-31 19:55:00-06:00,53.53,50.00,2019-01-01 01:55:00,19
26,26,2018-12-31 20:00:00-06:00,53.53,50.00,2019-01-01 02:00:00,20
27,27,2018-12-31 20:05:00-06:00,53.53,50.00,2019-01-01 02:05:00,20
28,28,2018-12-31 20:10:00-06:00,57.25,48.20,2019-01-01 02:10:00,20
29,29,2018-12-31 20:15:00-06:00,53.53,50.00,2019-01-01 02:15:00,20
...,...,...,...,...,...,...
328212,328212,2021-12-31 15:40:00-06:00,77.94,69.80,2021-12-31 21:40:00,15
328213,328213,2021-12-31 15:45:00-06:00,77.94,69.80,2021-12-31 21:45:00,15
328214,328214,2021-12-31 15:50:00-06:00,77.94,69.80,2021-12-31 21:50:00,15
328215,328215,2021-12-31 15:53:00-06:00,78.38,69.08,2021-12-31 21:53:00,15
328216,328216,2021-12-31 15:55:00-06:00,77.94,69.80,2021-12-31 21:55:00,15
328217,328217,2021-12-31 16:00:00-06:00,77.94,69.80,2021-12-31 22:00:00,16
328218,328218,2021-12-31 16:05:00-06:00,77.94,69.80,2021-12-31 22:05:00,16
328219,328219,2021-12-31 16:10:00-06:00,77.94,69.80,2021-12-31 22:10:00,16
328220,328220,2021-12-31 16:15:00-06:00,77.94,69.80,2021-12-31 22:15:00,16
328221,328221,2021-12-31 16:20:00-06:00,77.94,69.80,2021-12-31 22:20:00,16
328222,328222,2021-12-31 16:25:00-06:00,77.94,69.80,2021-12-31 22:25:00,16
328223,328223,2021-12-31 16:30:00-06:00,77.94,69.80,2021-12-31 22:30:00,16
328224,328224,2021-12-31 16:35:00-06:00,77.94,69.80,2021-12-31 22:35:00,16
328225,328225,2021-12-31 16:40:00-06:00,77.94,69.80,2021-12-31 22:40:00,16
328226,328226,2021-12-31 16:45:00-06:00,77.94,69.80,2021-12-31 22:45:00,16
328227,328227,2021-12-31 16:50:00-06:00,77.94,69.80,2021-12-31 22:50:00,16
328228,328228,2021-12-31 16:53:00-06:00,80.90,69.08,2021-12-31 22:53:00,16
328229,328229,2021-12-31 16:55:00-06:00,77.94,69.80,2021-12-31 22:55:00,16
328230,328230,2021-12-31 17:00:00-06:00,77.94,69.80,2021-12-31 23:00:00,17
328231,328231,2021-12-31 17:05:00-06:00,77.94,69.80,2021-12-31 23:05:00,17
328232,328232,2021-12-31 17:10:00-06:00,77.94,69.80,2021-12-31 23:10:00,17
328233,328233,2021-12-31 17:15:00-06:00,77.94,69.80,2021-12-31 23:15:00,17
328234,328234,2021-12-31 17:20:00-06:00,77.94,69.80,2021-12-31 23:20:00,17
328235,328235,2021-12-31 17:25:00-06:00,82.89,68.00,2021-12-31 23:25:00,17
328236,328236,2021-12-31 17:30:00-06:00,82.89,68.00,2021-12-31 23:30:00,17
328237,328237,2021-12-31 17:35:00-06:00,82.89,68.00,2021-12-31 23:35:00,17
328238,328238,2021-12-31 17:40:00-06:00,82.89,68.00,2021-12-31 23:40:00,17
328239,328239,2021-12-31 17:45:00-06:00,82.89,68.00,2021-12-31 23:45:00,17
328240,328240,2021-12-31 17:50:00-06:00,82.89,68.00,2021-12-31 23:50:00,17
328241,328241,2021-12-31 18:00:00-06:00,82.89,68.00,2022-01-01 00:00:00,18

Creating features Dataframe

In [102]:
featurestrain = load_data('featurestrain.csv')
featurestrain['datetime_local'] = pd.to_datetime(featurestrain['datetime_local']) 
featurestrain = featurestrain.set_index('datetime_local')

Combine weather data with featurestrain: Temperature and Humidity

In [103]:
df1 = featurestrain.sort_values('datetime_local') 
df2 = weather.sort_values('datetime_local')
fttrain = pd.concat([df1, df2], axis = 1)

KeyError: 'datetime_local'

Drop irrelevant levels waar NA in staat

In [ ]:
fttrain.dropna(subset={'year', 'Temperature'})

# First Feature - Warmth movement
quantify warmth movement in terms of pallet movement in pallet DataFrame

First, testing what pallet movement categories are relevant
Considerations so far:
what is interesting data for where warm orders go?
        Move_category: outbound_move = not interesting because orders have already been stored(time between receive date and t is big)
        inbound_move = ; location_move = 
        received_date: skip too old packages because they are in the right temp. to store --> too old = longer than 72h. in?
        to_location_code: CPsth = per definitie een outbound move. DRsth = per definitie een outbound move
        work_type; MOVE = location_move; PUTAWAYs = inbound, close to entrance;

# Plannen - start - inbound moves
for move category/work_type, make a DataFrame where palletcount is given per location 'category'

How many pallets are moved towards a location?
1. create testpal dataframe, make sure transaction_date/receive_date is a datetime object, remove rows where received date is beyond 72 hours because then it is out of the blast freezer maximally. (maybe 72 hours is a tad too strict, a week may be better)
2. for testing: create testpal_sec and add the three letters 
2. add to testpal create tomovcat and frommovcat 3 letters per move category (I dont get this to work yet)
3. create new dataframe and store how many pallets moved towards a tomovcat
4. create for each unique movecat a row in a dataframe and count the amount of pallets going there
5. concat the base_ft and palmov df

# 1.
Create testpal dataframe

In [142]:
testpal = pd.DataFrame({'from_location_code' : pallet['from_location_code'], 'move_category' : pallet['move_category'], 'received_date' : pallet['received_date'], 'customer_code' : pallet['customer_code'],  'to_location_code' : pallet['to_location_code'],  'work_type' : pallet['work_type'],  'transaction_date' : pallet['transaction_date'], 'quantity' : pallet["quantity"]    })
testpal = testpal[testpal['move_category'] == 'inbound move']
testpal['datetime_local'] = pd.to_datetime(testpal['transaction_date'])
testpal['received_datetime'] = pd.to_datetime(testpal['received_date'])
testpal = testpal.drop(testpal[((testpal['received_datetime'] + timedelta(days = 5)) < testpal['datetime_local'])].index)

# 2 
create testpal section to test with

In [ ]:
testpal_sec = testpal[0:1000]

In [326]:
testpal_sec

# 2.
Make column for category frommovcat and tomovcat in testpal and testpal_sec

In [211]:
##just for now to make it quick(this one works)
for index, row in testpal_sec.iterrows():  
        a = testpal_sec.at[index, 'to_location_code']
        b = testpal_sec.at[index, 'from_location_code']
        testpal_sec.loc[index, 'frommovcat'] = b[0:3]
        testpal_sec.loc[index, 'tomovcat'] = a[0:3]

In [316]:
def addtofrom(palletdf):
    newpalletdf = palletdf.copy()
    for index, row in palletdf.iterrows():  
        a = palletdf.at[index, 'to_location_code']        
        newpalletdf.loc[index, 'tomovcat'] = a[0:3]
        b = palletdf.at[index, 'from_location_code']
        palletdf.loc[index, 'frommovcat'] = b[0:3]
    return newpalletdf

Create dataframe section for each worktype

In [310]:
inunl = testpal[testpal['work_type'] == 'UN-LOAD'] 
inputa = testpal[testpal['work_type'] == 'PUTAWAYS'] 
ininb = testpal[testpal['work_type'] == 'INBOUNDRUN']

Create frommovcat and tomovcat for each dataframe

In [325]:
##This doesn't work
ininb = addtofrom(ininb)
inputa = addtofrom(inputa)
inunl = addtofrom(inunl)

# 3
Getting it to work for specific case

In [175]:
movedpal = pd.DataFrame({'datetime_local': testpal_sec['datetime_local']})
for index, row in new_ft.iterrows():
    time = new_ft.at[index, 'datetime_local']    
    mask = (movedpal['datetime_local'] > time) & (testpal_sec['datetime_local'] <= time + timedelta(hours = 24))
#    movedpal.at[index, "003"] = testpal_sec[testpal_sec['tomovcat'] == "003"].quantity.loc[mask].sum()
    #relevant.at[index, 'total_weight'] = base_inbound.net_weight.loc[mask].sum()

# 4 
write a generic function where you get the pallets moved with a certain worktype towards all its unique locations.
You want 
1. you make a dataframe with the length of the featuresdataframe
2. get the section of palletdf for which a column has a certain value
3. for every datetime in the ftdf, get the sum of pallets brought into each unique location category
4. concat the created dataframe and the base_ft dataframe

In [276]:
def makepalmov(ftdf, palletdf, column, nameofvalue, delta):
    palmov = pd.DataFrame({'datetime_local': ftdf['datetime_local']})    
    section = palletdf[palletdf[column] == nameofvalue]
    print(section)
    for x in section.tomovcat.unique():
        for index, row in ftdf.iterrows():            
            time = ftdf.at[index, 'datetime_local']            
            mask = (palmov['datetime_local'] > time) & (palmov['datetime_local'] <= time + delta)
            palmov.at[index, f"tomov{x}"] = palletdf.quantity.loc[mask].sum() 
    return palmov

In [324]:
brug = timedelta(hours = 24)
palletmov = makepalmov(new_ft, testpal_sec, 'work_type', "UN-LOAD", brug)

In [323]:
palletmov

Do it for all unique work_types of palletdf inbound moves

In [322]:
brug = timedelta(hours = 24) ##The timebridge you wanna use
palmovput = makepalmov(new_ft, testpal_sec, 'work_type', "PUTAWAYS", brug)
palmovin = makepalmov(new_ft, testpal_sec, 'work_type', "INBOUNDRUN", brug)
palmovun = makepalmov(new_ft, testpal_sec, 'work_type', "UN-LOAD", brug)

# 5. - concat new feature to feature df

In [327]:
new_ft = pd.concat([new_ft, palmovput], axis = 1)
new_ft = pd.concat([new_ft, palmovin], axis = 1)
new_ft = pd.concat([new_ft, palmovun], axis = 1)

Here I was testing stuff, you may ignore it xx

In [106]:
outb = testpal[testpal['move_category'] == 'outbound move']
inb = testpal[testpal['move_category'] == 'inbound move']
loc = testpal[testpal['move_category'] == 'location move']
movout = outb['work_type'].unique()
movin = inb['work_type'].value_counts()
movloc = loc['work_type'].unique()
print('moveout:     ', movout)
print('movin:     ', movin)
print('movloc:     ', movloc)

moveout:      ['WRONGFULL' 'DROPS' 'PARTIALS-V' 'FULLS' 'FULLCHGLOC' 'STAGE'
 'CHRYPICK-S' 'ANYFULL' 'PARTIALS-S' 'SWAPFULL' 'DROPRELO' 'SWAPDROP'
 'FULLRELO' 'REVDROPS' 'DROPRETURN']
movin:      PUTAWAYS      1064119
INBOUNDRUN      61493
UN-LOAD          8353
Name: work_type, dtype: int64
movloc:      ['MOVE' 'LOCCHANGE' 'RELOS' 'RELORUN']

Within inbound move/location move, what movements are there and which are relevant? 

Findings: 

Inbound: 

UN-LOAD, orders mainly coming from going to DR0.. and going to DR0... 

PUTAWAYS, orders mainly coming from door numbers, and going to 0... number

INBOUNDRUN, orders mainly coming from DR0.., and going to large variety of places, inverter, dr..,

In [111]:
#selecting part of dataset for which work_type == ''
inunl = testpal[testpal['work_type'] == 'UN-LOAD'] 
inputa = testpal[testpal['work_type'] == 'PUTAWAYS'] 
ininb = testpal[testpal['work_type'] == 'INBOUNDRUN'] 
#print('inunl:     ', inunl['to_location_code'].value_counts())
#print('inputa:     ', inputa['to_location_code'].value_counts())
#print('ininb:     ', ininb['to_location_code'].value_counts())

In [240]:
###Merge featuretrain and weather dataset based on datetime_local
def make_datetime(df, col_name): ###To make datetime object from df at colname
    for index, row in df.iterrows():
        t = df.at[index, col_name]
        time = datetime.datetime.strptime(t, '%Y-%m-%d %H:%M:%S')
        localtime = time - (timedelta(hours=6))
        df.at[index, col_name] = localtime
     
df1 = featurestrain.sort_values('datetime_local')
df2 = weather.sort_values('datetime_local')
fttrain = pd.concat([df1, df2], axis = 1)
fttrain.to_csv('featuretrain.csv')

NameError: name 'fttrain' is not defined

In [134]:
print(type(weather['datetime_local'].iloc[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

# Second Feature - Warmth coming in the Warehouse
At each time, how much warm product is coming into the warehouse?

1. create new_ft dataframe to add the added warmth to, make it into datetime objects
2. create base_inbound dataframe to mess with in this section
3. create def. addwarmth that creates a dataframe for each time entry in new_ft and maps the entered warmth between that time and delta
4. do it directly first
5. concat relevant and new_ft

# 1

In [8]:
###1
new_ft = base_ft.copy()
new_ft['datetime_local'] = pd.to_datetime(new_ft['datetime_local'])

# 2

In [ ]:
base_inbound = inbound.copy()
base_inbound['startpoint'] = pd.to_datetime(base_inbound['load_start_datetime'])

# 3

In [ ]:
def addwarmth(ftdf, delta): ###make a dataframe for each row in ftdf and add that to the relevant dataframe so they can be concatted
    relevant = pd.DataFrame({'datetime_local': ftdf['datetime_local']})
    for index, row in ftdf.iterrows():
        time = ftdf.at[index, 'datetime_local']
        mask = (base_inbound['startpoint'] > time) & (base_inbound['startpoint'] <= time + timedelta(delta))
        relevant.at[index, 'total_weight'] = base_inbound.net_weight.loc[mask].sum()

# 4

In [77]:
relevant = pd.DataFrame({'datetime_local': new_ft['datetime_local']})
for index, row in new_ft.iterrows():
    time = new_ft.at[index, 'datetime_local']
    mask = (base_inbound['startpoint'] > time) & (base_inbound['startpoint'] <= time + timedelta(hours = 24))
    relevant.at[index, 'total_weight'] = base_inbound.net_weight.loc[mask].sum()
print(relevant)

            datetime_local  total_weight
0      2018-12-31 18:00:00           0.0
1      2018-12-31 18:05:00           0.0
2      2018-12-31 18:10:00           0.0
3      2018-12-31 18:15:00           0.0
4      2018-12-31 18:20:00           0.0
5      2018-12-31 18:25:00           0.0
6      2018-12-31 18:30:00           0.0
7      2018-12-31 18:35:00           0.0
8      2018-12-31 18:40:00           0.0
9      2018-12-31 18:45:00           0.0
10     2018-12-31 18:50:00           0.0
11     2018-12-31 18:53:00           0.0
12     2018-12-31 18:55:00           0.0
13     2018-12-31 19:00:00           0.0
14     2018-12-31 19:05:00           0.0
15     2018-12-31 19:10:00           0.0
16     2018-12-31 19:15:00           0.0
17     2018-12-31 19:20:00           0.0
18     2018-12-31 19:25:00           0.0
19     2018-12-31 19:30:00           0.0
20     2018-12-31 19:35:00           0.0
21     2018-12-31 19:40:00           0.0
22     2018-12-31 19:45:00           0.0
23     2018-12-31 19:50:00           0.0
24     2018-12-31 19:53:00           0.0
25     2018-12-31 19:55:00           0.0
26     2018-12-31 20:00:00           0.0
27     2018-12-31 20:05:00           0.0
28     2018-12-31 20:10:00           0.0
29     2018-12-31 20:15:00           0.0
...                    ...           ...
485180 2021-12-31 15:40:00       39808.0
485181 2021-12-31 15:45:00       39808.0
485182 2021-12-31 15:50:00       39808.0
485183 2021-12-31 15:53:00       39808.0
485184 2021-12-31 15:55:00       39808.0
485185 2021-12-31 16:00:00       39808.0
485186 2021-12-31 16:05:00       39808.0
485187 2021-12-31 16:10:00       39808.0
485188 2021-12-31 16:15:00       39808.0
485189 2021-12-31 16:20:00           0.0
485190 2021-12-31 16:25:00           0.0
485191 2021-12-31 16:30:00           0.0
485192 2021-12-31 16:35:00           0.0
485193 2021-12-31 16:40:00           0.0
485194 2021-12-31 16:45:00           0.0
485195 2021-12-31 16:50:00           0.0
485196 2021-12-31 16:53:00           0.0
485197 2021-12-31 16:55:00           0.0
485198 2021-12-31 17:00:00           0.0
485199 2021-12-31 17:05:00           0.0
485200 2021-12-31 17:10:00           0.0
485201 2021-12-31 17:15:00           0.0
485202 2021-12-31 17:20:00           0.0
485203 2021-12-31 17:25:00           0.0
485204 2021-12-31 17:30:00           0.0
485205 2021-12-31 17:35:00           0.0
485206 2021-12-31 17:40:00           0.0
485207 2021-12-31 17:45:00           0.0
485208 2021-12-31 17:50:00           0.0
485209 2021-12-31 18:00:00           0.0

[485210 rows x 2 columns]

# 5
Concat with dataframe/make standalone feature df with all times

In [78]:
warmthft = pd.concat([base_ft, relevant], axis = 1)

In [331]:
relevant.to_csv('warmthft.csv')

In [336]:
warmthfeature = load_data('warmthft.csv')

        Unnamed: 0       datetime_local  total_weight
0                0  2018-12-31 18:00:00           0.0
1                1  2018-12-31 18:05:00           0.0
2                2  2018-12-31 18:10:00           0.0
3                3  2018-12-31 18:15:00           0.0
4                4  2018-12-31 18:20:00           0.0
5                5  2018-12-31 18:25:00           0.0
6                6  2018-12-31 18:30:00           0.0
7                7  2018-12-31 18:35:00           0.0
8                8  2018-12-31 18:40:00           0.0
9                9  2018-12-31 18:45:00           0.0
10              10  2018-12-31 18:50:00           0.0
11              11  2018-12-31 18:53:00           0.0
12              12  2018-12-31 18:55:00           0.0
13              13  2018-12-31 19:00:00           0.0
14              14  2018-12-31 19:05:00           0.0
15              15  2018-12-31 19:10:00           0.0
16              16  2018-12-31 19:15:00           0.0
17              17  2018-12-31 19:20:00           0.0
18              18  2018-12-31 19:25:00           0.0
19              19  2018-12-31 19:30:00           0.0
20              20  2018-12-31 19:35:00           0.0
21              21  2018-12-31 19:40:00           0.0
22              22  2018-12-31 19:45:00           0.0
23              23  2018-12-31 19:50:00           0.0
24              24  2018-12-31 19:53:00           0.0
25              25  2018-12-31 19:55:00           0.0
26              26  2018-12-31 20:00:00           0.0
27              27  2018-12-31 20:05:00           0.0
28              28  2018-12-31 20:10:00           0.0
29              29  2018-12-31 20:15:00           0.0
...            ...                  ...           ...
485180      485180  2021-12-31 15:40:00       39808.0
485181      485181  2021-12-31 15:45:00       39808.0
485182      485182  2021-12-31 15:50:00       39808.0
485183      485183  2021-12-31 15:53:00       39808.0
485184      485184  2021-12-31 15:55:00       39808.0
485185      485185  2021-12-31 16:00:00       39808.0
485186      485186  2021-12-31 16:05:00       39808.0
485187      485187  2021-12-31 16:10:00       39808.0
485188      485188  2021-12-31 16:15:00       39808.0
485189      485189  2021-12-31 16:20:00           0.0
485190      485190  2021-12-31 16:25:00           0.0
485191      485191  2021-12-31 16:30:00           0.0
485192      485192  2021-12-31 16:35:00           0.0
485193      485193  2021-12-31 16:40:00           0.0
485194      485194  2021-12-31 16:45:00           0.0
485195      485195  2021-12-31 16:50:00           0.0
485196      485196  2021-12-31 16:53:00           0.0
485197      485197  2021-12-31 16:55:00           0.0
485198      485198  2021-12-31 17:00:00           0.0
485199      485199  2021-12-31 17:05:00           0.0
485200      485200  2021-12-31 17:10:00           0.0
485201      485201  2021-12-31 17:15:00           0.0
485202      485202  2021-12-31 17:20:00           0.0
485203      485203  2021-12-31 17:25:00           0.0
485204      485204  2021-12-31 17:30:00           0.0
485205      485205  2021-12-31 17:35:00           0.0
485206      485206  2021-12-31 17:40:00           0.0
485207      485207  2021-12-31 17:45:00           0.0
485208      485208  2021-12-31 17:50:00           0.0
485209      485209  2021-12-31 18:00:00           0.0

[485210 rows x 3 columns]

In [101]:
####for information in pallet
#base_pallet = pallet[pallet['move_category'] == 'inbound move']
#base_pallet = pallet.copy()
base_pallet = base_pallet.drop(['source_system_id', 'warehouse_facility_id'], axis = 1)

base_pallet

,customer_code,from_location_code,to_location_code,transaction_date,tran_type,quantity,work_type,final_pallet_code,warehouse_pallet_code,lot_code,received_date,move_category
0,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,NaN,0,WRONGFULL,NaN,1363587-,1363587,2021-11-21 10:39:33,outbound move
1,3610,0030130071,0030130071,2021-11-23 07:50:20,NaN,0,WRONGFULL,NaN,1363587-,1363587,2021-11-21 10:39:33,outbound move
2,3610,0030130071,0030130071,2021-11-23 16:56:53,NaN,0,WRONGFULL,NaN,1363587-,1363587,2021-11-21 10:39:33,outbound move
3,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,NaN,0,WRONGFULL,NaN,1364144-,1364144,2021-11-21 10:39:33,outbound move
4,3610,0030130071,0030130071,2021-11-23 07:50:20,NaN,0,WRONGFULL,NaN,1364144-,1364144,2021-11-21 10:39:33,outbound move
5,3610,0030130071,0030130071,2021-11-23 16:56:53,NaN,0,WRONGFULL,NaN,1364144-,1364144,2021-11-21 10:39:33,outbound move
6,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,NaN,0,WRONGFULL,NaN,1364970-,1364970,2021-11-21 10:39:33,outbound move
7,3610,0030130071,0030130071,2021-11-23 07:50:20,NaN,0,WRONGFULL,NaN,1364970-,1364970,2021-11-21 10:39:33,outbound move
8,3610,0030130071,0030130071,2021-11-23 16:56:53,NaN,0,WRONGFULL,NaN,1364970-,1364970,2021-11-21 10:39:33,outbound move
9,3610,UNASSIGNED,CFORK15449,2021-11-10 00:54:06,NaN,10,MOVE,NaN,1366438-,1366438,2021-11-09 16:56:57,location move
10,3610,CFORK15449,0150030042,2021-11-10 00:54:18,NaN,10,MOVE,NaN,1366438-,1366438,2021-11-09 16:56:57,location move
11,3610,0150030042,FORK006836,2021-11-17 06:42:02,NaN,0,MOVE,NaN,1366438-,1366438,2021-11-09 16:56:57,location move
12,3610,FORK006836,0050270522,2021-11-17 06:43:21,NaN,0,MOVE,NaN,1366438-,1366438,2021-11-09 16:56:57,location move
13,3610,0050270522,FORK006836,2021-11-18 01:16:49,NaN,0,MOVE,NaN,1366438-,1366438,2021-11-09 16:56:57,location move
14,3610,UNASSIGNED,CFORK15449,2021-11-10 00:54:06,NaN,10,MOVE,NaN,1366514-,1366514,2021-11-09 16:56:57,location move
15,3610,CFORK15449,0150030042,2021-11-10 00:54:18,NaN,10,MOVE,NaN,1366514-,1366514,2021-11-09 16:56:57,location move
16,3610,0150030042,FORK006836,2021-11-17 06:42:02,NaN,0,MOVE,NaN,1366514-,1366514,2021-11-09 16:56:57,location move
17,3610,FORK006836,0050270522,2021-11-17 06:43:21,NaN,0,MOVE,NaN,1366514-,1366514,2021-11-09 16:56:57,location move
18,3610,0050270522,FORK006836,2021-11-18 01:16:49,NaN,0,MOVE,NaN,1366514-,1366514,2021-11-09 16:56:57,location move
19,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,NaN,0,WRONGFULL,NaN,1366650-,1366650,2021-11-21 10:39:33,outbound move
20,3610,0030130071,0030130071,2021-11-23 07:50:20,NaN,0,WRONGFULL,NaN,1366650-,1366650,2021-11-21 10:39:33,outbound move
21,3610,0030130071,0030130071,2021-11-23 16:56:53,NaN,0,WRONGFULL,NaN,1366650-,1366650,2021-11-21 10:39:33,outbound move
22,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,NaN,0,WRONGFULL,NaN,1374526001-0029,1374526001,2021-11-21 10:39:33,outbound move
23,3610,0030130071,0030130071,2021-11-23 07:50:20,NaN,0,WRONGFULL,NaN,1374526001-0029,1374526001,2021-11-21 10:39:33,outbound move
24,3610,0030130071,0030130071,2021-11-23 16:56:53,NaN,0,WRONGFULL,NaN,1374526001-0029,1374526001,2021-11-21 10:39:33,outbound move
25,3610,UNASSIGNED,CFORK15449,2021-11-10 00:54:06,NaN,10,MOVE,NaN,1415496002-0014,1415496002,2021-11-09 16:56:57,location move
26,3610,CFORK15449,0150030042,2021-11-10 00:54:18,NaN,10,MOVE,NaN,1415496002-0014,1415496002,2021-11-09 16:56:57,location move
27,3610,0150030042,FORK006836,2021-11-17 06:42:02,NaN,0,MOVE,NaN,1415496002-0014,1415496002,2021-11-09 16:56:57,location move
28,3610,FORK006836,0050270522,2021-11-17 06:43:21,NaN,0,MOVE,NaN,1415496002-0014,1415496002,2021-11-09 16:56:57,location move
29,3610,0050270522,FORK006836,2021-11-18 01:16:49,NaN,0,MOVE,NaN,1415496002-0014,1415496002,2021-11-09 16:56:57,location move
...,...,...,...,...,...,...,...,...,...,...,...,...
425505,2319,0090030364,009003101F,2021-04-07 08:24:00,NaN,1,FULLS,NaN,1434138012-0003,1434138012,2019-12-31 02:08:07,outbound move
425506,2319,009003101F,0110220141,2021-04-07 09:24:07,NaN,1,STAGE,NaN,1434138012-0003,1434138012,2019-12-31 02:08:07,outbound move
425507,2319,0110220141,DR056,2021-04-07 13:09:17,NaN,1,STAGE,NaN,1434138012-0003,1434138012,2019-12-31 02:08:07,outbound move
425508,2319,DR057,0100150051,2019-12-31 04:15:53,NaN,1,INBOUNDRUN,NaN,1434138012-0004,1434138012,2019-12-31 02:09:19,inbound move
425509,2319,010015005R,FORK014507,2019-12-31 05:08:10,NaN,1,MOVE,NaN,1434138012-0004,1434138012,2019-12-31 02:09:19,location move
425510,2319,FORK014507,0100150195,2019-12-31 05:09:32,NaN,1,MOVE,NaN,1434138012-0004,1434138012,2019-12-31 02:09:19,location move
425511,2319,0100150195,0100151381,2021-04-07 08:42:15,NaN,1,FULLS,NaN,1434138012-0004,1434138012,2019-12-31 02:09:19,outbound move
425512,2319,DR057,0100150031,2019-12-31 04:12:02,NaN,1,INBOUNDRUN,NaN,1434138012-0005,1434138012,2019-12-31 02:10:05,inbound move
425513,2319,010015003R,FORK014507,2019-12-31 05:11:07,NaN,1,MOVE,NaN,1434138012-0005,1434138012,2019-12-31 02:10:05,location move
425514,2319,FORK014507,0100150215,2019-12-31 05:12:39,NaN,1,MOVE,NaN,1434138012-0005,1434138012,2019-12-31 02:10:05,location move
425515,2319,0100150215,0100151391,2021-04-07 08:43:53,NaN,1,FULLS,NaN,1434138012-0005,1434138012,2019-12-31 02:10:05,outbound move
425516,2319,0100151391,DR056,2021-04-07 13:30:22,NaN,1,STAGE,NaN,1434138012-0005,1434138012,2019-12-31 02:10:05,outbound move
425517,2319,DR057,0100150011,2019-12-31 04:05:24,NaN,1,INBOUNDRUN,NaN,1434138012-0006,1434138012,2019-12-31 02:11:01,inbound move
425518,2319,010015001R,FORK014507,2019-12-31 05:12:39,NaN,1,MOVE,NaN,1434138012-0006,1434138012,2019-12-31 02:11:01,location move
425519,2319,FORK014507,0100151385,2019-12-31 05:14:32,NaN,1,MOVE,NaN,1434138012-0006,1434138012,2019-12-31 02:11:01,location move
425520,2319,0100151385,0100151341,2021-04-07 08:47:09,NaN,1,FULLS,NaN,1434138012-0006,1434138012,2019-12-31 02:11:01,outbound move
425521,2319,DR057,0100150011,2019-12-31 04:05:24,NaN,1,INBOUNDRUN,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,inbound move
425522,2319,010015001R,FORK014507,2019-12-31 05:14:32,NaN,1,MOVE,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,location move
425523,2319,FORK014507,0100150245,2019-12-31 05:16:11,NaN,1,MOVE,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,location move
425524,2319,010015024A,INVENTORY1,2020-08-10 10:05:17,NaN,1,MOVE,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,location move
425525,2319,INVENTORY1,010015024c,2020-08-10 10:17:51,NaN,1,MOVE,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,location move
425526,2319,010015024c,INVENTORY1,2020-08-10 10:30:13,NaN,1,MOVE,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,location move
425527,2319,INVENTORY1,0100150245,2020-08-10 10:30:29,NaN,1,MOVE,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,location move
425528,2319,0100150245,0100151351,2021-04-07 08:45:21,NaN,1,FULLS,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,outbound move
425529,2319,0100151351,DR057,2021-04-07 13:30:32,NaN,1,STAGE,NaN,1434138012-0007,1434138012,2019-12-31 02:19:29,outbound move
425530,2319,UNASSIGNED,FORK014507,2019-12-31 04:53:16,NaN,1,MOVE,NaN,1434138013-0001,1434138013,2019-12-31 02:07:16,location move
425531,2319,FORK014507,0090030365,2019-12-31 04:54:34,NaN,1,MOVE,NaN,1434138013-0001,1434138013,2019-12-31 02:07:16,location move
425532,2319,0090030365,009003091F,2021-04-07 08:31:21,NaN,1,FULLS,NaN,1434138013-0001,1434138013,2019-12-31 02:07:16,outbound move
425533,2319,009003091F,0110221311,2021-04-07 09:05:25,NaN,1,STAGE,NaN,1434138013-0001,1434138013,2019-12-31 02:07:16,outbound move
425534,2319,0110221311,DR058,2021-04-07 13:16:57,NaN,1,STAGE,NaN,1434138013-0001,1434138013,2019-12-31 02:07:16,outbound move

In [14]:




####estimating the current warmth of incoming products

###from the inbound datafame, add column 'estimate_temperature' to add the median temp. given the customer code

###make a dictionary with customer code and its median temperature
######get the median middle temperature of each customer code into a dataframe so you can 
warmthdf = pd.DataFrame({'customer_code': inbound['customer_code'], 'carrier_code': inbound['carrier_code'], 'middle_temperature': inbound['middle_temperature']})
    ###filter through missing values/droplevel at missing values
warmthdf = warmthdf.dropna()

warmthdict = {}
for customer in warmthdf.customer_code.unique():      ###per customercode, give the median middle_temperature
    median = warmthdf.loc[warmthdf['customer_code'] == customer]
    warmthdict[f'{customer}']=  median['middle_temperature'].median()

In [15]:
warmthdict['new'] = warmthdf['middle_temperature'].median() ###add median temp for the customer_codes that are new

###iterate over inbound and fill in the estimate_temperature 
for index, row in inbound.iterrows():
    if inbound.at[index, 'middle_temperature'] >-5000: ####fill in the middle_temperature if that is known
        inbound.at[index, 'estimate_temp'] = inbound.at[index, 'middle_temperature']
       
    else: ###else fill in the estimated temp. that belongs to the customer_code, unless it is not in the dict., then fill in 0.0 which is the median temp. of all the orders
        code = inbound.at[index, 'customer_code']        
        median = warmthdict.get(f'{code}', 0.0) 
        inbound.at[index, 'estimate_temp'] = median

In [16]:
warmthdict

{'2537.0': 0.0,
 '8873.0': 0.0,
 '14104.0': -1.5,
 '625.0': 0.0,
 '8187.0': -1.0,
 '5810.0': -1.0,
 '6134.0': -2.0,
 '6910.0': -1.0,
 '899.0': 1.0,
 '7240.0': -1.0,
 '874.0': 0.0,
 '114276.0': 0.0,
 '7475.0': 33.0,
 '1296.0': -3.0,
 '17296.0': -2.0,
 '7289.0': 32.5,
 '2319.0': 2.0,
 '117006.0': 0.0,
 '10377.0': -8.0,
 '1980.0': -1.0,
 '10235.0': -1.5,
 '1059.0': 0.0,
 '3610.0': -1.0,
 '1987.0': -1.0,
 '11383.0': -6.0,
 '615.0': 4.0,
 '8713.0': 0.0,
 '6147.0': -2.0,
 'new': 0.0}

In [133]:
###To check the different variances per customer_code: boxplot the different customer_code temperatures
warmthdf.assign(index=df.groupby('customer_code').cumcount()).pivot('index','customer_code','middle_temperature').plot(kind='box', figsize = [30,30])

In [77]:
###pallet history contains where packages are going. Which packages are interesting? Testing above. Making it into a feature:

###How many packages are entering a certain area at t as a feature for each location-type, we first make location types to and from
    ###
    ###How much time must be considered? 24-72h for blastfreezer, ideal: between in and out.
    ###What locations to consider? Ignore forks/dock/
    ###what locations can be considered the same, ideal: what locations have same temp.
    
    ##preprocessing the data:
    ###some packages are already in the warehouse for a long time
        #don't consider movements if the time between entranc and t is more than 72 hours because won't cost extra energy 
    



#df = df.assign(movcat = lambda x: (x[0:3]))
#df = df.assign(movcat = lambda x: (x['to_location_code'][0:3])

df = pallet[10000:50000]
for index, row in df.iterrows():  
        a = df.at[index, 'to_location_code']
        b = df.at[index, 'from_location_code']
        df.loc[index, 'frommovcat'] = b[0:3]
        df.loc[index, 'tomovcat'] = a[0:3]
df['tomovcat'].value_counts()


###per movement type I will make one feature that defines how many pallets are moved towards a location. 
    #df = df.assign(Product=lambda x: (x['Field_1'] * x['Field_2'] * x['Field_3']))
    

###divide moving history into different category of areas. 
#mapping = {'(/^FORK/gm)': 'Fork', '(/^CFORK/gm)': 'CFORK', '(/^30/gm)' : '30', '(/^CP/gm)' : 'CP',  '(/^50/gm)' : '50',  '(/^15/gm)' : '15', '(/^11/gm)' : '11',  '(/^01/gm)' : '01' 
           

    ### amount+1 for each order that entered the building within 24h
#            if t <= inbound.at[index, 'load_start_datetime'] <= newtime :
#                amount += measurewarmth(index, row)                            ### use measurewarmth to estimate the warmth that an entry brings in
                
#    return amount

003    8608
FOR    4982
004    4347
015    2640
005    2607
CFO    2459
002    2216
DR0    2051
012    1911
009    1370
010    1199
CP9    1088
CP2    1037
011     913
INV     712
001     599
CP1     399
CP6     241
WRA     221
014     151
013      58
DR9      49
CP7      45
SPJ      41
263      26
000      11
CP4       8
DR5       7
UNA       4
Name: tomovcat, dtype: int64

In [ ]:

###pallet types of locations:
#003    2130
#FOR    1177 
#012    1116
#011    1116
#004    1024
#005     619
#CP9     566
#DR0     483
#CP2     371
#CFO     282
#010     200
#009     174
#INV     142
#SPJ     133
#CP1     126
#CP6     109
#002      69
#WRA      60
#001      47
#015      40
#CP7       8
#CP4       5
#DR9       2