# Data loading

In [19]:
def load_data(data_path):
  data = pd.read_csv(data_path)  
  return data

inbound = load_data("inbound_loads.csv")
outbound = load_data("outbound_laods.csv")
weather = load_data("weather.csv")
#For loop to ensure that all pallet data is in the same dataframe
pallet = load_data("Pallet_history_Gold_Spike[0].csv")
for x in range(1, 10):
    pallet = pd.concat([pallet, load_data(f"Pallet_history_Gold_Spike[{x}].csv")])
    print(len(pallet))
trainentest = load_data("demand_kWtrain_val.csv")

1000000
1500000
2000000
2500000
3000000
3500000
4000000
4500000
4925535

# Python packages

In [18]:
import math, datetime, time, random
import numpy as np
import pandas as pd
from datetime import timedelta
import re
import math, datetime, time, random
import matplotlib.pyplot as plt

# Preprocessing Dataframes
Preprocessing inbound, outbound, pallet and weather 

setting up the features dataframe, giving it a date, time, year, month etc.

Create definition for adding time columns and making a datetime object of a column

In [3]:
def addtimecol(df, colname): ####input df and colname 
        df[colname] = pd.to_datetime(df[colname])         
        df['year'] = df[colname].dt.year
        df['month'] = df[colname].dt.month
        df['weekday'] = df[colname].dt.weekday
        df['day'] = df[colname].dt.day
        df['hour'] = df[colname].dt.hour
        df['minute'] = df[colname].dt.minute        
        return df
def make_datetime(df, col_name): ###To make datetime object from df at colname    
    for index, row in df.iterrows():
        t = df.at[index, col_name]
        time = datetime.datetime.strptime(t, '%Y-%m-%d %H:%M:%S')
        localtime = time - (timedelta(hours=6))
        df.at[index, 'localstrptime'] = localtime

Setting up a featurestrain set and add timecolumns, then make that into the csv file

In [6]:
featurestrain = pd.DataFrame({'datetime_local': trainentest['datetime_local'][0:273988]})
addtimecol(featurestrain, 'datetime_local')
featurestrain = featurestrain.set_index('datetime_local')

#featurestrain.to_csv('featurestrain.csv')

In [20]:
base_ft = load_data('featuretrain.csv')
base_ft = addtimecol(base_ft, 'datetime_local')

In [8]:
base_ft = load_data('featuretrain.csv')
base_ft

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC
0,2018-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:00:00-06:00,50.37,53.60,2019-01-01 00:00:00
1,2018-12-31 18:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:05:00-06:00,50.37,53.60,2019-01-01 00:05:00
2,2018-12-31 18:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:10:00-06:00,50.37,53.60,2019-01-01 00:10:00
3,2018-12-31 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:15:00-06:00,50.37,53.60,2019-01-01 00:15:00
4,2018-12-31 18:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:20:00-06:00,50.37,53.60,2019-01-01 00:20:00
5,2018-12-31 18:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:25:00-06:00,50.37,53.60,2019-01-01 00:25:00
6,2018-12-31 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:30:00-06:00,50.37,53.60,2019-01-01 00:30:00
7,2018-12-31 18:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:35:00-06:00,53.81,51.80,2019-01-01 00:35:00
8,2018-12-31 18:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:40:00-06:00,53.81,51.80,2019-01-01 00:40:00
9,2018-12-31 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:45:00-06:00,50.37,53.60,2019-01-01 00:45:00
10,2018-12-31 18:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:50:00-06:00,50.37,53.60,2019-01-01 00:50:00
11,2018-12-31 18:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:53:00-06:00,50.28,53.06,2019-01-01 00:53:00
12,2018-12-31 18:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:55:00-06:00,53.81,51.80,2019-01-01 00:55:00
13,2018-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:00:00-06:00,53.81,51.80,2019-01-01 01:00:00
14,2018-12-31 19:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:05:00-06:00,53.81,51.80,2019-01-01 01:05:00
15,2018-12-31 19:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:10:00-06:00,53.81,51.80,2019-01-01 01:10:00
16,2018-12-31 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:15:00-06:00,53.81,51.80,2019-01-01 01:15:00
17,2018-12-31 19:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:20:00-06:00,53.81,51.80,2019-01-01 01:20:00
18,2018-12-31 19:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:25:00-06:00,50.08,51.80,2019-01-01 01:25:00
19,2018-12-31 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:30:00-06:00,50.08,51.80,2019-01-01 01:30:00
20,2018-12-31 19:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:35:00-06:00,50.08,51.80,2019-01-01 01:35:00
21,2018-12-31 19:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:40:00-06:00,53.53,50.00,2019-01-01 01:40:00
22,2018-12-31 19:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:45:00-06:00,53.53,50.00,2019-01-01 01:45:00
23,2018-12-31 19:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:50:00-06:00,53.53,50.00,2019-01-01 01:50:00
24,2018-12-31 19:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:53:00-06:00,52.01,50.00,2019-01-01 01:53:00
25,2018-12-31 19:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:55:00-06:00,53.53,50.00,2019-01-01 01:55:00
26,2018-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:00:00-06:00,53.53,50.00,2019-01-01 02:00:00
27,2018-12-31 20:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:05:00-06:00,53.53,50.00,2019-01-01 02:05:00
28,2018-12-31 20:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:10:00-06:00,57.25,48.20,2019-01-01 02:10:00
29,2018-12-31 20:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:15:00-06:00,53.53,50.00,2019-01-01 02:15:00
...,...,...,...,...,...,...,...,...,...,...,...
485180,2021-12-31 15:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:40:00-06:00,77.94,69.80,2021-12-31 21:40:00
485181,2021-12-31 15:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:45:00-06:00,77.94,69.80,2021-12-31 21:45:00
485182,2021-12-31 15:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:50:00-06:00,77.94,69.80,2021-12-31 21:50:00
485183,2021-12-31 15:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:53:00-06:00,78.38,69.08,2021-12-31 21:53:00
485184,2021-12-31 15:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:55:00-06:00,77.94,69.80,2021-12-31 21:55:00
485185,2021-12-31 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:00:00-06:00,77.94,69.80,2021-12-31 22:00:00
485186,2021-12-31 16:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:05:00-06:00,77.94,69.80,2021-12-31 22:05:00
485187,2021-12-31 16:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:10:00-06:00,77.94,69.80,2021-12-31 22:10:00
485188,2021-12-31 16:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:15:00-06:00,77.94,69.80,2021-12-31 22:15:00
485189,2021-12-31 16:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:20:00-06:00,77.94,69.80,2021-12-31 22:20:00
485190,2021-12-31 16:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:25:00-06:00,77.94,69.80,2021-12-31 22:25:00
485191,2021-12-31 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:30:00-06:00,77.94,69.80,2021-12-31 22:30:00
485192,2021-12-31 16:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:35:00-06:00,77.94,69.80,2021-12-31 22:35:00
485193,2021-12-31 16:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:40:00-06:00,77.94,69.80,2021-12-31 22:40:00
485194,2021-12-31 16:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:45:00-06:00,77.94,69.80,2021-12-31 22:45:00
485195,2021-12-31 16:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:50:00-06:00,77.94,69.80,2021-12-31 22:50:00
485196,2021-12-31 16:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:53:00-06:00,80.90,69.08,2021-12-31 22:53:00
485197,2021-12-31 16:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:55:00-06:00,77.94,69.80,2021-12-31 22:55:00
485198,2021-12-31 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:00:00-06:00,77.94,69.80,2021-12-31 23:00:00
485199,2021-12-31 17:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:05:00-06:00,77.94,69.80,2021-12-31 23:05:00
485200,2021-12-31 17:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:10:00-06:00,77.94,69.80,2021-12-31 23:10:00
485201,2021-12-31 17:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:15:00-06:00,77.94,69.80,2021-12-31 23:15:00
485202,2021-12-31 17:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:20:00-06:00,77.94,69.80,2021-12-31 23:20:00
485203,2021-12-31 17:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:25:00-06:00,82.89,68.00,2021-12-31 23:25:00
485204,2021-12-31 17:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:30:00-06:00,82.89,68.00,2021-12-31 23:30:00
485205,2021-12-31 17:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:35:00-06:00,82.89,68.00,2021-12-31 23:35:00
485206,2021-12-31 17:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:40:00-06:00,82.89,68.00,2021-12-31 23:40:00
485207,2021-12-31 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:45:00-06:00,82.89,68.00,2021-12-31 23:45:00
485208,2021-12-31 17:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:50:00-06:00,82.89,68.00,2021-12-31 23:50:00
485209,2021-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 18:00:00-06:00,82.89,68.00,2022-01-01 00:00:00

Preprocessing inbound dataframe

In [9]:
#droplevels where carriercode is cancel or None because then you cannot estimate the temp. //its not that many
#droplevels where load_start and truck_signin are both missing because useless info then
inbound = load_data("inbound_loads.csv")
inbound_indexes = inbound[inbound['carrier_code'] == "CANCEL"].index
inbound.drop(inbound_indexes, inplace = True)
inbound.dropna(subset = ['customer_code'], inplace = True)
inbound.dropna(axis = 0, how = 'any', thresh = 1, subset = ['load_start_datetime', 'truck_signin_datetime'], inplace = True)

Preprocessing weather dataframe

In [21]:
base_weather = load_data('weather.csv') 

#Add localstrptime, 6 hours before UTC
#base_weather = make_datetime(base_weather, 'datetime_UTC')
base_weather["localstrptime"]= pd.to_datetime(base_weather["localstrptime"])

#Remove unnecessary columns/change column names
base_weather = base_weather.drop(['Unnamed: 0', 'Unnamed: 0.1', 'hour'], axis=1)
base_weather = base_weather.rename(columns={'localstrptime':'datetime_local'})

#Add time columns.
base_weather = addtimecol(base_weather, 'datetime_local')

In [23]:
#Concatenate the weather DataFrame to the base DataFrame
new_ft = pd.concat([base_ft, base_weather], axis=1)

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,...,datetime,Relative Humidity,Temperature,datetime_UTC,year,month,weekday,day,hour,minute
0,2018-12-31 18:00:00,2018,12,0,31,18,0,2018-12-31 18:00:00-06:00,50.37,53.60,...,2018-12-31 18:00:00-06:00,50.37,53.60,2019-01-01 00:00:00,2018.0,12.0,0.0,31.0,18.0,0.0
1,2018-12-31 18:05:00,2018,12,0,31,18,5,2018-12-31 18:05:00-06:00,50.37,53.60,...,2018-12-31 18:05:00-06:00,50.37,53.60,2019-01-01 00:05:00,2018.0,12.0,0.0,31.0,18.0,5.0
2,2018-12-31 18:10:00,2018,12,0,31,18,10,2018-12-31 18:10:00-06:00,50.37,53.60,...,2018-12-31 18:10:00-06:00,50.37,53.60,2019-01-01 00:10:00,2018.0,12.0,0.0,31.0,18.0,10.0
3,2018-12-31 18:15:00,2018,12,0,31,18,15,2018-12-31 18:15:00-06:00,50.37,53.60,...,2018-12-31 18:15:00-06:00,50.37,53.60,2019-01-01 00:15:00,2018.0,12.0,0.0,31.0,18.0,15.0
4,2018-12-31 18:20:00,2018,12,0,31,18,20,2018-12-31 18:20:00-06:00,50.37,53.60,...,2018-12-31 18:20:00-06:00,50.37,53.60,2019-01-01 00:20:00,2018.0,12.0,0.0,31.0,18.0,20.0
5,2018-12-31 18:25:00,2018,12,0,31,18,25,2018-12-31 18:25:00-06:00,50.37,53.60,...,2018-12-31 18:25:00-06:00,50.37,53.60,2019-01-01 00:25:00,2018.0,12.0,0.0,31.0,18.0,25.0
6,2018-12-31 18:30:00,2018,12,0,31,18,30,2018-12-31 18:30:00-06:00,50.37,53.60,...,2018-12-31 18:30:00-06:00,50.37,53.60,2019-01-01 00:30:00,2018.0,12.0,0.0,31.0,18.0,30.0
7,2018-12-31 18:35:00,2018,12,0,31,18,35,2018-12-31 18:35:00-06:00,53.81,51.80,...,2018-12-31 18:35:00-06:00,53.81,51.80,2019-01-01 00:35:00,2018.0,12.0,0.0,31.0,18.0,35.0
8,2018-12-31 18:40:00,2018,12,0,31,18,40,2018-12-31 18:40:00-06:00,53.81,51.80,...,2018-12-31 18:40:00-06:00,53.81,51.80,2019-01-01 00:40:00,2018.0,12.0,0.0,31.0,18.0,40.0
9,2018-12-31 18:45:00,2018,12,0,31,18,45,2018-12-31 18:45:00-06:00,50.37,53.60,...,2018-12-31 18:45:00-06:00,50.37,53.60,2019-01-01 00:45:00,2018.0,12.0,0.0,31.0,18.0,45.0
10,2018-12-31 18:50:00,2018,12,0,31,18,50,2018-12-31 18:50:00-06:00,50.37,53.60,...,2018-12-31 18:50:00-06:00,50.37,53.60,2019-01-01 00:50:00,2018.0,12.0,0.0,31.0,18.0,50.0
11,2018-12-31 18:53:00,2018,12,0,31,18,53,2018-12-31 18:53:00-06:00,50.28,53.06,...,2018-12-31 18:53:00-06:00,50.28,53.06,2019-01-01 00:53:00,2018.0,12.0,0.0,31.0,18.0,53.0
12,2018-12-31 18:55:00,2018,12,0,31,18,55,2018-12-31 18:55:00-06:00,53.81,51.80,...,2018-12-31 18:55:00-06:00,53.81,51.80,2019-01-01 00:55:00,2018.0,12.0,0.0,31.0,18.0,55.0
13,2018-12-31 19:00:00,2018,12,0,31,19,0,2018-12-31 19:00:00-06:00,53.81,51.80,...,2018-12-31 19:00:00-06:00,53.81,51.80,2019-01-01 01:00:00,2018.0,12.0,0.0,31.0,19.0,0.0
14,2018-12-31 19:05:00,2018,12,0,31,19,5,2018-12-31 19:05:00-06:00,53.81,51.80,...,2018-12-31 19:05:00-06:00,53.81,51.80,2019-01-01 01:05:00,2018.0,12.0,0.0,31.0,19.0,5.0
15,2018-12-31 19:10:00,2018,12,0,31,19,10,2018-12-31 19:10:00-06:00,53.81,51.80,...,2018-12-31 19:10:00-06:00,53.81,51.80,2019-01-01 01:10:00,2018.0,12.0,0.0,31.0,19.0,10.0
16,2018-12-31 19:15:00,2018,12,0,31,19,15,2018-12-31 19:15:00-06:00,53.81,51.80,...,2018-12-31 19:15:00-06:00,53.81,51.80,2019-01-01 01:15:00,2018.0,12.0,0.0,31.0,19.0,15.0
17,2018-12-31 19:20:00,2018,12,0,31,19,20,2018-12-31 19:20:00-06:00,53.81,51.80,...,2018-12-31 19:20:00-06:00,53.81,51.80,2019-01-01 01:20:00,2018.0,12.0,0.0,31.0,19.0,20.0
18,2018-12-31 19:25:00,2018,12,0,31,19,25,2018-12-31 19:25:00-06:00,50.08,51.80,...,2018-12-31 19:25:00-06:00,50.08,51.80,2019-01-01 01:25:00,2018.0,12.0,0.0,31.0,19.0,25.0
19,2018-12-31 19:30:00,2018,12,0,31,19,30,2018-12-31 19:30:00-06:00,50.08,51.80,...,2018-12-31 19:30:00-06:00,50.08,51.80,2019-01-01 01:30:00,2018.0,12.0,0.0,31.0,19.0,30.0
20,2018-12-31 19:35:00,2018,12,0,31,19,35,2018-12-31 19:35:00-06:00,50.08,51.80,...,2018-12-31 19:35:00-06:00,50.08,51.80,2019-01-01 01:35:00,2018.0,12.0,0.0,31.0,19.0,35.0
21,2018-12-31 19:40:00,2018,12,0,31,19,40,2018-12-31 19:40:00-06:00,53.53,50.00,...,2018-12-31 19:40:00-06:00,53.53,50.00,2019-01-01 01:40:00,2018.0,12.0,0.0,31.0,19.0,40.0
22,2018-12-31 19:45:00,2018,12,0,31,19,45,2018-12-31 19:45:00-06:00,53.53,50.00,...,2018-12-31 19:45:00-06:00,53.53,50.00,2019-01-01 01:45:00,2018.0,12.0,0.0,31.0,19.0,45.0
23,2018-12-31 19:50:00,2018,12,0,31,19,50,2018-12-31 19:50:00-06:00,53.53,50.00,...,2018-12-31 19:50:00-06:00,53.53,50.00,2019-01-01 01:50:00,2018.0,12.0,0.0,31.0,19.0,50.0
24,2018-12-31 19:53:00,2018,12,0,31,19,53,2018-12-31 19:53:00-06:00,52.01,50.00,...,2018-12-31 19:53:00-06:00,52.01,50.00,2019-01-01 01:53:00,2018.0,12.0,0.0,31.0,19.0,53.0
25,2018-12-31 19:55:00,2018,12,0,31,19,55,2018-12-31 19:55:00-06:00,53.53,50.00,...,2018-12-31 19:55:00-06:00,53.53,50.00,2019-01-01 01:55:00,2018.0,12.0,0.0,31.0,19.0,55.0
26,2018-12-31 20:00:00,2018,12,0,31,20,0,2018-12-31 20:00:00-06:00,53.53,50.00,...,2018-12-31 20:00:00-06:00,53.53,50.00,2019-01-01 02:00:00,2018.0,12.0,0.0,31.0,20.0,0.0
27,2018-12-31 20:05:00,2018,12,0,31,20,5,2018-12-31 20:05:00-06:00,53.53,50.00,...,2018-12-31 20:05:00-06:00,53.53,50.00,2019-01-01 02:05:00,2018.0,12.0,0.0,31.0,20.0,5.0
28,2018-12-31 20:10:00,2018,12,0,31,20,10,2018-12-31 20:10:00-06:00,57.25,48.20,...,2018-12-31 20:10:00-06:00,57.25,48.20,2019-01-01 02:10:00,2018.0,12.0,0.0,31.0,20.0,10.0
29,2018-12-31 20:15:00,2018,12,0,31,20,15,2018-12-31 20:15:00-06:00,53.53,50.00,...,2018-12-31 20:15:00-06:00,53.53,50.00,2019-01-01 02:15:00,2018.0,12.0,0.0,31.0,20.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485180,2021-12-31 15:40:00,2021,12,4,31,15,40,2021-12-31 15:40:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485181,2021-12-31 15:45:00,2021,12,4,31,15,45,2021-12-31 15:45:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485182,2021-12-31 15:50:00,2021,12,4,31,15,50,2021-12-31 15:50:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485183,2021-12-31 15:53:00,2021,12,4,31,15,53,2021-12-31 15:53:00-06:00,78.38,69.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485184,2021-12-31 15:55:00,2021,12,4,31,15,55,2021-12-31 15:55:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485185,2021-12-31 16:00:00,2021,12,4,31,16,0,2021-12-31 16:00:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485186,2021-12-31 16:05:00,2021,12,4,31,16,5,2021-12-31 16:05:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485187,2021-12-31 16:10:00,2021,12,4,31,16,10,2021-12-31 16:10:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485188,2021-12-31 16:15:00,2021,12,4,31,16,15,2021-12-31 16:15:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485189,2021-12-31 16:20:00,2021,12,4,31,16,20,2021-12-31 16:20:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485190,2021-12-31 16:25:00,2021,12,4,31,16,25,2021-12-31 16:25:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485191,2021-12-31 16:30:00,2021,12,4,31,16,30,2021-12-31 16:30:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485192,2021-12-31 16:35:00,2021,12,4,31,16,35,2021-12-31 16:35:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485193,2021-12-31 16:40:00,2021,12,4,31,16,40,2021-12-31 16:40:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485194,2021-12-31 16:45:00,2021,12,4,31,16,45,2021-12-31 16:45:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485195,2021-12-31 16:50:00,2021,12,4,31,16,50,2021-12-31 16:50:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485196,2021-12-31 16:53:00,2021,12,4,31,16,53,2021-12-31 16:53:00-06:00,80.90,69.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485197,2021-12-31 16:55:00,2021,12,4,31,16,55,2021-12-31 16:55:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485198,2021-12-31 17:00:00,2021,12,4,31,17,0,2021-12-31 17:00:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485199,2021-12-31 17:05:00,2021,12,4,31,17,5,2021-12-31 17:05:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485200,2021-12-31 17:10:00,2021,12,4,31,17,10,2021-12-31 17:10:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485201,2021-12-31 17:15:00,2021,12,4,31,17,15,2021-12-31 17:15:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485202,2021-12-31 17:20:00,2021,12,4,31,17,20,2021-12-31 17:20:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485203,2021-12-31 17:25:00,2021,12,4,31,17,25,2021-12-31 17:25:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485204,2021-12-31 17:30:00,2021,12,4,31,17,30,2021-12-31 17:30:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485205,2021-12-31 17:35:00,2021,12,4,31,17,35,2021-12-31 17:35:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485206,2021-12-31 17:40:00,2021,12,4,31,17,40,2021-12-31 17:40:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485207,2021-12-31 17:45:00,2021,12,4,31,17,45,2021-12-31 17:45:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485208,2021-12-31 17:50:00,2021,12,4,31,17,50,2021-12-31 17:50:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485209,2021-12-31 18:00:00,2021,12,4,31,18,0,2021-12-31 18:00:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Creating features Dataframe

In [102]:
featurestrain = load_data('featurestrain.csv')
featurestrain['datetime_local'] = pd.to_datetime(featurestrain['datetime_local']) 
featurestrain = featurestrain.set_index('datetime_local')

Combine weather data with featurestrain: Temperature and Humidity

In [13]:
df1 = base_ft.sort_values('datetime_local') 
df2 = base_weather.sort_values('datetime_local')
fttrain = pd.concat([df1, df2], axis = 1)

In [14]:
fttrain

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,...,datetime,Relative Humidity,Temperature,datetime_UTC,year,month,weekday,day,hour,minute
0,2018-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:00:00-06:00,50.37,53.60,...,2018-12-31 18:00:00-06:00,50.37,53.60,2019-01-01 00:00:00,2018.0,12.0,0.0,31.0,18.0,0.0
1,2018-12-31 18:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:05:00-06:00,50.37,53.60,...,2018-12-31 18:05:00-06:00,50.37,53.60,2019-01-01 00:05:00,2018.0,12.0,0.0,31.0,18.0,5.0
2,2018-12-31 18:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:10:00-06:00,50.37,53.60,...,2018-12-31 18:10:00-06:00,50.37,53.60,2019-01-01 00:10:00,2018.0,12.0,0.0,31.0,18.0,10.0
3,2018-12-31 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:15:00-06:00,50.37,53.60,...,2018-12-31 18:15:00-06:00,50.37,53.60,2019-01-01 00:15:00,2018.0,12.0,0.0,31.0,18.0,15.0
4,2018-12-31 18:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:20:00-06:00,50.37,53.60,...,2018-12-31 18:20:00-06:00,50.37,53.60,2019-01-01 00:20:00,2018.0,12.0,0.0,31.0,18.0,20.0
5,2018-12-31 18:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:25:00-06:00,50.37,53.60,...,2018-12-31 18:25:00-06:00,50.37,53.60,2019-01-01 00:25:00,2018.0,12.0,0.0,31.0,18.0,25.0
6,2018-12-31 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:30:00-06:00,50.37,53.60,...,2018-12-31 18:30:00-06:00,50.37,53.60,2019-01-01 00:30:00,2018.0,12.0,0.0,31.0,18.0,30.0
7,2018-12-31 18:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:35:00-06:00,53.81,51.80,...,2018-12-31 18:35:00-06:00,53.81,51.80,2019-01-01 00:35:00,2018.0,12.0,0.0,31.0,18.0,35.0
8,2018-12-31 18:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:40:00-06:00,53.81,51.80,...,2018-12-31 18:40:00-06:00,53.81,51.80,2019-01-01 00:40:00,2018.0,12.0,0.0,31.0,18.0,40.0
9,2018-12-31 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:45:00-06:00,50.37,53.60,...,2018-12-31 18:45:00-06:00,50.37,53.60,2019-01-01 00:45:00,2018.0,12.0,0.0,31.0,18.0,45.0
10,2018-12-31 18:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:50:00-06:00,50.37,53.60,...,2018-12-31 18:50:00-06:00,50.37,53.60,2019-01-01 00:50:00,2018.0,12.0,0.0,31.0,18.0,50.0
11,2018-12-31 18:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:53:00-06:00,50.28,53.06,...,2018-12-31 18:53:00-06:00,50.28,53.06,2019-01-01 00:53:00,2018.0,12.0,0.0,31.0,18.0,53.0
12,2018-12-31 18:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:55:00-06:00,53.81,51.80,...,2018-12-31 18:55:00-06:00,53.81,51.80,2019-01-01 00:55:00,2018.0,12.0,0.0,31.0,18.0,55.0
13,2018-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:00:00-06:00,53.81,51.80,...,2018-12-31 19:00:00-06:00,53.81,51.80,2019-01-01 01:00:00,2018.0,12.0,0.0,31.0,19.0,0.0
14,2018-12-31 19:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:05:00-06:00,53.81,51.80,...,2018-12-31 19:05:00-06:00,53.81,51.80,2019-01-01 01:05:00,2018.0,12.0,0.0,31.0,19.0,5.0
15,2018-12-31 19:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:10:00-06:00,53.81,51.80,...,2018-12-31 19:10:00-06:00,53.81,51.80,2019-01-01 01:10:00,2018.0,12.0,0.0,31.0,19.0,10.0
16,2018-12-31 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:15:00-06:00,53.81,51.80,...,2018-12-31 19:15:00-06:00,53.81,51.80,2019-01-01 01:15:00,2018.0,12.0,0.0,31.0,19.0,15.0
17,2018-12-31 19:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:20:00-06:00,53.81,51.80,...,2018-12-31 19:20:00-06:00,53.81,51.80,2019-01-01 01:20:00,2018.0,12.0,0.0,31.0,19.0,20.0
18,2018-12-31 19:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:25:00-06:00,50.08,51.80,...,2018-12-31 19:25:00-06:00,50.08,51.80,2019-01-01 01:25:00,2018.0,12.0,0.0,31.0,19.0,25.0
19,2018-12-31 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:30:00-06:00,50.08,51.80,...,2018-12-31 19:30:00-06:00,50.08,51.80,2019-01-01 01:30:00,2018.0,12.0,0.0,31.0,19.0,30.0
20,2018-12-31 19:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:35:00-06:00,50.08,51.80,...,2018-12-31 19:35:00-06:00,50.08,51.80,2019-01-01 01:35:00,2018.0,12.0,0.0,31.0,19.0,35.0
21,2018-12-31 19:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:40:00-06:00,53.53,50.00,...,2018-12-31 19:40:00-06:00,53.53,50.00,2019-01-01 01:40:00,2018.0,12.0,0.0,31.0,19.0,40.0
22,2018-12-31 19:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:45:00-06:00,53.53,50.00,...,2018-12-31 19:45:00-06:00,53.53,50.00,2019-01-01 01:45:00,2018.0,12.0,0.0,31.0,19.0,45.0
23,2018-12-31 19:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:50:00-06:00,53.53,50.00,...,2018-12-31 19:50:00-06:00,53.53,50.00,2019-01-01 01:50:00,2018.0,12.0,0.0,31.0,19.0,50.0
24,2018-12-31 19:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:53:00-06:00,52.01,50.00,...,2018-12-31 19:53:00-06:00,52.01,50.00,2019-01-01 01:53:00,2018.0,12.0,0.0,31.0,19.0,53.0
25,2018-12-31 19:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:55:00-06:00,53.53,50.00,...,2018-12-31 19:55:00-06:00,53.53,50.00,2019-01-01 01:55:00,2018.0,12.0,0.0,31.0,19.0,55.0
26,2018-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:00:00-06:00,53.53,50.00,...,2018-12-31 20:00:00-06:00,53.53,50.00,2019-01-01 02:00:00,2018.0,12.0,0.0,31.0,20.0,0.0
27,2018-12-31 20:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:05:00-06:00,53.53,50.00,...,2018-12-31 20:05:00-06:00,53.53,50.00,2019-01-01 02:05:00,2018.0,12.0,0.0,31.0,20.0,5.0
28,2018-12-31 20:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:10:00-06:00,57.25,48.20,...,2018-12-31 20:10:00-06:00,57.25,48.20,2019-01-01 02:10:00,2018.0,12.0,0.0,31.0,20.0,10.0
29,2018-12-31 20:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:15:00-06:00,53.53,50.00,...,2018-12-31 20:15:00-06:00,53.53,50.00,2019-01-01 02:15:00,2018.0,12.0,0.0,31.0,20.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485180,2021-12-31 15:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:40:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485181,2021-12-31 15:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:45:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485182,2021-12-31 15:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:50:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485183,2021-12-31 15:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:53:00-06:00,78.38,69.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485184,2021-12-31 15:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:55:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485185,2021-12-31 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:00:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485186,2021-12-31 16:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:05:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485187,2021-12-31 16:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:10:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485188,2021-12-31 16:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:15:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485189,2021-12-31 16:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:20:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485190,2021-12-31 16:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:25:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485191,2021-12-31 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:30:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485192,2021-12-31 16:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:35:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485193,2021-12-31 16:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:40:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485194,2021-12-31 16:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:45:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485195,2021-12-31 16:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:50:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485196,2021-12-31 16:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:53:00-06:00,80.90,69.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485197,2021-12-31 16:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:55:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485198,2021-12-31 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:00:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485199,2021-12-31 17:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:05:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485200,2021-12-31 17:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:10:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485201,2021-12-31 17:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:15:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485202,2021-12-31 17:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:20:00-06:00,77.94,69.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485203,2021-12-31 17:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:25:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485204,2021-12-31 17:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:30:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485205,2021-12-31 17:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:35:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485206,2021-12-31 17:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:40:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485207,2021-12-31 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:45:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485208,2021-12-31 17:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:50:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485209,2021-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 18:00:00-06:00,82.89,68.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
new_ft

NameError: name 'new_ft' is not defined

Drop irrelevant levels waar NA in staat

In [ ]:
fttrain.dropna(subset={'year', 'Temperature'})

# First Feature - Warmth movement
quantify warmth movement in terms of pallet movement in pallet DataFrame

First, testing what pallet movement categories are relevant
Considerations so far:
what is interesting data for where warm orders go?
        Move_category: outbound_move = not interesting because orders have already been stored(time between receive date and t is big)
        inbound_move = ; location_move = 
        received_date: skip too old packages because they are in the right temp. to store --> too old = longer than 72h. in?
        to_location_code: CPsth = per definitie een outbound move. DRsth = per definitie een outbound move
        work_type; MOVE = location_move; PUTAWAYs = inbound, close to entrance;

# Plannen - start - inbound moves
for move category/work_type, make a DataFrame where palletcount is given per location 'category'

How many pallets are moved towards a location?
1. create testpal dataframe, make sure transaction_date/receive_date is a datetime object, remove rows where received date is beyond 72 hours because then it is out of the blast freezer maximally. (maybe 72 hours is a tad too strict, a week may be better)
2. for testing: create testpal_sec and add the three letters 
2. add to testpal create tomovcat and frommovcat 3 letters per move category (I dont get this to work yet)
3. create new dataframe and store how many pallets moved towards a tomovcat
4. create for each unique movecat a row in a dataframe and count the amount of pallets going there
5. concat the base_ft and palmov df

# 1.
Create testpal dataframe

In [4]:
testpal = pd.DataFrame({'from_location_code' : pallet['from_location_code'], 'move_category' : pallet['move_category'], 'received_date' : pallet['received_date'], 'customer_code' : pallet['customer_code'],  'to_location_code' : pallet['to_location_code'],  'work_type' : pallet['work_type'],  'transaction_date' : pallet['transaction_date'], 'quantity' : pallet["quantity"]    })
testpal = testpal[testpal['move_category'] == 'inbound move']
testpal['datetime_local'] = pd.to_datetime(testpal['transaction_date'])
testpal['received_datetime'] = pd.to_datetime(testpal['received_date'])
testpal = testpal.drop(testpal[((testpal['received_datetime'] + timedelta(days = 5)) < testpal['datetime_local'])].index)

# 2 
create testpal section to test with

In [53]:
testpal_sec = testpal[0:1000]

In [52]:
testpal_sec

NameError: name 'testpal_sec' is not defined

# 2.
Make column for category frommovcat and tomovcat in testpal and testpal_sec

In [54]:
##just for now to make it quick(this one works)
for index, row in testpal_sec.iterrows():  
        a = testpal_sec.at[index, 'to_location_code']
        b = testpal_sec.at[index, 'from_location_code']
        testpal_sec.loc[index, 'frommovcat'] = b[0:3]
        testpal_sec.loc[index, 'tomovcat'] = a[0:3]

C:\Users\sonja\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\sonja\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [55]:
def addtofrom(palletdf):
    newpalletdf = palletdf.copy()
    for index, row in palletdf.iterrows():  
        a = palletdf.at[index, 'to_location_code']        
        newpalletdf.loc[index, 'tomovcat'] = a[0:3]
        b = palletdf.at[index, 'from_location_code']
        palletdf.loc[index, 'frommovcat'] = b[0:3]
    return newpalletdf

Create dataframe section for each worktype

In [56]:
inunl = testpal[testpal['work_type'] == 'UN-LOAD'] 
inputa = testpal[testpal['work_type'] == 'PUTAWAYS'] 
ininb = testpal[testpal['work_type'] == 'INBOUNDRUN']

Create frommovcat and tomovcat for each dataframe

In [325]:
##This doesn't work
ininb = addtofrom(ininb)
inputa = addtofrom(inputa)
inunl = addtofrom(inunl)

# 3
Getting it to work for specific case

In [16]:
movedpal = pd.DataFrame({'datetime_local': testpal_sec['datetime_local']})
for index, row in new_ft.iterrows():
    time = new_ft.at[index, 'datetime_local']    
    mask = (movedpal['datetime_local'] > time) & (testpal_sec['datetime_local'] <= time + timedelta(hours = 24))
#    movedpal.at[index, "003"] = testpal_sec[testpal_sec['tomovcat'] == "003"].quantity.loc[mask].sum()
    #relevant.at[index, 'total_weight'] = base_inbound.net_weight.loc[mask].sum()

NameError: name 'testpal_sec' is not defined

In [57]:
testpal_sec

,from_location_code,move_category,received_date,customer_code,to_location_code,work_type,transaction_date,quantity,datetime_local,received_datetime,frommovcat,tomovcat
164,DOOR 59,inbound move,2021-11-01 13:36:13,2537,0110230774,PUTAWAYS,2021-11-01 18:42:05,90,2021-11-01 18:42:05,2021-11-01 13:36:13,DOO,011
179,DOOR 59,inbound move,2021-11-01 13:37:55,2537,0110230792,PUTAWAYS,2021-11-01 18:50:43,90,2021-11-01 18:50:43,2021-11-01 13:37:55,DOO,011
184,DOOR 59,inbound move,2021-11-01 13:40:44,2537,0110220194,PUTAWAYS,2021-11-01 18:48:14,93,2021-11-01 18:48:14,2021-11-01 13:40:44,DOO,011
189,DOOR 59,inbound move,2021-11-01 13:41:07,2537,0110230782,PUTAWAYS,2021-11-01 18:38:21,112,2021-11-01 18:38:21,2021-11-01 13:41:07,DOO,011
196,DOOR 59,inbound move,2021-11-01 13:41:28,2537,0110211454,PUTAWAYS,2021-11-01 18:33:59,112,2021-11-01 18:33:59,2021-11-01 13:41:28,DOO,011
198,DOOR 59,inbound move,2021-11-01 13:41:46,2537,0110210521,PUTAWAYS,2021-11-01 18:31:19,112,2021-11-01 18:31:19,2021-11-01 13:41:46,DOO,011
202,DOOR 59,inbound move,2021-11-01 13:42:11,2537,0110231453,PUTAWAYS,2021-11-01 18:29:09,112,2021-11-01 18:29:09,2021-11-01 13:42:11,DOO,011
204,DOOR 59,inbound move,2021-11-01 13:42:33,2537,0110230942,PUTAWAYS,2021-11-01 18:26:51,112,2021-11-01 18:26:51,2021-11-01 13:42:33,DOO,011
206,DOOR 59,inbound move,2021-11-01 13:43:25,2537,0110230592,PUTAWAYS,2021-11-01 18:24:32,112,2021-11-01 18:24:32,2021-11-01 13:43:25,DOO,011
213,DOOR 59,inbound move,2021-11-01 13:50:05,2537,0110230184,PUTAWAYS,2021-11-01 17:54:26,112,2021-11-01 17:54:26,2021-11-01 13:50:05,DOO,011
215,DOOR 59,inbound move,2021-11-01 14:02:41,2537,0110231193,PUTAWAYS,2021-11-01 17:58:45,112,2021-11-01 17:58:45,2021-11-01 14:02:41,DOO,011
220,DOOR 59,inbound move,2021-11-01 14:09:45,2537,0110230342,PUTAWAYS,2021-11-01 18:01:08,112,2021-11-01 18:01:08,2021-11-01 14:09:45,DOO,011
222,DOOR 59,inbound move,2021-11-01 14:18:28,2537,0110231105,PUTAWAYS,2021-11-01 18:14:49,112,2021-11-01 18:14:49,2021-11-01 14:18:28,DOO,011
231,DOOR 59,inbound move,2021-11-01 14:00:08,2537,0110230253,PUTAWAYS,2021-11-01 17:56:32,112,2021-11-01 17:56:32,2021-11-01 14:00:08,DOO,011
233,DOOR 59,inbound move,2021-11-01 14:28:11,2537,0110231384,PUTAWAYS,2021-11-01 18:21:46,112,2021-11-01 18:21:46,2021-11-01 14:28:11,DOO,011
245,DOOR 54,inbound move,2021-11-18 21:06:21,2537,0110220501,PUTAWAYS,2021-11-18 23:26:08,80,2021-11-18 23:26:08,2021-11-18 21:06:21,DOO,011
246,DOOR 54,inbound move,2021-11-18 21:07:12,2537,0110180703,PUTAWAYS,2021-11-18 23:58:50,80,2021-11-18 23:58:50,2021-11-18 21:07:12,DOO,011
247,DOOR 54,inbound move,2021-11-18 21:07:36,2537,0110200821,PUTAWAYS,2021-11-19 00:23:37,80,2021-11-19 00:23:37,2021-11-18 21:07:36,DOO,011
248,DOOR 54,inbound move,2021-11-18 21:10:47,2537,0110200952,PUTAWAYS,2021-11-19 00:10:23,80,2021-11-19 00:10:23,2021-11-18 21:10:47,DOO,011
249,DOOR 54,inbound move,2021-11-18 21:11:35,2537,0110201023,PUTAWAYS,2021-11-19 00:30:18,80,2021-11-19 00:30:18,2021-11-18 21:11:35,DOO,011
250,DOOR 54,inbound move,2021-11-18 21:11:55,2537,0110201033,PUTAWAYS,2021-11-19 00:34:15,80,2021-11-19 00:34:15,2021-11-18 21:11:55,DOO,011
251,DOOR 54,inbound move,2021-11-18 21:12:20,2537,0110201033,PUTAWAYS,2021-11-19 00:39:07,80,2021-11-19 00:39:07,2021-11-18 21:12:20,DOO,011
252,DOOR 54,inbound move,2021-11-18 21:13:52,2537,0110180214,PUTAWAYS,2021-11-19 00:59:28,80,2021-11-19 00:59:28,2021-11-18 21:13:52,DOO,011
261,DOOR 54,inbound move,2021-11-18 21:14:19,2537,0110180234,PUTAWAYS,2021-11-19 00:51:37,80,2021-11-19 00:51:37,2021-11-18 21:14:19,DOO,011
262,DOOR 54,inbound move,2021-11-18 21:14:39,2537,0110220594,PUTAWAYS,2021-11-19 00:44:14,80,2021-11-19 00:44:14,2021-11-18 21:14:39,DOO,011
263,DOOR 54,inbound move,2021-11-18 21:14:59,2537,0110200952,PUTAWAYS,2021-11-19 00:13:13,80,2021-11-19 00:13:13,2021-11-18 21:14:59,DOO,011
264,DOOR 54,inbound move,2021-11-18 21:15:22,2537,0110200564,PUTAWAYS,2021-11-19 00:17:00,80,2021-11-19 00:17:00,2021-11-18 21:15:22,DOO,011
265,DOOR 54,inbound move,2021-11-18 21:15:40,2537,0110180284,PUTAWAYS,2021-11-19 01:31:10,80,2021-11-19 01:31:10,2021-11-18 21:15:40,DOO,011
266,DOOR 54,inbound move,2021-11-18 21:16:00,2537,0110180383,PUTAWAYS,2021-11-19 01:38:04,80,2021-11-19 01:38:04,2021-11-18 21:16:00,DOO,011
267,DOOR 54,inbound move,2021-11-18 21:16:22,2537,0110180402,PUTAWAYS,2021-11-19 01:40:55,80,2021-11-19 01:40:55,2021-11-18 21:16:22,DOO,011
...,...,...,...,...,...,...,...,...,...,...,...,...
6451,DOOR 39,inbound move,2021-11-06 09:21:12,8873,0040210723,PUTAWAYS,2021-11-06 11:06:08,64,2021-11-06 11:06:08,2021-11-06 09:21:12,DOO,004
6453,DOOR 39,inbound move,2021-11-06 09:25:09,8873,0040210773,PUTAWAYS,2021-11-06 11:09:00,64,2021-11-06 11:09:00,2021-11-06 09:25:09,DOO,004
6455,DOOR 39,inbound move,2021-11-06 09:25:27,8873,0040210773,PUTAWAYS,2021-11-06 11:09:00,64,2021-11-06 11:09:00,2021-11-06 09:25:27,DOO,004
6457,DOOR 39,inbound move,2021-11-06 09:26:28,8873,0040210824,PUTAWAYS,2021-11-06 11:15:35,64,2021-11-06 11:15:35,2021-11-06 09:26:28,DOO,004
6459,DOOR 39,inbound move,2021-11-06 09:26:50,8873,0040210824,PUTAWAYS,2021-11-06 11:15:35,64,2021-11-06 11:15:35,2021-11-06 09:26:50,DOO,004
6463,DOOR 39,inbound move,2021-11-06 09:27:49,8873,0040220174,PUTAWAYS,2021-11-06 11:23:44,64,2021-11-06 11:23:44,2021-11-06 09:27:49,DOO,004
6465,DOOR 39,inbound move,2021-11-06 09:28:14,8873,0040220174,PUTAWAYS,2021-11-06 11:23:44,64,2021-11-06 11:23:44,2021-11-06 09:28:14,DOO,004
6467,DOOR 39,inbound move,2021-11-06 09:28:34,8873,0040220174,PUTAWAYS,2021-11-06 11:27:10,64,2021-11-06 11:27:10,2021-11-06 09:28:34,DOO,004
6469,DOOR 39,inbound move,2021-11-06 09:29:01,8873,0040220174,PUTAWAYS,2021-11-06 11:27:10,64,2021-11-06 11:27:10,2021-11-06 09:29:01,DOO,004
6471,DOOR 39,inbound move,2021-11-06 09:31:07,8873,0040220114,PUTAWAYS,2021-11-06 11:20:21,64,2021-11-06 11:20:21,2021-11-06 09:31:07,DOO,004
6473,DOOR 39,inbound move,2021-11-06 09:31:28,8873,0040220114,PUTAWAYS,2021-11-06 11:20:21,64,2021-11-06 11:20:21,2021-11-06 09:31:28,DOO,004
6475,DOOR 39,inbound move,2021-11-06 09:29:32,8873,0040220412,PUTAWAYS,2021-11-06 11:34:31,13,2021-11-06 11:34:31,2021-11-06 09:29:32,DOO,004
6477,DOOR 36,inbound move,2021-11-06 08:55:23,8873,0040210622,PUTAWAYS,2021-11-06 11:07:11,64,2021-11-06 11:07:11,2021-11-06 08:55:23,DOO,004
6479,DOOR 36,inbound move,2021-11-06 08:55:35,8873,0040210622,PUTAWAYS,2021-11-06 11:07:11,64,2021-11-06 11:07:11,2021-11-06 08:55:35,DOO,004
6483,DOOR 36,inbound move,2021-11-06 08:55:49,8873,0050290413,PUTAWAYS,2021-11-06 11:05:11,64,2021-11-06 11:05:11,2021-11-06 08:55:49,DOO,005
6485,DOOR 36,inbound move,2021-11-06 08:56:04,8873,0050290413,PUTAWAYS,2021-11-06 11:05:11,64,2021-11-06 11:05:11,2021-11-06 08:56:04,DOO,005
6488,DOOR 36,inbound move,2021-11-06 08:56:30,8873,0050290212,PUTAWAYS,2021-11-06 11:04:18,64,2021-11-06 11:04:18,2021-11-06 08:56:30,DOO,005
6491,DOOR 36,inbound move,2021-11-06 08:56:43,8873,0050290212,PUTAWAYS,2021-11-06 11:04:18,64,2021-11-06 11:04:18,2021-11-06 08:56:43,DOO,005
6493,DOOR 36,inbound move,2021-11-06 08:57:10,8873,0040230114,PUTAWAYS,2021-11-06 10:50:25,64,2021-11-06 10:50:25,2021-11-06 08:57:10,DOO,004
6495,DOOR 36,inbound move,2021-11-06 08:57:25,8873,0040210193,PUTAWAYS,2021-11-06 10:40:17,64,2021-11-06 10:40:17,2021-11-06 08:57:25,DOO,004
6497,DOOR 36,inbound move,2021-11-06 08:58:55,8873,0040240324,PUTAWAYS,2021-11-06 11:03:13,64,2021-11-06 11:03:13,2021-11-06 08:58:55,DOO,004
6499,DOOR 36,inbound move,2021-11-06 08:59:09,8873,0040240324,PUTAWAYS,2021-11-06 11:03:13,64,2021-11-06 11:03:13,2021-11-06 08:59:09,DOO,004
6501,DOOR 36,inbound move,2021-11-06 08:59:22,8873,0040250034,PUTAWAYS,2021-11-06 10:59:50,64,2021-11-06 10:59:50,2021-11-06 08:59:22,DOO,004
6504,DOOR 36,inbound move,2021-11-06 08:59:38,8873,0040250034,PUTAWAYS,2021-11-06 10:59:50,64,2021-11-06 10:59:50,2021-11-06 08:59:38,DOO,004
6507,DOOR 36,inbound move,2021-11-06 08:59:51,8873,0040230293,PUTAWAYS,2021-11-06 10:55:24,64,2021-11-06 10:55:24,2021-11-06 08:59:51,DOO,004
6509,DOOR 36,inbound move,2021-11-06 09:00:05,8873,0040230293,PUTAWAYS,2021-11-06 10:55:24,64,2021-11-06 10:55:24,2021-11-06 09:00:05,DOO,004
6511,DOOR 36,inbound move,2021-11-06 09:00:17,8873,0040210452,PUTAWAYS,2021-11-06 10:50:51,64,2021-11-06 10:50:51,2021-11-06 09:00:17,DOO,004
6513,DOOR 36,inbound move,2021-11-06 08:56:57,8873,0040230114,PUTAWAYS,2021-11-06 10:50:25,64,2021-11-06 10:50:25,2021-11-06 08:56:57,DOO,004
6515,DOOR 36,inbound move,2021-11-06 08:57:42,8873,0040210193,PUTAWAYS,2021-11-06 10:40:17,64,2021-11-06 10:40:17,2021-11-06 08:57:42,DOO,004
6518,DOOR 36,inbound move,2021-11-06 08:57:57,8873,0040220082,PUTAWAYS,2021-11-06 10:39:59,64,2021-11-06 10:39:59,2021-11-06 08:57:57,DOO,004

# 4 
write a generic function where you get the pallets moved with a certain worktype towards all its unique locations.
You want 
1. you make a dataframe with the length of the featuresdataframe
2. get the section of palletdf for which a column has a certain value
3. for every datetime in the ftdf, get the sum of pallets brought into each unique location category
4. concat the created dataframe and the base_ft dataframe

In [276]:
def makepalmov(ftdf, palletdf, column, nameofvalue, delta):
    palmov = pd.DataFrame({'datetime_local': ftdf['datetime_local']})    
    section = palletdf[palletdf[column] == nameofvalue]
    print(section)
    for x in section.tomovcat.unique():
        for index, row in ftdf.iterrows():            
            time = ftdf.at[index, 'datetime_local']            
            mask = (palmov['datetime_local'] > time) & (palmov['datetime_local'] <= time + delta)
            palmov.at[index, f"tomov{x}"] = palletdf.quantity.loc[mask].sum() 
    return palmov

In [324]:
brug = timedelta(hours = 24)
palletmov = makepalmov(new_ft, testpal_sec, 'work_type', "UN-LOAD", brug)

In [49]:
palletmov

NameError: name 'palletmov' is not defined

Do it for all unique work_types of palletdf inbound moves

brug = timedelta(hours = 24) ##The timebridge you wanna use

In [322]:
palmovput = makepalmov(new_ft, testpal_sec, 'work_type', "PUTAWAYS", brug)
palmovin = makepalmov(new_ft, testpal_sec, 'work_type', "INBOUNDRUN", brug)
palmovun = makepalmov(new_ft, testpal_sec, 'work_type', "UN-LOAD", brug)

# 5. - concat new feature to feature df

In [327]:
new_ft = pd.concat([new_ft, palmovput], axis = 1)
new_ft = pd.concat([new_ft, palmovin], axis = 1)
new_ft = pd.concat([new_ft, palmovun], axis = 1)

Here I was testing stuff, you may ignore it xx

In [106]:
outb = testpal[testpal['move_category'] == 'outbound move']
inb = testpal[testpal['move_category'] == 'inbound move']
loc = testpal[testpal['move_category'] == 'location move']
movout = outb['work_type'].unique()
movin = inb['work_type'].value_counts()
movloc = loc['work_type'].unique()
print('moveout:     ', movout)
print('movin:     ', movin)
print('movloc:     ', movloc)

moveout:      ['WRONGFULL' 'DROPS' 'PARTIALS-V' 'FULLS' 'FULLCHGLOC' 'STAGE'
 'CHRYPICK-S' 'ANYFULL' 'PARTIALS-S' 'SWAPFULL' 'DROPRELO' 'SWAPDROP'
 'FULLRELO' 'REVDROPS' 'DROPRETURN']
movin:      PUTAWAYS      1064119
INBOUNDRUN      61493
UN-LOAD          8353
Name: work_type, dtype: int64
movloc:      ['MOVE' 'LOCCHANGE' 'RELOS' 'RELORUN']

Within inbound move/location move, what movements are there and which are relevant? 

Findings: 

Inbound: 

UN-LOAD, orders mainly coming from going to DR0.. and going to DR0... 

PUTAWAYS, orders mainly coming from door numbers, and going to 0... number

INBOUNDRUN, orders mainly coming from DR0.., and going to large variety of places, inverter, dr..,

In [111]:
#selecting part of dataset for which work_type == ''
inunl = testpal[testpal['work_type'] == 'UN-LOAD'] 
inputa = testpal[testpal['work_type'] == 'PUTAWAYS'] 
ininb = testpal[testpal['work_type'] == 'INBOUNDRUN'] 
#print('inunl:     ', inunl['to_location_code'].value_counts())
#print('inputa:     ', inputa['to_location_code'].value_counts())
#print('ininb:     ', ininb['to_location_code'].value_counts())

In [240]:
###Merge featuretrain and weather dataset based on datetime_local
def make_datetime(df, col_name): ###To make datetime object from df at colname
    for index, row in df.iterrows():
        t = df.at[index, col_name]
        time = datetime.datetime.strptime(t, '%Y-%m-%d %H:%M:%S')
        localtime = time - (timedelta(hours=6))
        df.at[index, col_name] = localtime
     
df1 = featurestrain.sort_values('datetime_local')
df2 = weather.sort_values('datetime_local')
fttrain = pd.concat([df1, df2], axis = 1)
fttrain.to_csv('featuretrain.csv')

NameError: name 'fttrain' is not defined

In [134]:
print(type(weather['datetime_local'].iloc[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

# Second Feature - Warmth coming in the Warehouse
At each time, how much warm product is coming into the warehouse?

1. create new_ft dataframe to add the added warmth to, make it into datetime objects
2. create base_inbound dataframe to mess with in this section
3. create def. addwarmth that creates a dataframe for each time entry in new_ft and maps the entered warmth between that time and delta
4. do it directly first
5. concat relevant and new_ft

# 1

In [16]:
###1
new_ft = base_ft.copy()
new_ft['datetime_local'] = pd.to_datetime(new_ft['datetime_local'])

# 2

In [17]:
base_inbound = inbound.copy()
base_inbound['startpoint'] = pd.to_datetime(base_inbound['load_start_datetime'])

# 3

In [37]:
def addwarmth(ftdf, delta): ###make a dataframe for each row in ftdf and add that to the relevant dataframe so they can be concatted
    relevant = pd.DataFrame({'datetime_local': ftdf['datetime_local']})
    for index, row in ftdf.iterrows():
        time = ftdf.at[index, 'datetime_local']
        mask = (base_inbound['startpoint'] > time) & (base_inbound['startpoint'] <= time + timedelta(delta))
        relevant.at[index, 'total_weight'] = base_inbound.net_weight.loc[mask].sum()

# 4

In [39]:
relevant = pd.DataFrame({'datetime_local': new_ft['datetime_local']})
for index, row in new_ft.iterrows():
    time = new_ft.at[index, 'datetime_local']
    mask = (base_inbound['startpoint'] > time) & (base_inbound['startpoint'] <= time + timedelta(hours = 24))
    relevant.at[index, 'total_weight'] = base_inbound.net_weight.loc[mask].sum()
print(relevant)

KeyboardInterrupt:

# 5
Concat with dataframe/make standalone feature df with all times

In [19]:
relevant = load_data('warmthft.csv')
relevant = relevant.drop(['Unnamed: 0'], axis = 1)

In [20]:
warmthft = pd.concat([base_ft, relevant], axis = 1)

In [21]:
warmthft

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC,datetime_local,total_weight
0,2018-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:00:00-06:00,50.37,53.60,2019-01-01 00:00:00,2018-12-31 18:00:00,0.0
1,2018-12-31 18:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:05:00-06:00,50.37,53.60,2019-01-01 00:05:00,2018-12-31 18:05:00,0.0
2,2018-12-31 18:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:10:00-06:00,50.37,53.60,2019-01-01 00:10:00,2018-12-31 18:10:00,0.0
3,2018-12-31 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:15:00-06:00,50.37,53.60,2019-01-01 00:15:00,2018-12-31 18:15:00,0.0
4,2018-12-31 18:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:20:00-06:00,50.37,53.60,2019-01-01 00:20:00,2018-12-31 18:20:00,0.0
5,2018-12-31 18:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:25:00-06:00,50.37,53.60,2019-01-01 00:25:00,2018-12-31 18:25:00,0.0
6,2018-12-31 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:30:00-06:00,50.37,53.60,2019-01-01 00:30:00,2018-12-31 18:30:00,0.0
7,2018-12-31 18:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:35:00-06:00,53.81,51.80,2019-01-01 00:35:00,2018-12-31 18:35:00,0.0
8,2018-12-31 18:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:40:00-06:00,53.81,51.80,2019-01-01 00:40:00,2018-12-31 18:40:00,0.0
9,2018-12-31 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:45:00-06:00,50.37,53.60,2019-01-01 00:45:00,2018-12-31 18:45:00,0.0
10,2018-12-31 18:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:50:00-06:00,50.37,53.60,2019-01-01 00:50:00,2018-12-31 18:50:00,0.0
11,2018-12-31 18:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:53:00-06:00,50.28,53.06,2019-01-01 00:53:00,2018-12-31 18:53:00,0.0
12,2018-12-31 18:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:55:00-06:00,53.81,51.80,2019-01-01 00:55:00,2018-12-31 18:55:00,0.0
13,2018-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:00:00-06:00,53.81,51.80,2019-01-01 01:00:00,2018-12-31 19:00:00,0.0
14,2018-12-31 19:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:05:00-06:00,53.81,51.80,2019-01-01 01:05:00,2018-12-31 19:05:00,0.0
15,2018-12-31 19:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:10:00-06:00,53.81,51.80,2019-01-01 01:10:00,2018-12-31 19:10:00,0.0
16,2018-12-31 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:15:00-06:00,53.81,51.80,2019-01-01 01:15:00,2018-12-31 19:15:00,0.0
17,2018-12-31 19:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:20:00-06:00,53.81,51.80,2019-01-01 01:20:00,2018-12-31 19:20:00,0.0
18,2018-12-31 19:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:25:00-06:00,50.08,51.80,2019-01-01 01:25:00,2018-12-31 19:25:00,0.0
19,2018-12-31 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:30:00-06:00,50.08,51.80,2019-01-01 01:30:00,2018-12-31 19:30:00,0.0
20,2018-12-31 19:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:35:00-06:00,50.08,51.80,2019-01-01 01:35:00,2018-12-31 19:35:00,0.0
21,2018-12-31 19:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:40:00-06:00,53.53,50.00,2019-01-01 01:40:00,2018-12-31 19:40:00,0.0
22,2018-12-31 19:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:45:00-06:00,53.53,50.00,2019-01-01 01:45:00,2018-12-31 19:45:00,0.0
23,2018-12-31 19:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:50:00-06:00,53.53,50.00,2019-01-01 01:50:00,2018-12-31 19:50:00,0.0
24,2018-12-31 19:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:53:00-06:00,52.01,50.00,2019-01-01 01:53:00,2018-12-31 19:53:00,0.0
25,2018-12-31 19:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 19:55:00-06:00,53.53,50.00,2019-01-01 01:55:00,2018-12-31 19:55:00,0.0
26,2018-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:00:00-06:00,53.53,50.00,2019-01-01 02:00:00,2018-12-31 20:00:00,0.0
27,2018-12-31 20:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:05:00-06:00,53.53,50.00,2019-01-01 02:05:00,2018-12-31 20:05:00,0.0
28,2018-12-31 20:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:10:00-06:00,57.25,48.20,2019-01-01 02:10:00,2018-12-31 20:10:00,0.0
29,2018-12-31 20:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 20:15:00-06:00,53.53,50.00,2019-01-01 02:15:00,2018-12-31 20:15:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
485180,2021-12-31 15:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:40:00-06:00,77.94,69.80,2021-12-31 21:40:00,2021-12-31 15:40:00,39808.0
485181,2021-12-31 15:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:45:00-06:00,77.94,69.80,2021-12-31 21:45:00,2021-12-31 15:45:00,39808.0
485182,2021-12-31 15:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:50:00-06:00,77.94,69.80,2021-12-31 21:50:00,2021-12-31 15:50:00,39808.0
485183,2021-12-31 15:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:53:00-06:00,78.38,69.08,2021-12-31 21:53:00,2021-12-31 15:53:00,39808.0
485184,2021-12-31 15:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 15:55:00-06:00,77.94,69.80,2021-12-31 21:55:00,2021-12-31 15:55:00,39808.0
485185,2021-12-31 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:00:00-06:00,77.94,69.80,2021-12-31 22:00:00,2021-12-31 16:00:00,39808.0
485186,2021-12-31 16:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:05:00-06:00,77.94,69.80,2021-12-31 22:05:00,2021-12-31 16:05:00,39808.0
485187,2021-12-31 16:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:10:00-06:00,77.94,69.80,2021-12-31 22:10:00,2021-12-31 16:10:00,39808.0
485188,2021-12-31 16:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:15:00-06:00,77.94,69.80,2021-12-31 22:15:00,2021-12-31 16:15:00,39808.0
485189,2021-12-31 16:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:20:00-06:00,77.94,69.80,2021-12-31 22:20:00,2021-12-31 16:20:00,0.0
485190,2021-12-31 16:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:25:00-06:00,77.94,69.80,2021-12-31 22:25:00,2021-12-31 16:25:00,0.0
485191,2021-12-31 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:30:00-06:00,77.94,69.80,2021-12-31 22:30:00,2021-12-31 16:30:00,0.0
485192,2021-12-31 16:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:35:00-06:00,77.94,69.80,2021-12-31 22:35:00,2021-12-31 16:35:00,0.0
485193,2021-12-31 16:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:40:00-06:00,77.94,69.80,2021-12-31 22:40:00,2021-12-31 16:40:00,0.0
485194,2021-12-31 16:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:45:00-06:00,77.94,69.80,2021-12-31 22:45:00,2021-12-31 16:45:00,0.0
485195,2021-12-31 16:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:50:00-06:00,77.94,69.80,2021-12-31 22:50:00,2021-12-31 16:50:00,0.0
485196,2021-12-31 16:53:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:53:00-06:00,80.90,69.08,2021-12-31 22:53:00,2021-12-31 16:53:00,0.0
485197,2021-12-31 16:55:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 16:55:00-06:00,77.94,69.80,2021-12-31 22:55:00,2021-12-31 16:55:00,0.0
485198,2021-12-31 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:00:00-06:00,77.94,69.80,2021-12-31 23:00:00,2021-12-31 17:00:00,0.0
485199,2021-12-31 17:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:05:00-06:00,77.94,69.80,2021-12-31 23:05:00,2021-12-31 17:05:00,0.0
485200,2021-12-31 17:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:10:00-06:00,77.94,69.80,2021-12-31 23:10:00,2021-12-31 17:10:00,0.0
485201,2021-12-31 17:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:15:00-06:00,77.94,69.80,2021-12-31 23:15:00,2021-12-31 17:15:00,0.0
485202,2021-12-31 17:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:20:00-06:00,77.94,69.80,2021-12-31 23:20:00,2021-12-31 17:20:00,0.0
485203,2021-12-31 17:25:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:25:00-06:00,82.89,68.00,2021-12-31 23:25:00,2021-12-31 17:25:00,0.0
485204,2021-12-31 17:30:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:30:00-06:00,82.89,68.00,2021-12-31 23:30:00,2021-12-31 17:30:00,0.0
485205,2021-12-31 17:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:35:00-06:00,82.89,68.00,2021-12-31 23:35:00,2021-12-31 17:35:00,0.0
485206,2021-12-31 17:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:40:00-06:00,82.89,68.00,2021-12-31 23:40:00,2021-12-31 17:40:00,0.0
485207,2021-12-31 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:45:00-06:00,82.89,68.00,2021-12-31 23:45:00,2021-12-31 17:45:00,0.0
485208,2021-12-31 17:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:50:00-06:00,82.89,68.00,2021-12-31 23:50:00,2021-12-31 17:50:00,0.0
485209,2021-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 18:00:00-06:00,82.89,68.00,2022-01-01 00:00:00,2021-12-31 18:00:00,0.0

In [15]:
warmthfeature = load_data('warmthft.csv')

In [6]:
####for information in pallet
#base_pallet = pallet[pallet['move_category'] == 'inbound move']
#base_pallet = pallet.copy()
base_pallet = base_pallet.drop(['source_system_id', 'warehouse_facility_id'], axis = 1)

NameError: name 'base_pallet' is not defined

# Feature 3: pallet movements (within 5 minutes) of time
1. create pallet dataframe and filter through irrelevant information

2. data exploration. Wordt location move altijd gedaan naar een fork of vanaf een fork? 

3.

In [25]:
pallet_sec = pallet.copy()
#pallet_sec = pallet_sec[pallet_sec['quantity'] != 0]
pallet_sec = pallet_sec.drop(['Unnamed: 0','tran_type', 'Unnamed: 0.1', 'source_system_id', 'warehouse_facility_id', 'final_pallet_code', 'lot_code'], axis = 1)

pallet_sec['transaction_date'] = pd.to_datetime(pallet_sec['transaction_date'])
pallet_sec

,customer_code,from_location_code,to_location_code,transaction_date,quantity,work_type,warehouse_pallet_code,received_date,move_category
0,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,0,WRONGFULL,1363587-,2021-11-21 10:39:33,outbound move
1,3610,0030130071,0030130071,2021-11-23 07:50:20,0,WRONGFULL,1363587-,2021-11-21 10:39:33,outbound move
2,3610,0030130071,0030130071,2021-11-23 16:56:53,0,WRONGFULL,1363587-,2021-11-21 10:39:33,outbound move
3,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,0,WRONGFULL,1364144-,2021-11-21 10:39:33,outbound move
4,3610,0030130071,0030130071,2021-11-23 07:50:20,0,WRONGFULL,1364144-,2021-11-21 10:39:33,outbound move
5,3610,0030130071,0030130071,2021-11-23 16:56:53,0,WRONGFULL,1364144-,2021-11-21 10:39:33,outbound move
6,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,0,WRONGFULL,1364970-,2021-11-21 10:39:33,outbound move
7,3610,0030130071,0030130071,2021-11-23 07:50:20,0,WRONGFULL,1364970-,2021-11-21 10:39:33,outbound move
8,3610,0030130071,0030130071,2021-11-23 16:56:53,0,WRONGFULL,1364970-,2021-11-21 10:39:33,outbound move
9,3610,UNASSIGNED,CFORK15449,2021-11-10 00:54:06,10,MOVE,1366438-,2021-11-09 16:56:57,location move
10,3610,CFORK15449,0150030042,2021-11-10 00:54:18,10,MOVE,1366438-,2021-11-09 16:56:57,location move
11,3610,0150030042,FORK006836,2021-11-17 06:42:02,0,MOVE,1366438-,2021-11-09 16:56:57,location move
12,3610,FORK006836,0050270522,2021-11-17 06:43:21,0,MOVE,1366438-,2021-11-09 16:56:57,location move
13,3610,0050270522,FORK006836,2021-11-18 01:16:49,0,MOVE,1366438-,2021-11-09 16:56:57,location move
14,3610,UNASSIGNED,CFORK15449,2021-11-10 00:54:06,10,MOVE,1366514-,2021-11-09 16:56:57,location move
15,3610,CFORK15449,0150030042,2021-11-10 00:54:18,10,MOVE,1366514-,2021-11-09 16:56:57,location move
16,3610,0150030042,FORK006836,2021-11-17 06:42:02,0,MOVE,1366514-,2021-11-09 16:56:57,location move
17,3610,FORK006836,0050270522,2021-11-17 06:43:21,0,MOVE,1366514-,2021-11-09 16:56:57,location move
18,3610,0050270522,FORK006836,2021-11-18 01:16:49,0,MOVE,1366514-,2021-11-09 16:56:57,location move
19,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,0,WRONGFULL,1366650-,2021-11-21 10:39:33,outbound move
20,3610,0030130071,0030130071,2021-11-23 07:50:20,0,WRONGFULL,1366650-,2021-11-21 10:39:33,outbound move
21,3610,0030130071,0030130071,2021-11-23 16:56:53,0,WRONGFULL,1366650-,2021-11-21 10:39:33,outbound move
22,3610,UNASSIGNED,0030130071,2021-11-23 07:43:18,0,WRONGFULL,1374526001-0029,2021-11-21 10:39:33,outbound move
23,3610,0030130071,0030130071,2021-11-23 07:50:20,0,WRONGFULL,1374526001-0029,2021-11-21 10:39:33,outbound move
24,3610,0030130071,0030130071,2021-11-23 16:56:53,0,WRONGFULL,1374526001-0029,2021-11-21 10:39:33,outbound move
25,3610,UNASSIGNED,CFORK15449,2021-11-10 00:54:06,10,MOVE,1415496002-0014,2021-11-09 16:56:57,location move
26,3610,CFORK15449,0150030042,2021-11-10 00:54:18,10,MOVE,1415496002-0014,2021-11-09 16:56:57,location move
27,3610,0150030042,FORK006836,2021-11-17 06:42:02,0,MOVE,1415496002-0014,2021-11-09 16:56:57,location move
28,3610,FORK006836,0050270522,2021-11-17 06:43:21,0,MOVE,1415496002-0014,2021-11-09 16:56:57,location move
29,3610,0050270522,FORK006836,2021-11-18 01:16:49,0,MOVE,1415496002-0014,2021-11-09 16:56:57,location move
...,...,...,...,...,...,...,...,...,...
425505,2319,0090030364,009003101F,2021-04-07 08:24:00,1,FULLS,1434138012-0003,2019-12-31 02:08:07,outbound move
425506,2319,009003101F,0110220141,2021-04-07 09:24:07,1,STAGE,1434138012-0003,2019-12-31 02:08:07,outbound move
425507,2319,0110220141,DR056,2021-04-07 13:09:17,1,STAGE,1434138012-0003,2019-12-31 02:08:07,outbound move
425508,2319,DR057,0100150051,2019-12-31 04:15:53,1,INBOUNDRUN,1434138012-0004,2019-12-31 02:09:19,inbound move
425509,2319,010015005R,FORK014507,2019-12-31 05:08:10,1,MOVE,1434138012-0004,2019-12-31 02:09:19,location move
425510,2319,FORK014507,0100150195,2019-12-31 05:09:32,1,MOVE,1434138012-0004,2019-12-31 02:09:19,location move
425511,2319,0100150195,0100151381,2021-04-07 08:42:15,1,FULLS,1434138012-0004,2019-12-31 02:09:19,outbound move
425512,2319,DR057,0100150031,2019-12-31 04:12:02,1,INBOUNDRUN,1434138012-0005,2019-12-31 02:10:05,inbound move
425513,2319,010015003R,FORK014507,2019-12-31 05:11:07,1,MOVE,1434138012-0005,2019-12-31 02:10:05,location move
425514,2319,FORK014507,0100150215,2019-12-31 05:12:39,1,MOVE,1434138012-0005,2019-12-31 02:10:05,location move
425515,2319,0100150215,0100151391,2021-04-07 08:43:53,1,FULLS,1434138012-0005,2019-12-31 02:10:05,outbound move
425516,2319,0100151391,DR056,2021-04-07 13:30:22,1,STAGE,1434138012-0005,2019-12-31 02:10:05,outbound move
425517,2319,DR057,0100150011,2019-12-31 04:05:24,1,INBOUNDRUN,1434138012-0006,2019-12-31 02:11:01,inbound move
425518,2319,010015001R,FORK014507,2019-12-31 05:12:39,1,MOVE,1434138012-0006,2019-12-31 02:11:01,location move
425519,2319,FORK014507,0100151385,2019-12-31 05:14:32,1,MOVE,1434138012-0006,2019-12-31 02:11:01,location move
425520,2319,0100151385,0100151341,2021-04-07 08:47:09,1,FULLS,1434138012-0006,2019-12-31 02:11:01,outbound move
425521,2319,DR057,0100150011,2019-12-31 04:05:24,1,INBOUNDRUN,1434138012-0007,2019-12-31 02:19:29,inbound move
425522,2319,010015001R,FORK014507,2019-12-31 05:14:32,1,MOVE,1434138012-0007,2019-12-31 02:19:29,location move
425523,2319,FORK014507,0100150245,2019-12-31 05:16:11,1,MOVE,1434138012-0007,2019-12-31 02:19:29,location move
425524,2319,010015024A,INVENTORY1,2020-08-10 10:05:17,1,MOVE,1434138012-0007,2019-12-31 02:19:29,location move
425525,2319,INVENTORY1,010015024c,2020-08-10 10:17:51,1,MOVE,1434138012-0007,2019-12-31 02:19:29,location move
425526,2319,010015024c,INVENTORY1,2020-08-10 10:30:13,1,MOVE,1434138012-0007,2019-12-31 02:19:29,location move
425527,2319,INVENTORY1,0100150245,2020-08-10 10:30:29,1,MOVE,1434138012-0007,2019-12-31 02:19:29,location move
425528,2319,0100150245,0100151351,2021-04-07 08:45:21,1,FULLS,1434138012-0007,2019-12-31 02:19:29,outbound move
425529,2319,0100151351,DR057,2021-04-07 13:30:32,1,STAGE,1434138012-0007,2019-12-31 02:19:29,outbound move
425530,2319,UNASSIGNED,FORK014507,2019-12-31 04:53:16,1,MOVE,1434138013-0001,2019-12-31 02:07:16,location move
425531,2319,FORK014507,0090030365,2019-12-31 04:54:34,1,MOVE,1434138013-0001,2019-12-31 02:07:16,location move
425532,2319,0090030365,009003091F,2021-04-07 08:31:21,1,FULLS,1434138013-0001,2019-12-31 02:07:16,outbound move
425533,2319,009003091F,0110221311,2021-04-07 09:05:25,1,STAGE,1434138013-0001,2019-12-31 02:07:16,outbound move
425534,2319,0110221311,DR058,2021-04-07 13:16:57,1,STAGE,1434138013-0001,2019-12-31 02:07:16,outbound move

In [26]:
feature_palletmove = base_ft.copy()
feature_palletmove['datetime_local'] = pd.to_datetime(feature_palletmove['datetime_local'])

You only need the section of pallet_sec where the time is closest to and the previous 50 rows max. 
Maybe you can do a lambda function: x en dan pallet_sec['transaction_date'].diff(period = x) < deltatime(minutes = 5)

In [27]:
from_location_list = pallet_sec.from_location_code.values
to_location_list = pallet_sec[pallet_sec['move_category'] == 'location move'].to_location_code.values

feature_palletmove datetime is time dus dat is de tijd die je ingeeft
je wilt totaan die tijd en 5 minuten ervoor

gevraagd movement delta
selectie = time - delta  toten met  time
movement moet dus kleiner zijn dan time - delta 
mask tijden na time en tijden voor time plus delta

In [28]:
def pallet_movements(featuredf, palletdf, delta):
    palmov = pd.DataFrame({'datetime_local': featuredf['datetime_local']})
    print(palmov)
    for index, row in featuredf.iterrows():            
        time = featuredf.at[index, 'datetime_local']            
        mask = (palletdf['transaction_date'] <= time) & (palletdf['transaction_date'] >= time - delta) ##the mask contains the indexes you want

        som = palletdf.quantity.loc[mask].sum()
        palmov.at[index, 'pallet_movements'] = som ##you calc the sum of the quantities that are within the mask        
    return palmov

In [33]:
pallet_movement_df.to_csv('pallet_moved_feature')

In [29]:
brug = timedelta(minutes = 5)
pallet_movement_df = pallet_movements(feature_palletmove, pallet_sec, brug)

            datetime_local
0      2018-12-31 18:00:00
1      2018-12-31 18:05:00
2      2018-12-31 18:10:00
3      2018-12-31 18:15:00
4      2018-12-31 18:20:00
5      2018-12-31 18:25:00
6      2018-12-31 18:30:00
7      2018-12-31 18:35:00
8      2018-12-31 18:40:00
9      2018-12-31 18:45:00
10     2018-12-31 18:50:00
11     2018-12-31 18:53:00
12     2018-12-31 18:55:00
13     2018-12-31 19:00:00
14     2018-12-31 19:05:00
15     2018-12-31 19:10:00
16     2018-12-31 19:15:00
17     2018-12-31 19:20:00
18     2018-12-31 19:25:00
19     2018-12-31 19:30:00
20     2018-12-31 19:35:00
21     2018-12-31 19:40:00
22     2018-12-31 19:45:00
23     2018-12-31 19:50:00
24     2018-12-31 19:53:00
25     2018-12-31 19:55:00
26     2018-12-31 20:00:00
27     2018-12-31 20:05:00
28     2018-12-31 20:10:00
29     2018-12-31 20:15:00
...                    ...
485180 2021-12-31 15:40:00
485181 2021-12-31 15:45:00
485182 2021-12-31 15:50:00
485183 2021-12-31 15:53:00
485184 2021-12-31 15:55:00
485185 2021-12-31 16:00:00
485186 2021-12-31 16:05:00
485187 2021-12-31 16:10:00
485188 2021-12-31 16:15:00
485189 2021-12-31 16:20:00
485190 2021-12-31 16:25:00
485191 2021-12-31 16:30:00
485192 2021-12-31 16:35:00
485193 2021-12-31 16:40:00
485194 2021-12-31 16:45:00
485195 2021-12-31 16:50:00
485196 2021-12-31 16:53:00
485197 2021-12-31 16:55:00
485198 2021-12-31 17:00:00
485199 2021-12-31 17:05:00
485200 2021-12-31 17:10:00
485201 2021-12-31 17:15:00
485202 2021-12-31 17:20:00
485203 2021-12-31 17:25:00
485204 2021-12-31 17:30:00
485205 2021-12-31 17:35:00
485206 2021-12-31 17:40:00
485207 2021-12-31 17:45:00
485208 2021-12-31 17:50:00
485209 2021-12-31 18:00:00

[485210 rows x 1 columns]

In [14]:
forks_from = pd.Series(from_location_list).str.match(r'.*FORK.*')
#forks_in = pd.Series(to_location_list).str.match(r'.*FORK.*')
df.drop(df.filter(regex='Test').columns, axis=1)

NameError: name 'from_location_list' is not defined

In [100]:
#forks = pallet_sec.drop(pallet_sec.filter(regex = '.*FORK.*'), axis = 1)

C:\Users\sonja\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'select' is deprecated and will be removed in a future release. You can use .loc[labels.map(crit)] as a replacement

In [101]:
forks

,customer_code,from_location_code,to_location_code,transaction_date,quantity,work_type,warehouse_pallet_code,received_date,move_category
443515,899,DOOR 47,0090020791,2019-01-02 00:29:12,63,PUTAWAYS,1315707001-0010,2019-01-02 00:05:14,inbound move
443513,899,DOOR 47,0090020791,2019-01-02 00:31:18,63,PUTAWAYS,1315707001-0009,2019-01-02 00:05:05,inbound move
443511,899,DOOR 47,0090031115,2019-01-02 00:33:01,63,PUTAWAYS,1315707001-0008,2019-01-02 00:04:54,inbound move
443509,899,DOOR 47,0090031174,2019-01-02 00:34:56,63,PUTAWAYS,1315707001-0007,2019-01-02 00:04:45,inbound move
443507,899,DOOR 47,0090031202,2019-01-02 00:36:28,63,PUTAWAYS,1315707001-0006,2019-01-02 00:04:36,inbound move
443504,899,DOOR 47,0090031245,2019-01-02 00:37:54,63,PUTAWAYS,1315707001-0005,2019-01-02 00:04:24,inbound move
443517,899,DOOR 47,0090040602,2019-01-02 00:39:48,63,PUTAWAYS,1315707001-0011,2019-01-02 00:05:34,inbound move
443453,899,DOOR 57,0090011071,2019-01-02 00:40:09,60,PUTAWAYS,1315706001-0009,2019-01-01 23:57:13,inbound move
443519,899,DOOR 47,0090040602,2019-01-02 00:41:55,63,PUTAWAYS,1315707001-0012,2019-01-02 00:05:44,inbound move
443455,899,DOOR 57,0090011071,2019-01-02 00:42:49,60,PUTAWAYS,1315706001-0010,2019-01-01 23:57:29,inbound move
443522,899,DOOR 47,0090041122,2019-01-02 00:43:37,63,PUTAWAYS,1315707001-0013,2019-01-02 00:05:54,inbound move
443526,899,DOOR 47,0090041122,2019-01-02 00:45:04,63,PUTAWAYS,1315707001-0014,2019-01-02 00:06:05,inbound move
443451,899,DOOR 57,0090050193,2019-01-02 00:45:31,60,PUTAWAYS,1315706001-0008,2019-01-01 23:57:03,inbound move
443532,899,DOOR 47,0090030272,2019-01-02 00:46:29,63,PUTAWAYS,1315707001-0016,2019-01-02 00:06:31,inbound move
443418,899,DOOR 46,0090050371,2019-01-02 00:46:33,60,PUTAWAYS,1315705002-0017,2019-01-02 00:11:54,inbound move
443449,899,DOOR 57,0090050371,2019-01-02 00:48:00,60,PUTAWAYS,1315706001-0007,2019-01-01 23:56:48,inbound move
443529,899,DOOR 47,0090030271,2019-01-02 00:48:07,63,PUTAWAYS,1315707001-0015,2019-01-02 00:06:23,inbound move
443501,899,DOOR 47,0090030273,2019-01-02 00:49:44,63,PUTAWAYS,1315707001-0004,2019-01-02 00:04:15,inbound move
443420,899,DOOR 46,0090050193,2019-01-02 00:49:54,60,PUTAWAYS,1315705002-0018,2019-01-02 00:12:04,inbound move
443447,899,DOOR 57,0100140863,2019-01-02 00:50:38,60,PUTAWAYS,1315706001-0006,2019-01-01 23:56:38,inbound move
443498,899,DOOR 47,0090030274,2019-01-02 00:51:25,63,PUTAWAYS,1315707001-0003,2019-01-02 00:04:02,inbound move
443423,899,DOOR 46,0100151495,2019-01-02 00:51:36,60,PUTAWAYS,1315705002-0019,2019-01-02 00:12:13,inbound move
443555,899,DOOR 47,0090030275,2019-01-02 00:53:14,63,PUTAWAYS,1315707001-0024,2019-01-02 00:08:35,inbound move
443445,899,DOOR 57,0100120964,2019-01-02 00:53:15,60,PUTAWAYS,1315706001-0005,2019-01-01 23:56:30,inbound move
443425,899,DOOR 46,0100121001,2019-01-02 00:54:38,60,PUTAWAYS,1315705002-0020,2019-01-02 00:12:30,inbound move
443495,899,DOOR 47,0090030271,2019-01-02 00:55:11,63,PUTAWAYS,1315707001-0002,2019-01-02 00:03:44,inbound move
443443,899,DOOR 57,0100121002,2019-01-02 00:56:32,60,PUTAWAYS,1315706001-0004,2019-01-01 23:56:18,inbound move
443492,899,DOOR 47,0090030272,2019-01-02 00:56:44,63,PUTAWAYS,1315707001-0001,2019-01-02 00:03:35,inbound move
443552,899,DOOR 47,0090030273,2019-01-02 00:58:27,63,PUTAWAYS,1315707001-0023,2019-01-02 00:08:26,inbound move
443441,899,DOOR 57,0100121002,2019-01-02 00:59:00,60,PUTAWAYS,1315706001-0003,2019-01-01 23:56:09,inbound move
...,...,...,...,...,...,...,...,...,...
247489,126597,0110220272,FORK028825,2022-01-11 14:16:59,42,MOVE,1460851005-0002,2021-04-09 08:42:40,location move
247490,126597,FORK028825,0110220272,2022-01-11 14:17:08,42,MOVE,1460851005-0002,2021-04-09 08:42:40,location move
389760,126597,0110220482,FORK028825,2022-01-11 14:17:24,42,MOVE,1483434003-0003,2021-08-26 09:06:47,location move
389761,126597,FORK028825,0110220482,2022-01-11 14:17:39,42,MOVE,1483434003-0003,2021-08-26 09:06:47,location move
266967,6147,0100110431,CP267457,2022-01-11 14:18:03,25,PARTIALS-V,1499965004-0001,2021-10-26 21:45:08,outbound move
199656,6147,0100110381,CP948578,2022-01-11 14:18:32,68,PARTIALS-V,1496316004-0002,2021-10-10 07:09:33,outbound move
166744,17296,0120261142,012026114F,2022-01-11 15:21:25,60,FULLS,1494888006-0001,2021-10-11 00:37:36,outbound move
166753,17296,0120281071,012028107F,2022-01-11 15:23:28,60,FULLS,1494888006-0007,2021-10-11 00:39:47,outbound move
120248,17296,0120281171,012028117F,2022-01-11 15:26:34,60,FULLS,1490488001-0007,2021-10-02 12:29:23,outbound move
166751,17296,0120290352,012029035F,2022-01-11 15:29:01,60,FULLS,1494888006-0006,2021-10-11 00:39:21,outbound move
481558,6910,0020070023,CP267433,2022-01-11 15:30:07,1,CHRYPICK-S,1468893002-0005,2021-05-26 21:22:03,outbound move
120232,17296,0120291482,012029148F,2022-01-11 15:31:24,60,FULLS,1490488001-0001,2021-10-02 12:26:07,outbound move
4214,17296,0120260931,CP944771,2022-01-11 15:32:36,40,PARTIALS-V,1487648004-0001,2021-09-10 05:45:44,outbound move
120240,17296,0120300032,0120300011,2022-01-11 15:33:30,60,FULLS,1490488001-0003,2021-10-02 12:27:28,outbound move
403585,17296,0120261011,CP944771,2022-01-11 15:33:46,120,PARTIALS-V,1483788001-0010,2021-08-23 23:14:57,outbound move
120242,17296,0120300062,0120300011,2022-01-11 15:34:25,60,FULLS,1490488001-0004,2021-10-02 12:28:15,outbound move
166763,17296,0120300351,012030032F,2022-01-11 15:36:14,60,FULLS,1494888006-0012,2021-10-11 00:40:58,outbound move
166748,17296,0120301061,012030032F,2022-01-11 15:37:05,60,FULLS,1494888006-0004,2021-10-11 00:38:36,outbound move
87607,17296,0120270491,CP949217,2022-01-11 15:37:27,160,PARTIALS-V,1491775003-0001,2021-09-20 21:46:53,outbound move
120244,17296,0120301272,0120300011,2022-01-11 15:38:29,60,FULLS,1490488001-0005,2021-10-02 12:28:37,outbound move
499848,2537,0110180501,CP948576,2022-01-11 15:38:41,20,PARTIALS-V,1463202001-0013,2021-06-04 14:13:02,outbound move
120246,17296,0120301292,0120300011,2022-01-11 15:39:47,60,FULLS,1490488001-0006,2021-10-02 12:29:02,outbound move
166757,17296,0120301342,0120290011,2022-01-11 15:40:59,60,FULLS,1494888006-0009,2021-10-11 00:40:10,outbound move
166755,17296,0120301372,0120290011,2022-01-11 15:42:19,60,FULLS,1494888006-0008,2021-10-11 00:39:57,outbound move
166719,17296,0120310023,0120290011,2022-01-11 15:43:40,60,FULLS,1494888001-0003,2021-10-11 00:35:47,outbound move
120254,17296,0120310072,012028001F,2022-01-11 15:45:05,60,FULLS,1490488001-0010,2021-10-02 12:31:43,outbound move
120252,17296,0120310082,012028001F,2022-01-11 15:46:24,60,FULLS,1490488001-0009,2021-10-02 12:31:25,outbound move
120271,17296,0120310103,012028001F,2022-01-11 15:47:59,60,FULLS,1490488002-0003,2021-10-02 12:30:40,outbound move
120277,17296,0120311372,0120300011,2022-01-11 15:49:35,60,FULLS,1490488002-0006,2021-10-02 12:33:04,outbound move
120273,17296,0120311392,0120300011,2022-01-11 15:50:54,60,FULLS,1490488002-0004,2021-10-02 12:32:28,outbound move

In [14]:




####estimating the current warmth of incoming products

###from the inbound datafame, add column 'estimate_temperature' to add the median temp. given the customer code

###make a dictionary with customer code and its median temperature
######get the median middle temperature of each customer code into a dataframe so you can 
warmthdf = pd.DataFrame({'customer_code': inbound['customer_code'], 'carrier_code': inbound['carrier_code'], 'middle_temperature': inbound['middle_temperature']})
    ###filter through missing values/droplevel at missing values
warmthdf = warmthdf.dropna()

warmthdict = {}
for customer in warmthdf.customer_code.unique():      ###per customercode, give the median middle_temperature
    median = warmthdf.loc[warmthdf['customer_code'] == customer]
    warmthdict[f'{customer}']=  median['middle_temperature'].median()

In [15]:
warmthdict['new'] = warmthdf['middle_temperature'].median() ###add median temp for the customer_codes that are new

###iterate over inbound and fill in the estimate_temperature 
for index, row in inbound.iterrows():
    if inbound.at[index, 'middle_temperature'] >-5000: ####fill in the middle_temperature if that is known
        inbound.at[index, 'estimate_temp'] = inbound.at[index, 'middle_temperature']
       
    else: ###else fill in the estimated temp. that belongs to the customer_code, unless it is not in the dict., then fill in 0.0 which is the median temp. of all the orders
        code = inbound.at[index, 'customer_code']        
        median = warmthdict.get(f'{code}', 0.0) 
        inbound.at[index, 'estimate_temp'] = median

In [16]:
warmthdict

{'2537.0': 0.0,
 '8873.0': 0.0,
 '14104.0': -1.5,
 '625.0': 0.0,
 '8187.0': -1.0,
 '5810.0': -1.0,
 '6134.0': -2.0,
 '6910.0': -1.0,
 '899.0': 1.0,
 '7240.0': -1.0,
 '874.0': 0.0,
 '114276.0': 0.0,
 '7475.0': 33.0,
 '1296.0': -3.0,
 '17296.0': -2.0,
 '7289.0': 32.5,
 '2319.0': 2.0,
 '117006.0': 0.0,
 '10377.0': -8.0,
 '1980.0': -1.0,
 '10235.0': -1.5,
 '1059.0': 0.0,
 '3610.0': -1.0,
 '1987.0': -1.0,
 '11383.0': -6.0,
 '615.0': 4.0,
 '8713.0': 0.0,
 '6147.0': -2.0,
 'new': 0.0}

In [133]:
###To check the different variances per customer_code: boxplot the different customer_code temperatures
warmthdf.assign(index=df.groupby('customer_code').cumcount()).pivot('index','customer_code','middle_temperature').plot(kind='box', figsize = [30,30])

In [77]:
###pallet history contains where packages are going. Which packages are interesting? Testing above. Making it into a feature:

###How many packages are entering a certain area at t as a feature for each location-type, we first make location types to and from
    ###
    ###How much time must be considered? 24-72h for blastfreezer, ideal: between in and out.
    ###What locations to consider? Ignore forks/dock/
    ###what locations can be considered the same, ideal: what locations have same temp.
    
    ##preprocessing the data:
    ###some packages are already in the warehouse for a long time
        #don't consider movements if the time between entranc and t is more than 72 hours because won't cost extra energy 
    



#df = df.assign(movcat = lambda x: (x[0:3]))
#df = df.assign(movcat = lambda x: (x['to_location_code'][0:3])

df = pallet[10000:50000]
for index, row in df.iterrows():  
        a = df.at[index, 'to_location_code']
        b = df.at[index, 'from_location_code']
        df.loc[index, 'frommovcat'] = b[0:3]
        df.loc[index, 'tomovcat'] = a[0:3]
df['tomovcat'].value_counts()


###per movement type I will make one feature that defines how many pallets are moved towards a location. 
    #df = df.assign(Product=lambda x: (x['Field_1'] * x['Field_2'] * x['Field_3']))
    

###divide moving history into different category of areas. 
#mapping = {'(/^FORK/gm)': 'Fork', '(/^CFORK/gm)': 'CFORK', '(/^30/gm)' : '30', '(/^CP/gm)' : 'CP',  '(/^50/gm)' : '50',  '(/^15/gm)' : '15', '(/^11/gm)' : '11',  '(/^01/gm)' : '01' 
           

    ### amount+1 for each order that entered the building within 24h
#            if t <= inbound.at[index, 'load_start_datetime'] <= newtime :
#                amount += measurewarmth(index, row)                            ### use measurewarmth to estimate the warmth that an entry brings in
                
#    return amount

003    8608
FOR    4982
004    4347
015    2640
005    2607
CFO    2459
002    2216
DR0    2051
012    1911
009    1370
010    1199
CP9    1088
CP2    1037
011     913
INV     712
001     599
CP1     399
CP6     241
WRA     221
014     151
013      58
DR9      49
CP7      45
SPJ      41
263      26
000      11
CP4       8
DR5       7
UNA       4
Name: tomovcat, dtype: int64

In [ ]:

###pallet types of locations:
#003    2130
#FOR    1177 
#012    1116
#011    1116
#004    1024
#005     619
#CP9     566
#DR0     483
#CP2     371
#CFO     282
#010     200
#009     174
#INV     142
#SPJ     133
#CP1     126
#CP6     109
#002      69
#WRA      60
#001      47
#015      40
#CP7       8
#CP4       5
#DR9       2