In [1]:
import math, datetime, time, random
import numpy as np
import pandas as pd
from datetime import timedelta
import re
import math, datetime, time, random
import matplotlib.pyplot as plt

In [2]:
def load_data(data_path):
  data = pd.read_csv(data_path)  
  return data
outbound = load_data("outbound_laods.csv")
weather = load_data("weather.csv")
#For loop to ensure that all pallet data is in the same dataframe
pallet = load_data("Pallet_history_Gold_Spike[0].csv")
for x in range(1, 10):
    pallet = pd.concat([pallet, load_data(f"Pallet_history_Gold_Spike[{x}].csv")])
    print(len(pallet))
trainentest = load_data("demand_kWtrain_val.csv")

1000000
1500000
2000000
2500000
3000000
3500000
4000000
4500000
4925535

# Features

## Feature 1 - Temperature and humidity
### What needs to be done
#### preprocess weather dataframe
#### Preprocess base_ft dataframe

In [3]:
def addtimecol(df, colname): ####input df and colname 
        df[colname] = pd.to_datetime(df[colname])         
        df['year'] = df[colname].dt.year
        df['month'] = df[colname].dt.month
        df['weekday'] = df[colname].dt.weekday
        df['day'] = df[colname].dt.day
        df['hour'] = df[colname].dt.hour
        df['minute'] = df[colname].dt.minute        
        return df
def make_datetime(df, col_name): ###To make datetime object from df at colname    
    for index, row in df.iterrows():
        t = df.at[index, col_name]
        time = datetime.datetime.strptime(t, '%Y-%m-%d %H:%M:%S')
        localtime = time - (timedelta(hours=6))
        df.at[index, 'localstrptime'] = localtime

This is already done once

In [4]:
#Add localstrptime, 6 hours before UTC
#base_weather = make_datetime(base_weather, 'datetime_UTC')
base_weather["localstrptime"]= pd.to_datetime(base_weather["localstrptime"])

#Remove unnecessary columns/change column names
base_weather = base_weather.drop(['Unnamed: 0', 'Unnamed: 0.1', 'hour'], axis=1)
base_weather = base_weather.rename(columns={'localstrptime':'datetime_local'})

#Add time columns.
base_weather = addtimecol(base_weather, 'datetime_local')

NameError: name 'base_weather' is not defined

In [5]:
base_weather

NameError: name 'base_weather' is not defined

In [6]:
base_ft = load_data('featuretrain.csv')
base_ft = addtimecol(base_ft, 'datetime_local')
base_ft['datetime_local'] = pd.to_datetime(base_ft['datetime_local'])
base_ft
#type(base_ft['datetime_local'].iloc[3])

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC
0,2018-12-31 18:00:00,2018,12,0,31,18,0,2018-12-31 18:00:00-06:00,50.37,53.6,2019-01-01 00:00:00
1,2018-12-31 18:05:00,2018,12,0,31,18,5,2018-12-31 18:05:00-06:00,50.37,53.6,2019-01-01 00:05:00
2,2018-12-31 18:10:00,2018,12,0,31,18,10,2018-12-31 18:10:00-06:00,50.37,53.6,2019-01-01 00:10:00
3,2018-12-31 18:15:00,2018,12,0,31,18,15,2018-12-31 18:15:00-06:00,50.37,53.6,2019-01-01 00:15:00
4,2018-12-31 18:20:00,2018,12,0,31,18,20,2018-12-31 18:20:00-06:00,50.37,53.6,2019-01-01 00:20:00
...,...,...,...,...,...,...,...,...,...,...,...
485205,2021-12-31 17:35:00,2021,12,4,31,17,35,2021-12-31 17:35:00-06:00,82.89,68.0,2021-12-31 23:35:00
485206,2021-12-31 17:40:00,2021,12,4,31,17,40,2021-12-31 17:40:00-06:00,82.89,68.0,2021-12-31 23:40:00
485207,2021-12-31 17:45:00,2021,12,4,31,17,45,2021-12-31 17:45:00-06:00,82.89,68.0,2021-12-31 23:45:00
485208,2021-12-31 17:50:00,2021,12,4,31,17,50,2021-12-31 17:50:00-06:00,82.89,68.0,2021-12-31 23:50:00
485209,2021-12-31 18:00:00,2021,12,4,31,18,0,2021-12-31 18:00:00-06:00,82.89,68.0,2022-01-01 00:00:00

In [7]:
load_data('featuretrain.csv')

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC
0,2018-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:00:00-06:00,50.37,53.6,2019-01-01 00:00:00
1,2018-12-31 18:05:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:05:00-06:00,50.37,53.6,2019-01-01 00:05:00
2,2018-12-31 18:10:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:10:00-06:00,50.37,53.6,2019-01-01 00:10:00
3,2018-12-31 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:15:00-06:00,50.37,53.6,2019-01-01 00:15:00
4,2018-12-31 18:20:00,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-31 18:20:00-06:00,50.37,53.6,2019-01-01 00:20:00
...,...,...,...,...,...,...,...,...,...,...,...
485205,2021-12-31 17:35:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:35:00-06:00,82.89,68.0,2021-12-31 23:35:00
485206,2021-12-31 17:40:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:40:00-06:00,82.89,68.0,2021-12-31 23:40:00
485207,2021-12-31 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:45:00-06:00,82.89,68.0,2021-12-31 23:45:00
485208,2021-12-31 17:50:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 17:50:00-06:00,82.89,68.0,2021-12-31 23:50:00
485209,2021-12-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-31 18:00:00-06:00,82.89,68.0,2022-01-01 00:00:00

Import trainentest

In [30]:
trainentest = load_data("demand_kWtrain_val.csv")
trainentest['datetime_local'] = pd.to_datetime(trainentest['datetime_local'])
trainentest = trainentest.set_index('datetime_local')
trainentest = trainentest.drop(['Unnamed: 0'], axis = 1)
trainentest = trainentest[~trainentest.index.duplicated()]

Create dataframe with all dates from beginning till end

In [41]:
alldates_df = trainentest.reindex(pd.date_range(start=trainentest.index.min(),
                                                  end=trainentest.index.max(),
                                                  freq='1min'))

In [52]:
alldates_df.to_csv('alldates_df.csv')

In [53]:
alldates_df

                       demand_kW
2018-12-31 21:15:00  2064.101392
2018-12-31 21:16:00          NaN
2018-12-31 21:17:00          NaN
2018-12-31 21:18:00          NaN
2018-12-31 21:19:00          NaN
...                          ...
2021-12-13 17:55:00          NaN
2021-12-13 17:56:00          NaN
2021-12-13 17:57:00          NaN
2021-12-13 17:58:00          NaN
2021-12-13 17:59:00          NaN

[1552125 rows x 1 columns]


## Feature 2 - weight coming into the warehouse in the previous 24 h
### What needs to be done
#### preprocess inbound dataframe
drop missing weight values

fill in either load_start_datetime or truck_signin time as start of 24 hours

Make the index the datetime and sort it

#### create new_ft dataframe to add the feature to

#### create a dataframe to combine all resampled data into

Preprocessing inbound dataframe
I decided to drop missing load_start_datetime, ideal would be to fill in truck_signin_datetime when load_starttime is missing

In [45]:
inbound = load_data("inbound_loads.csv")
inbound_sec = inbound.dropna(subset = ['net_weight', 'load_start_datetime'])
#inbound_sec = inbound_sec.dropna(axis = 0, how = 'any', thresh = 1, subset = ['load_start_datetime', 'truck_signin_datetime'], inplace = True)
inbound_sec = inbound_sec.drop('Unnamed: 0', axis = 1)
inbound_sec = inbound_sec.sort_values('load_start_datetime')
inbound_sec['datetime_local'] = pd.to_datetime(inbound_sec['load_start_datetime'])
inbound_sec = inbound_sec.set_index('datetime_local')

In [46]:
inbound_sec

,warehouse_order_number,customer_code,load_reference_number,carrier_code,front_temperature,middle_temperature,back_temperature,net_weight,weight_uom,case_quantity,pallet_count,load_start_datetime,load_finish_datetime,signout_datetime,dock_door_number,trailer_number,truck_signin_datetime
datetime_local,,,,,,,,,,,,,,,,,
2018-12-30 06:33:00,1315527.0,899.0,I42168974,CHEF,-5.0,-6.0,-6.0,42796.0,pounds,1950.0,24.0,2018-12-30 06:33:00,2018-12-30 09:38:00,2018-12-30 05:38:15,1.0,U69689,2018-12-30 05:38:14
2018-12-31 11:45:00,1315640.0,7240.0,I42169019,TYSF,0.0,0.0,0.0,900.0,pounds,60.0,2.0,2018-12-31 11:45:00,2018-12-31 11:51:00,2018-12-31 09:48:50,44.0,29261,2018-12-31 09:48:49
2018-12-31 14:01:00,1312923.0,8187.0,I42168556,CARG,-2.0,0.0,-3.0,8640.0,pounds,288.0,4.0,2018-12-31 14:01:00,2018-12-31 14:25:00,2018-12-31 14:30:20,47.0,21736,2018-12-31 08:33:44
2018-12-31 14:01:00,1312927.0,8187.0,I42168556,CARG,-2.0,0.0,-3.0,1170.0,pounds,39.0,1.0,2018-12-31 14:01:00,2018-12-31 14:25:00,2018-12-31 14:30:20,47.0,21736,2018-12-31 08:33:44
2018-12-31 14:01:00,1312928.0,8187.0,I42168556,CARG,-2.0,0.0,-3.0,2940.0,pounds,98.0,1.0,2018-12-31 14:01:00,2018-12-31 14:25:00,2018-12-31 14:30:20,47.0,21736,2018-12-31 08:33:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-03 16:12:00,1516085.0,6147.0,I361062091,JBSY,NaN,NaN,NaN,36000.0,pounds,1200.0,25.0,2022-01-03 16:12:00,2022-01-03 16:26:00,2022-01-03 12:01:26,56.0,420140,2022-01-03 12:01:25
2022-01-03 16:35:00,1514482.0,3610.0,I361061428,KLMI,NaN,NaN,NaN,23016.0,pounds,2352.0,56.0,2022-01-03 16:35:00,2022-01-03 17:08:00,2022-01-03 17:35:42,93.0,122862,2022-01-03 11:34:08
2022-01-03 16:38:00,1515418.0,6910.0,I361061889,JLLR,NaN,NaN,NaN,23040.0,pounds,4500.0,30.0,2022-01-03 16:38:00,2022-01-03 17:23:00,2022-01-03 17:57:01,40.0,20RL5389,2022-01-03 11:58:07
2022-01-03 17:02:00,1512810.0,8873.0,I361060827,MTEN,NaN,NaN,NaN,30678.0,pounds,2040.0,36.0,2022-01-03 17:02:00,2022-01-03 17:17:00,2022-01-03 13:28:07,22.0,500385,2022-01-03 13:28:06
2022-01-03 17:58:00,1516103.0,6147.0,I361062112,JBSY,NaN,NaN,NaN,36135.0,pounds,1451.0,27.0,2022-01-03 17:58:00,NaN,2022-01-03 13:11:44,68.0,500135,2022-01-03 13:11:41

In [47]:

inbound_resampled_data_samen = inbound_sec.net_weight.resample('600Min', base = 0, closed = 'right', label = 'right', kind = 'timestamp').sum()


for minute in range(0,600):    
    df2 = inbound_sec.net_weight.resample('600Min', base = minute, closed = 'right',label = 'right', kind='timestamp').sum() 
    inbound_resampled_data_samen = pd.concat([inbound_resampled_data_samen, df2])
    
inbound_resampled_data_samen = inbound_resampled_data_samen = inbound_resampled_data_samen.sort_index()

C:\Users\sonja\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")


C:\Users\sonja\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: 'base' in .resample() and in Grouper() is deprecated.
The new arguments that you should use are 'offset' or 'origin'.

>>> df.resample(freq="3s", base=2)

becomes:

>>> df.resample(freq="3s", offset="2s")

Paste inbound_resampled_data_samen onto the feature df
First get both indexes the same

In [48]:
inbound_resampled_df = inbound_resampled_data_samen.to_frame()
inbound_resampled_df['weight_23h'] = inbound_resampled_df['net_weight']
inbound_resampled_df = inbound_resampled_df.drop(['net_weight'], axis = 1)
inbound_resampled_df.reset_index(inplace = True)
inbound_resampled_df['datetime_local'] = pd.to_datetime(inbound_resampled_df['datetime_local'])
inbound_resampled_df = inbound_resampled_df.set_index('datetime_local')
#inbound_resampled_df['datetime_local'] = pd.Series(inbound_resampled_df.datetime_local.dt.to_pydatetime(), dtype='O')

type(inbound_resampled_df.index[3])

pandas._libs.tslibs.timestamps.Timestamp

In [49]:
type(inbound_resampled_df.index[3])

pandas._libs.tslibs.timestamps.Timestamp

                     weight_23h
datetime_local
2022-01-04 03:53:00     36135.0
2022-01-04 03:54:00     36135.0
2022-01-04 03:55:00     36135.0
2022-01-04 03:56:00     36135.0
2022-01-04 03:57:00     36135.0

In [69]:
inbound_resampled_df.to_csv("incoming_weight_df_10h.csv")

In [35]:
type(inbound_resampled_df.index[3])

pandas._libs.tslibs.timestamps.Timestamp

In [31]:
update_ft = new_ft.copy()
update_ft['datetime_local'] = pd.to_datetime(update_ft['datetime_local'])
#update_ft['datetime_local'] = pd.Series(update_ft.datetime_local.dt.to_pydatetime(), dtype='O')
update_ft = update_ft.set_index('datetime_local')
update_ft

,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC
datetime_local,,,,,,,,,,
2018-12-31 18:00:00,2018,12,0,31,18,0,2018-12-31 18:00:00-06:00,50.37,53.60,2019-01-01 00:00:00
2018-12-31 18:05:00,2018,12,0,31,18,5,2018-12-31 18:05:00-06:00,50.37,53.60,2019-01-01 00:05:00
2018-12-31 18:10:00,2018,12,0,31,18,10,2018-12-31 18:10:00-06:00,50.37,53.60,2019-01-01 00:10:00
2018-12-31 18:15:00,2018,12,0,31,18,15,2018-12-31 18:15:00-06:00,50.37,53.60,2019-01-01 00:15:00
2018-12-31 18:20:00,2018,12,0,31,18,20,2018-12-31 18:20:00-06:00,50.37,53.60,2019-01-01 00:20:00
2018-12-31 18:25:00,2018,12,0,31,18,25,2018-12-31 18:25:00-06:00,50.37,53.60,2019-01-01 00:25:00
2018-12-31 18:30:00,2018,12,0,31,18,30,2018-12-31 18:30:00-06:00,50.37,53.60,2019-01-01 00:30:00
2018-12-31 18:35:00,2018,12,0,31,18,35,2018-12-31 18:35:00-06:00,53.81,51.80,2019-01-01 00:35:00
2018-12-31 18:40:00,2018,12,0,31,18,40,2018-12-31 18:40:00-06:00,53.81,51.80,2019-01-01 00:40:00
2018-12-31 18:45:00,2018,12,0,31,18,45,2018-12-31 18:45:00-06:00,50.37,53.60,2019-01-01 00:45:00
2018-12-31 18:50:00,2018,12,0,31,18,50,2018-12-31 18:50:00-06:00,50.37,53.60,2019-01-01 00:50:00
2018-12-31 18:53:00,2018,12,0,31,18,53,2018-12-31 18:53:00-06:00,50.28,53.06,2019-01-01 00:53:00
2018-12-31 18:55:00,2018,12,0,31,18,55,2018-12-31 18:55:00-06:00,53.81,51.80,2019-01-01 00:55:00
2018-12-31 19:00:00,2018,12,0,31,19,0,2018-12-31 19:00:00-06:00,53.81,51.80,2019-01-01 01:00:00
2018-12-31 19:05:00,2018,12,0,31,19,5,2018-12-31 19:05:00-06:00,53.81,51.80,2019-01-01 01:05:00
2018-12-31 19:10:00,2018,12,0,31,19,10,2018-12-31 19:10:00-06:00,53.81,51.80,2019-01-01 01:10:00
2018-12-31 19:15:00,2018,12,0,31,19,15,2018-12-31 19:15:00-06:00,53.81,51.80,2019-01-01 01:15:00
2018-12-31 19:20:00,2018,12,0,31,19,20,2018-12-31 19:20:00-06:00,53.81,51.80,2019-01-01 01:20:00
2018-12-31 19:25:00,2018,12,0,31,19,25,2018-12-31 19:25:00-06:00,50.08,51.80,2019-01-01 01:25:00
2018-12-31 19:30:00,2018,12,0,31,19,30,2018-12-31 19:30:00-06:00,50.08,51.80,2019-01-01 01:30:00
2018-12-31 19:35:00,2018,12,0,31,19,35,2018-12-31 19:35:00-06:00,50.08,51.80,2019-01-01 01:35:00
2018-12-31 19:40:00,2018,12,0,31,19,40,2018-12-31 19:40:00-06:00,53.53,50.00,2019-01-01 01:40:00
2018-12-31 19:45:00,2018,12,0,31,19,45,2018-12-31 19:45:00-06:00,53.53,50.00,2019-01-01 01:45:00
2018-12-31 19:50:00,2018,12,0,31,19,50,2018-12-31 19:50:00-06:00,53.53,50.00,2019-01-01 01:50:00
2018-12-31 19:53:00,2018,12,0,31,19,53,2018-12-31 19:53:00-06:00,52.01,50.00,2019-01-01 01:53:00
2018-12-31 19:55:00,2018,12,0,31,19,55,2018-12-31 19:55:00-06:00,53.53,50.00,2019-01-01 01:55:00
2018-12-31 20:00:00,2018,12,0,31,20,0,2018-12-31 20:00:00-06:00,53.53,50.00,2019-01-01 02:00:00
2018-12-31 20:05:00,2018,12,0,31,20,5,2018-12-31 20:05:00-06:00,53.53,50.00,2019-01-01 02:05:00
2018-12-31 20:10:00,2018,12,0,31,20,10,2018-12-31 20:10:00-06:00,57.25,48.20,2019-01-01 02:10:00
2018-12-31 20:15:00,2018,12,0,31,20,15,2018-12-31 20:15:00-06:00,53.53,50.00,2019-01-01 02:15:00
...,...,...,...,...,...,...,...,...,...,...
2021-12-31 15:40:00,2021,12,4,31,15,40,2021-12-31 15:40:00-06:00,77.94,69.80,2021-12-31 21:40:00
2021-12-31 15:45:00,2021,12,4,31,15,45,2021-12-31 15:45:00-06:00,77.94,69.80,2021-12-31 21:45:00
2021-12-31 15:50:00,2021,12,4,31,15,50,2021-12-31 15:50:00-06:00,77.94,69.80,2021-12-31 21:50:00
2021-12-31 15:53:00,2021,12,4,31,15,53,2021-12-31 15:53:00-06:00,78.38,69.08,2021-12-31 21:53:00
2021-12-31 15:55:00,2021,12,4,31,15,55,2021-12-31 15:55:00-06:00,77.94,69.80,2021-12-31 21:55:00
2021-12-31 16:00:00,2021,12,4,31,16,0,2021-12-31 16:00:00-06:00,77.94,69.80,2021-12-31 22:00:00
2021-12-31 16:05:00,2021,12,4,31,16,5,2021-12-31 16:05:00-06:00,77.94,69.80,2021-12-31 22:05:00
2021-12-31 16:10:00,2021,12,4,31,16,10,2021-12-31 16:10:00-06:00,77.94,69.80,2021-12-31 22:10:00
2021-12-31 16:15:00,2021,12,4,31,16,15,2021-12-31 16:15:00-06:00,77.94,69.80,2021-12-31 22:15:00
2021-12-31 16:20:00,2021,12,4,31,16,20,2021-12-31 16:20:00-06:00,77.94,69.80,2021-12-31 22:20:00
2021-12-31 16:25:00,2021,12,4,31,16,25,2021-12-31 16:25:00-06:00,77.94,69.80,2021-12-31 22:25:00
2021-12-31 16:30:00,2021,12,4,31,16,30,2021-12-31 16:30:00-06:00,77.94,69.80,2021-12-31 22:30:00
2021-12-31 16:35:00,2021,12,4,31,16,35,2021-12-31 16:35:00-06:00,77.94,69.80,2021-12-31 22:35:00
2021-12-31 16:40:00,2021,12,4,31,16,40,2021-12-31 16:40:00-06:00,77.94,69.80,2021-12-31 22:40:00
2021-12-31 16:45:00,2021,12,4,31,16,45,2021-12-31 16:45:00-06:00,77.94,69.80,2021-12-31 22:45:00
2021-12-31 16:50:00,2021,12,4,31,16,50,2021-12-31 16:50:00-06:00,77.94,69.80,2021-12-31 22:50:00
2021-12-31 16:53:00,2021,12,4,31,16,53,2021-12-31 16:53:00-06:00,80.90,69.08,2021-12-31 22:53:00
2021-12-31 16:55:00,2021,12,4,31,16,55,2021-12-31 16:55:00-06:00,77.94,69.80,2021-12-31 22:55:00
2021-12-31 17:00:00,2021,12,4,31,17,0,2021-12-31 17:00:00-06:00,77.94,69.80,2021-12-31 23:00:00
2021-12-31 17:05:00,2021,12,4,31,17,5,2021-12-31 17:05:00-06:00,77.94,69.80,2021-12-31 23:05:00
2021-12-31 17:10:00,2021,12,4,31,17,10,2021-12-31 17:10:00-06:00,77.94,69.80,2021-12-31 23:10:00
2021-12-31 17:15:00,2021,12,4,31,17,15,2021-12-31 17:15:00-06:00,77.94,69.80,2021-12-31 23:15:00
2021-12-31 17:20:00,2021,12,4,31,17,20,2021-12-31 17:20:00-06:00,77.94,69.80,2021-12-31 23:20:00
2021-12-31 17:25:00,2021,12,4,31,17,25,2021-12-31 17:25:00-06:00,82.89,68.00,2021-12-31 23:25:00
2021-12-31 17:30:00,2021,12,4,31,17,30,2021-12-31 17:30:00-06:00,82.89,68.00,2021-12-31 23:30:00
2021-12-31 17:35:00,2021,12,4,31,17,35,2021-12-31 17:35:00-06:00,82.89,68.00,2021-12-31 23:35:00
2021-12-31 17:40:00,2021,12,4,31,17,40,2021-12-31 17:40:00-06:00,82.89,68.00,2021-12-31 23:40:00
2021-12-31 17:45:00,2021,12,4,31,17,45,2021-12-31 17:45:00-06:00,82.89,68.00,2021-12-31 23:45:00
2021-12-31 17:50:00,2021,12,4,31,17,50,2021-12-31 17:50:00-06:00,82.89,68.00,2021-12-31 23:50:00
2021-12-31 18:00:00,2021,12,4,31,18,0,2021-12-31 18:00:00-06:00,82.89,68.00,2022-01-01 00:00:00

In [34]:
type(update_ft.index[3])

pandas._libs.tslibs.timestamps.Timestamp

In [36]:
#newest_ft = update_ft.concat(inbound_resampled_df, how='left', on='datetime_local')
#weightin_merged_df = update_ft.merge(inbound_resampled_df, left_on='datetime_local', right_index=True, how='left').reset_index()
#weightin_merged_df['weight_23h'] = weightin_merged_df['weight_23h'].fillna(0)
update_ft = pd.concat([update_ft, inbound_resampled_df], axis = 1)

In [39]:
update_ft[9000:10000]

,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC,weight_23h
datetime_local,,,,,,,,,,,
2019-01-05 12:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1055304.0
2019-01-05 12:28:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1055304.0
2019-01-05 12:29:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1055304.0
2019-01-05 12:30:00,2019.0,1.0,5.0,5.0,12.0,30.0,2019-01-05 12:30:00-06:00,36.77,64.40,2019-01-05 18:30:00,1055304.0
2019-01-05 12:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1055304.0
2019-01-05 12:32:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1084388.0
2019-01-05 12:33:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1084388.0
2019-01-05 12:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1084388.0
2019-01-05 12:35:00,2019.0,1.0,5.0,5.0,12.0,35.0,2019-01-05 12:35:00-06:00,36.77,64.40,2019-01-05 18:35:00,1056276.0
2019-01-05 12:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:40:00,2019.0,1.0,5.0,5.0,12.0,40.0,2019-01-05 12:40:00-06:00,36.77,64.40,2019-01-05 18:40:00,1056276.0
2019-01-05 12:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:45:00,2019.0,1.0,5.0,5.0,12.0,45.0,2019-01-05 12:45:00-06:00,34.25,64.40,2019-01-05 18:45:00,1056276.0
2019-01-05 12:46:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:50:00,2019.0,1.0,5.0,5.0,12.0,50.0,2019-01-05 12:50:00-06:00,32.17,66.20,2019-01-05 18:50:00,1056276.0
2019-01-05 12:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1056276.0
2019-01-05 12:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1096830.0
2019-01-05 12:53:00,2019.0,1.0,5.0,5.0,12.0,53.0,2019-01-05 12:53:00-06:00,31.68,66.02,2019-01-05 18:53:00,1096830.0
2019-01-05 12:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1096830.0
2019-01-05 12:55:00,2019.0,1.0,5.0,5.0,12.0,55.0,2019-01-05 12:55:00-06:00,32.17,66.20,2019-01-05 18:55:00,1096830.0
2019-01-05 12:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1096830.0
...,...,...,...,...,...,...,...,...,...,...,...
2019-01-06 04:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:40:00,2019.0,1.0,6.0,6.0,4.0,40.0,2019-01-06 04:40:00-06:00,70.68,46.40,2019-01-06 10:40:00,630141.0
2019-01-06 04:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:45:00,2019.0,1.0,6.0,6.0,4.0,45.0,2019-01-06 04:45:00-06:00,75.67,44.60,2019-01-06 10:45:00,630141.0
2019-01-06 04:46:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:50:00,2019.0,1.0,6.0,6.0,4.0,50.0,2019-01-06 04:50:00-06:00,70.68,46.40,2019-01-06 10:50:00,630141.0
2019-01-06 04:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:53:00,2019.0,1.0,6.0,6.0,4.0,53.0,2019-01-06 04:53:00-06:00,73.59,44.96,2019-01-06 10:53:00,630141.0
2019-01-06 04:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:55:00,2019.0,1.0,6.0,6.0,4.0,55.0,2019-01-06 04:55:00-06:00,75.67,44.60,2019-01-06 10:55:00,630141.0
2019-01-06 04:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 04:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 05:00:00,2019.0,1.0,6.0,6.0,5.0,0.0,2019-01-06 05:00:00-06:00,70.68,46.40,2019-01-06 11:00:00,630141.0
2019-01-06 05:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 05:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 05:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 05:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630141.0
2019-01-06 05:05:00,2019.0,1.0,6.0,6.0,5.0,5.0,2019-01-06 05:05:00-06:00,70.68,46.40,2019-01-06 11:05:00,630141.0

In [252]:
update_ft = update_ft.set_index('datetime_local')
inbound_resampled_df = inbound_resampled_df.set_index('datetime_local')
concated_df = pd.concat([update_ft, inbound_resampled_df], axis = 1)


## Feature 3 - pallets moved in the previous 5 minutes
### What needs to be done
#### preprocess pallet dataframe
drop missing pallet values

Make the index the datetime and sort it

#### create new_ft dataframe to add the feature to

#### create a dataframe to combine all resampled data into

In [45]:
pallet_sec = pallet.copy()
#pallet_sec = pallet_sec[pallet_sec['quantity'] != 0]
pallet_sec = pallet_sec.drop(['Unnamed: 0','tran_type', 'Unnamed: 0.1', 'source_system_id', 'warehouse_facility_id', 'final_pallet_code', 'lot_code'], axis = 1)

pallet_sec['transaction_date'] = pd.to_datetime(pallet_sec['transaction_date'])
pallet_sec = pallet_sec.reset_index()

#remove previous not-working index
pallet_sec = pallet_sec.drop(['index'], axis = 1)

#Make datetime_local a datetime and its index
pallet_sec['datetime_local'] = pd.to_datetime(pallet_sec['transaction_date'])
pallet_sec = pallet_sec.sort_values('datetime_local')
pallet_sec.set_index('datetime_local', inplace = True)

In [47]:
pallet_new_ft = base_ft.copy()
pallet_new_ft['datetime_local'] = pd.to_datetime(pallet_new_ft['datetime_local'])
pallet_new_ft

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC
0,2018-12-31 18:00:00,2018,12,0,31,18,0,2018-12-31 18:00:00-06:00,50.37,53.60,2019-01-01 00:00:00
1,2018-12-31 18:05:00,2018,12,0,31,18,5,2018-12-31 18:05:00-06:00,50.37,53.60,2019-01-01 00:05:00
2,2018-12-31 18:10:00,2018,12,0,31,18,10,2018-12-31 18:10:00-06:00,50.37,53.60,2019-01-01 00:10:00
3,2018-12-31 18:15:00,2018,12,0,31,18,15,2018-12-31 18:15:00-06:00,50.37,53.60,2019-01-01 00:15:00
4,2018-12-31 18:20:00,2018,12,0,31,18,20,2018-12-31 18:20:00-06:00,50.37,53.60,2019-01-01 00:20:00
5,2018-12-31 18:25:00,2018,12,0,31,18,25,2018-12-31 18:25:00-06:00,50.37,53.60,2019-01-01 00:25:00
6,2018-12-31 18:30:00,2018,12,0,31,18,30,2018-12-31 18:30:00-06:00,50.37,53.60,2019-01-01 00:30:00
7,2018-12-31 18:35:00,2018,12,0,31,18,35,2018-12-31 18:35:00-06:00,53.81,51.80,2019-01-01 00:35:00
8,2018-12-31 18:40:00,2018,12,0,31,18,40,2018-12-31 18:40:00-06:00,53.81,51.80,2019-01-01 00:40:00
9,2018-12-31 18:45:00,2018,12,0,31,18,45,2018-12-31 18:45:00-06:00,50.37,53.60,2019-01-01 00:45:00
10,2018-12-31 18:50:00,2018,12,0,31,18,50,2018-12-31 18:50:00-06:00,50.37,53.60,2019-01-01 00:50:00
11,2018-12-31 18:53:00,2018,12,0,31,18,53,2018-12-31 18:53:00-06:00,50.28,53.06,2019-01-01 00:53:00
12,2018-12-31 18:55:00,2018,12,0,31,18,55,2018-12-31 18:55:00-06:00,53.81,51.80,2019-01-01 00:55:00
13,2018-12-31 19:00:00,2018,12,0,31,19,0,2018-12-31 19:00:00-06:00,53.81,51.80,2019-01-01 01:00:00
14,2018-12-31 19:05:00,2018,12,0,31,19,5,2018-12-31 19:05:00-06:00,53.81,51.80,2019-01-01 01:05:00
15,2018-12-31 19:10:00,2018,12,0,31,19,10,2018-12-31 19:10:00-06:00,53.81,51.80,2019-01-01 01:10:00
16,2018-12-31 19:15:00,2018,12,0,31,19,15,2018-12-31 19:15:00-06:00,53.81,51.80,2019-01-01 01:15:00
17,2018-12-31 19:20:00,2018,12,0,31,19,20,2018-12-31 19:20:00-06:00,53.81,51.80,2019-01-01 01:20:00
18,2018-12-31 19:25:00,2018,12,0,31,19,25,2018-12-31 19:25:00-06:00,50.08,51.80,2019-01-01 01:25:00
19,2018-12-31 19:30:00,2018,12,0,31,19,30,2018-12-31 19:30:00-06:00,50.08,51.80,2019-01-01 01:30:00
20,2018-12-31 19:35:00,2018,12,0,31,19,35,2018-12-31 19:35:00-06:00,50.08,51.80,2019-01-01 01:35:00
21,2018-12-31 19:40:00,2018,12,0,31,19,40,2018-12-31 19:40:00-06:00,53.53,50.00,2019-01-01 01:40:00
22,2018-12-31 19:45:00,2018,12,0,31,19,45,2018-12-31 19:45:00-06:00,53.53,50.00,2019-01-01 01:45:00
23,2018-12-31 19:50:00,2018,12,0,31,19,50,2018-12-31 19:50:00-06:00,53.53,50.00,2019-01-01 01:50:00
24,2018-12-31 19:53:00,2018,12,0,31,19,53,2018-12-31 19:53:00-06:00,52.01,50.00,2019-01-01 01:53:00
25,2018-12-31 19:55:00,2018,12,0,31,19,55,2018-12-31 19:55:00-06:00,53.53,50.00,2019-01-01 01:55:00
26,2018-12-31 20:00:00,2018,12,0,31,20,0,2018-12-31 20:00:00-06:00,53.53,50.00,2019-01-01 02:00:00
27,2018-12-31 20:05:00,2018,12,0,31,20,5,2018-12-31 20:05:00-06:00,53.53,50.00,2019-01-01 02:05:00
28,2018-12-31 20:10:00,2018,12,0,31,20,10,2018-12-31 20:10:00-06:00,57.25,48.20,2019-01-01 02:10:00
29,2018-12-31 20:15:00,2018,12,0,31,20,15,2018-12-31 20:15:00-06:00,53.53,50.00,2019-01-01 02:15:00
...,...,...,...,...,...,...,...,...,...,...,...
485180,2021-12-31 15:40:00,2021,12,4,31,15,40,2021-12-31 15:40:00-06:00,77.94,69.80,2021-12-31 21:40:00
485181,2021-12-31 15:45:00,2021,12,4,31,15,45,2021-12-31 15:45:00-06:00,77.94,69.80,2021-12-31 21:45:00
485182,2021-12-31 15:50:00,2021,12,4,31,15,50,2021-12-31 15:50:00-06:00,77.94,69.80,2021-12-31 21:50:00
485183,2021-12-31 15:53:00,2021,12,4,31,15,53,2021-12-31 15:53:00-06:00,78.38,69.08,2021-12-31 21:53:00
485184,2021-12-31 15:55:00,2021,12,4,31,15,55,2021-12-31 15:55:00-06:00,77.94,69.80,2021-12-31 21:55:00
485185,2021-12-31 16:00:00,2021,12,4,31,16,0,2021-12-31 16:00:00-06:00,77.94,69.80,2021-12-31 22:00:00
485186,2021-12-31 16:05:00,2021,12,4,31,16,5,2021-12-31 16:05:00-06:00,77.94,69.80,2021-12-31 22:05:00
485187,2021-12-31 16:10:00,2021,12,4,31,16,10,2021-12-31 16:10:00-06:00,77.94,69.80,2021-12-31 22:10:00
485188,2021-12-31 16:15:00,2021,12,4,31,16,15,2021-12-31 16:15:00-06:00,77.94,69.80,2021-12-31 22:15:00
485189,2021-12-31 16:20:00,2021,12,4,31,16,20,2021-12-31 16:20:00-06:00,77.94,69.80,2021-12-31 22:20:00
485190,2021-12-31 16:25:00,2021,12,4,31,16,25,2021-12-31 16:25:00-06:00,77.94,69.80,2021-12-31 22:25:00
485191,2021-12-31 16:30:00,2021,12,4,31,16,30,2021-12-31 16:30:00-06:00,77.94,69.80,2021-12-31 22:30:00
485192,2021-12-31 16:35:00,2021,12,4,31,16,35,2021-12-31 16:35:00-06:00,77.94,69.80,2021-12-31 22:35:00
485193,2021-12-31 16:40:00,2021,12,4,31,16,40,2021-12-31 16:40:00-06:00,77.94,69.80,2021-12-31 22:40:00
485194,2021-12-31 16:45:00,2021,12,4,31,16,45,2021-12-31 16:45:00-06:00,77.94,69.80,2021-12-31 22:45:00
485195,2021-12-31 16:50:00,2021,12,4,31,16,50,2021-12-31 16:50:00-06:00,77.94,69.80,2021-12-31 22:50:00
485196,2021-12-31 16:53:00,2021,12,4,31,16,53,2021-12-31 16:53:00-06:00,80.90,69.08,2021-12-31 22:53:00
485197,2021-12-31 16:55:00,2021,12,4,31,16,55,2021-12-31 16:55:00-06:00,77.94,69.80,2021-12-31 22:55:00
485198,2021-12-31 17:00:00,2021,12,4,31,17,0,2021-12-31 17:00:00-06:00,77.94,69.80,2021-12-31 23:00:00
485199,2021-12-31 17:05:00,2021,12,4,31,17,5,2021-12-31 17:05:00-06:00,77.94,69.80,2021-12-31 23:05:00
485200,2021-12-31 17:10:00,2021,12,4,31,17,10,2021-12-31 17:10:00-06:00,77.94,69.80,2021-12-31 23:10:00
485201,2021-12-31 17:15:00,2021,12,4,31,17,15,2021-12-31 17:15:00-06:00,77.94,69.80,2021-12-31 23:15:00
485202,2021-12-31 17:20:00,2021,12,4,31,17,20,2021-12-31 17:20:00-06:00,77.94,69.80,2021-12-31 23:20:00
485203,2021-12-31 17:25:00,2021,12,4,31,17,25,2021-12-31 17:25:00-06:00,82.89,68.00,2021-12-31 23:25:00
485204,2021-12-31 17:30:00,2021,12,4,31,17,30,2021-12-31 17:30:00-06:00,82.89,68.00,2021-12-31 23:30:00
485205,2021-12-31 17:35:00,2021,12,4,31,17,35,2021-12-31 17:35:00-06:00,82.89,68.00,2021-12-31 23:35:00
485206,2021-12-31 17:40:00,2021,12,4,31,17,40,2021-12-31 17:40:00-06:00,82.89,68.00,2021-12-31 23:40:00
485207,2021-12-31 17:45:00,2021,12,4,31,17,45,2021-12-31 17:45:00-06:00,82.89,68.00,2021-12-31 23:45:00
485208,2021-12-31 17:50:00,2021,12,4,31,17,50,2021-12-31 17:50:00-06:00,82.89,68.00,2021-12-31 23:50:00
485209,2021-12-31 18:00:00,2021,12,4,31,18,0,2021-12-31 18:00:00-06:00,82.89,68.00,2022-01-01 00:00:00

In [48]:
startingpoint = pallet_new_ft['datetime_local'].iloc[0]
pallet_resampled_data = pallet_sec.quantity.resample('5Min', base = 0, closed = 'right', label = 'right', kind = 'timestamp').sum()


for minute in range(0,5):    
    df2 = pallet_sec.quantity.resample('5Min', base = minute, closed = 'right',label = 'right', kind='timestamp').sum() 
    pallet_resampled_data = pd.concat([pallet_resampled_data, df2])
    
pallet_resampled_data = pallet_resampled_data.sort_index()

In [49]:
pallet_resampled_df = pallet_resampled_data.to_frame()
pallet_resampled_df.reset_index(inplace = True)
pallet_resampled_df['datetime_local'] = pd.to_datetime(pallet_resampled_df['datetime_local'])
pallet_resampled_df['datetime_local'] = pd.Series(pallet_resampled_df.datetime_local.dt.to_pydatetime(), dtype='O')
pallet_resampled_df.set_index('datetime_local', inplace = True)
pallet_resampled_df

              datetime_local  quantity
0        2019-01-02 00:30:00        63
1        2019-01-02 00:30:00        63
2        2019-01-02 00:31:00        63
3        2019-01-02 00:32:00       126
4        2019-01-02 00:33:00       126
5        2019-01-02 00:34:00       189
6        2019-01-02 00:35:00       189
7        2019-01-02 00:35:00       189
8        2019-01-02 00:36:00       189
9        2019-01-02 00:37:00       189
10       2019-01-02 00:38:00       252
11       2019-01-02 00:39:00       189
12       2019-01-02 00:40:00       189
13       2019-01-02 00:40:00       189
14       2019-01-02 00:41:00       249
15       2019-01-02 00:42:00       249
16       2019-01-02 00:43:00       246
17       2019-01-02 00:44:00       309
18       2019-01-02 00:45:00       246
19       2019-01-02 00:45:00       246
20       2019-01-02 00:46:00       309
21       2019-01-02 00:47:00       369
22       2019-01-02 00:48:00       369
23       2019-01-02 00:49:00       369
24       2019-01-02 00:50:00       492
25       2019-01-02 00:50:00       492
26       2019-01-02 00:51:00       429
27       2019-01-02 00:52:00       429
28       2019-01-02 00:53:00       369
29       2019-01-02 00:54:00       429
...                      ...       ...
1910522  2022-01-11 15:31:00       121
1910523  2022-01-11 15:32:00       121
1910524  2022-01-11 15:33:00       161
1910525  2022-01-11 15:34:00       341
1910526  2022-01-11 15:35:00       341
1910527  2022-01-11 15:35:00       341
1910528  2022-01-11 15:36:00       340
1910529  2022-01-11 15:37:00       340
1910530  2022-01-11 15:38:00       520
1910531  2022-01-11 15:39:00       420
1910532  2022-01-11 15:40:00       420
1910533  2022-01-11 15:40:00       420
1910534  2022-01-11 15:41:00       480
1910535  2022-01-11 15:42:00       420
1910536  2022-01-11 15:43:00       260
1910537  2022-01-11 15:44:00       240
1910538  2022-01-11 15:45:00       180
1910539  2022-01-11 15:45:00       180
1910540  2022-01-11 15:46:00       180
1910541  2022-01-11 15:47:00       240
1910542  2022-01-11 15:48:00       240
1910543  2022-01-11 15:49:00       180
1910544  2022-01-11 15:50:00       240
1910545  2022-01-11 15:50:00       240
1910546  2022-01-11 15:51:00       240
1910547  2022-01-11 15:52:00       180
1910548  2022-01-11 15:53:00       120
1910549  2022-01-11 15:54:00       120
1910550  2022-01-11 15:55:00        60
1910551  2022-01-11 15:55:00        60

[1910552 rows x 2 columns]

In [52]:

pallet_resampled_df.to_csv('pallet_movement_5min_ft.csv')

In [ ]:
pallet_update_ft = pallet_new_ft.copy()

pallet_update_ft['datetime_local'] = pd.to_datetime(pallet_update_ft['datetime_local'])
pallet_update_ft['datetime_local'] = pd.Series(pallet_update_ft.datetime_local.dt.to_pydatetime(), dtype='O')

NameError: name 'pallet_update_ft' is not defined

In [208]:
pallet_newest_ft = pallet_update_ft.merge(pallet_resampled_df, how='left', on='datetime_local')

In [209]:
pallet_newest_ft[20000:20500]

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC,net_weight,quantity
20000,2019-02-03 08:40:00,2019,2,6,3,8,40,2019-02-03 08:40:00-06:00,93.80,60.80,2019-02-03 14:40:00,796170.0,858.0
20001,2019-02-03 08:40:00,2019,2,6,3,8,40,2019-02-03 08:40:00-06:00,93.80,60.80,2019-02-03 14:40:00,796170.0,858.0
20002,2019-02-03 08:45:00,2019,2,6,3,8,45,2019-02-03 08:45:00-06:00,87.94,60.80,2019-02-03 14:45:00,764123.0,1198.0
20003,2019-02-03 08:45:00,2019,2,6,3,8,45,2019-02-03 08:45:00-06:00,87.94,60.80,2019-02-03 14:45:00,764123.0,1198.0
20004,2019-02-03 08:50:00,2019,2,6,3,8,50,2019-02-03 08:50:00-06:00,93.80,60.80,2019-02-03 14:50:00,764123.0,1432.0
20005,2019-02-03 08:50:00,2019,2,6,3,8,50,2019-02-03 08:50:00-06:00,93.80,60.80,2019-02-03 14:50:00,764123.0,1432.0
20006,2019-02-03 08:53:00,2019,2,6,3,8,53,2019-02-03 08:53:00-06:00,93.20,60.98,2019-02-03 14:53:00,764123.0,855.0
20007,2019-02-03 08:55:00,2019,2,6,3,8,55,2019-02-03 08:55:00-06:00,87.94,60.80,2019-02-03 14:55:00,764123.0,1496.0
20008,2019-02-03 08:55:00,2019,2,6,3,8,55,2019-02-03 08:55:00-06:00,87.94,60.80,2019-02-03 14:55:00,764123.0,1496.0
20009,2019-02-03 09:00:00,2019,2,6,3,9,0,2019-02-03 09:00:00-06:00,88.02,62.60,2019-02-03 15:00:00,737365.0,1258.0
20010,2019-02-03 09:00:00,2019,2,6,3,9,0,2019-02-03 09:00:00-06:00,88.02,62.60,2019-02-03 15:00:00,737365.0,1258.0
20011,2019-02-03 09:05:00,2019,2,6,3,9,5,2019-02-03 09:05:00-06:00,88.02,62.60,2019-02-03 15:05:00,737365.0,1912.0
20012,2019-02-03 09:05:00,2019,2,6,3,9,5,2019-02-03 09:05:00-06:00,88.02,62.60,2019-02-03 15:05:00,737365.0,1912.0
20013,2019-02-03 09:10:00,2019,2,6,3,9,10,2019-02-03 09:10:00-06:00,88.02,62.60,2019-02-03 15:10:00,702821.0,1331.0
20014,2019-02-03 09:10:00,2019,2,6,3,9,10,2019-02-03 09:10:00-06:00,88.02,62.60,2019-02-03 15:10:00,702821.0,1331.0
20015,2019-02-03 09:15:00,2019,2,6,3,9,15,2019-02-03 09:15:00-06:00,88.02,62.60,2019-02-03 15:15:00,702821.0,1605.0
20016,2019-02-03 09:15:00,2019,2,6,3,9,15,2019-02-03 09:15:00-06:00,88.02,62.60,2019-02-03 15:15:00,702821.0,1605.0
20017,2019-02-03 09:20:00,2019,2,6,3,9,20,2019-02-03 09:20:00-06:00,82.52,62.60,2019-02-03 15:20:00,702821.0,1357.0
20018,2019-02-03 09:20:00,2019,2,6,3,9,20,2019-02-03 09:20:00-06:00,82.52,62.60,2019-02-03 15:20:00,702821.0,1357.0
20019,2019-02-03 09:25:00,2019,2,6,3,9,25,2019-02-03 09:25:00-06:00,88.02,62.60,2019-02-03 15:25:00,702821.0,1284.0
20020,2019-02-03 09:25:00,2019,2,6,3,9,25,2019-02-03 09:25:00-06:00,88.02,62.60,2019-02-03 15:25:00,702821.0,1284.0
20021,2019-02-03 09:30:00,2019,2,6,3,9,30,2019-02-03 09:30:00-06:00,88.02,62.60,2019-02-03 15:30:00,702821.0,1025.0
20022,2019-02-03 09:30:00,2019,2,6,3,9,30,2019-02-03 09:30:00-06:00,88.02,62.60,2019-02-03 15:30:00,702821.0,1025.0
20023,2019-02-03 09:35:00,2019,2,6,3,9,35,2019-02-03 09:35:00-06:00,82.52,62.60,2019-02-03 15:35:00,702821.0,1158.0
20024,2019-02-03 09:35:00,2019,2,6,3,9,35,2019-02-03 09:35:00-06:00,82.52,62.60,2019-02-03 15:35:00,702821.0,1158.0
20025,2019-02-03 09:40:00,2019,2,6,3,9,40,2019-02-03 09:40:00-06:00,82.52,62.60,2019-02-03 15:40:00,738431.0,665.0
20026,2019-02-03 09:40:00,2019,2,6,3,9,40,2019-02-03 09:40:00-06:00,82.52,62.60,2019-02-03 15:40:00,738431.0,665.0
20027,2019-02-03 09:45:00,2019,2,6,3,9,45,2019-02-03 09:45:00-06:00,88.02,62.60,2019-02-03 15:45:00,738431.0,914.0
20028,2019-02-03 09:45:00,2019,2,6,3,9,45,2019-02-03 09:45:00-06:00,88.02,62.60,2019-02-03 15:45:00,738431.0,914.0
20029,2019-02-03 09:50:00,2019,2,6,3,9,50,2019-02-03 09:50:00-06:00,82.52,62.60,2019-02-03 15:50:00,738431.0,890.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20470,2019-02-04 03:15:00,2019,2,0,4,3,15,2019-02-04 03:15:00-06:00,93.75,59.00,2019-02-04 09:15:00,628755.0,5.0
20471,2019-02-04 03:20:00,2019,2,0,4,3,20,2019-02-04 03:20:00-06:00,93.75,59.00,2019-02-04 09:20:00,628755.0,3.0
20472,2019-02-04 03:20:00,2019,2,0,4,3,20,2019-02-04 03:20:00-06:00,93.75,59.00,2019-02-04 09:20:00,628755.0,3.0
20473,2019-02-04 03:25:00,2019,2,0,4,3,25,2019-02-04 03:25:00-06:00,93.75,59.00,2019-02-04 09:25:00,628755.0,0.0
20474,2019-02-04 03:25:00,2019,2,0,4,3,25,2019-02-04 03:25:00-06:00,93.75,59.00,2019-02-04 09:25:00,628755.0,0.0
20475,2019-02-04 03:30:00,2019,2,0,4,3,30,2019-02-04 03:30:00-06:00,93.75,59.00,2019-02-04 09:30:00,628755.0,0.0
20476,2019-02-04 03:30:00,2019,2,0,4,3,30,2019-02-04 03:30:00-06:00,93.75,59.00,2019-02-04 09:30:00,628755.0,0.0
20477,2019-02-04 03:35:00,2019,2,0,4,3,35,2019-02-04 03:35:00-06:00,93.70,57.20,2019-02-04 09:35:00,628755.0,216.0
20478,2019-02-04 03:35:00,2019,2,0,4,3,35,2019-02-04 03:35:00-06:00,93.70,57.20,2019-02-04 09:35:00,628755.0,216.0
20479,2019-02-04 03:40:00,2019,2,0,4,3,40,2019-02-04 03:40:00-06:00,93.70,57.20,2019-02-04 09:40:00,628755.0,248.0
20480,2019-02-04 03:40:00,2019,2,0,4,3,40,2019-02-04 03:40:00-06:00,93.70,57.20,2019-02-04 09:40:00,628755.0,248.0
20481,2019-02-04 03:45:00,2019,2,0,4,3,45,2019-02-04 03:45:00-06:00,93.70,57.20,2019-02-04 09:45:00,628755.0,514.0
20482,2019-02-04 03:45:00,2019,2,0,4,3,45,2019-02-04 03:45:00-06:00,93.70,57.20,2019-02-04 09:45:00,628755.0,514.0
20483,2019-02-04 03:50:00,2019,2,0,4,3,50,2019-02-04 03:50:00-06:00,93.70,57.20,2019-02-04 09:50:00,628755.0,567.0
20484,2019-02-04 03:50:00,2019,2,0,4,3,50,2019-02-04 03:50:00-06:00,93.70,57.20,2019-02-04 09:50:00,628755.0,567.0
20485,2019-02-04 03:53:00,2019,2,0,4,3,53,2019-02-04 03:53:00-06:00,96.17,57.02,2019-02-04 09:53:00,628755.0,516.0
20486,2019-02-04 03:55:00,2019,2,0,4,3,55,2019-02-04 03:55:00-06:00,93.70,57.20,2019-02-04 09:55:00,628755.0,767.0
20487,2019-02-04 03:55:00,2019,2,0,4,3,55,2019-02-04 03:55:00-06:00,93.70,57.20,2019-02-04 09:55:00,628755.0,767.0
20488,2019-02-04 04:00:00,2019,2,0,4,4,0,2019-02-04 04:00:00-06:00,93.70,57.20,2019-02-04 10:00:00,628755.0,575.0
20489,2019-02-04 04:00:00,2019,2,0,4,4,0,2019-02-04 04:00:00-06:00,93.70,57.20,2019-02-04 10:00:00,628755.0,575.0
20490,2019-02-04 04:05:00,2019,2,0,4,4,5,2019-02-04 04:05:00-06:00,93.70,57.20,2019-02-04 10:05:00,628755.0,747.0
20491,2019-02-04 04:05:00,2019,2,0,4,4,5,2019-02-04 04:05:00-06:00,93.70,57.20,2019-02-04 10:05:00,628755.0,747.0
20492,2019-02-04 04:10:00,2019,2,0,4,4,10,2019-02-04 04:10:00-06:00,93.70,57.20,2019-02-04 10:10:00,628755.0,531.0
20493,2019-02-04 04:10:00,2019,2,0,4,4,10,2019-02-04 04:10:00-06:00,93.70,57.20,2019-02-04 10:10:00,628755.0,531.0
20494,2019-02-04 04:15:00,2019,2,0,4,4,15,2019-02-04 04:15:00-06:00,93.70,57.20,2019-02-04 10:15:00,668155.0,796.0
20495,2019-02-04 04:15:00,2019,2,0,4,4,15,2019-02-04 04:15:00-06:00,93.70,57.20,2019-02-04 10:15:00,668155.0,796.0
20496,2019-02-04 04:20:00,2019,2,0,4,4,20,2019-02-04 04:20:00-06:00,93.70,57.20,2019-02-04 10:20:00,668155.0,1214.0
20497,2019-02-04 04:20:00,2019,2,0,4,4,20,2019-02-04 04:20:00-06:00,93.70,57.20,2019-02-04 10:20:00,668155.0,1214.0
20498,2019-02-04 04:25:00,2019,2,0,4,4,25,2019-02-04 04:25:00-06:00,93.70,57.20,2019-02-04 10:25:00,668155.0,915.0
20499,2019-02-04 04:25:00,2019,2,0,4,4,25,2019-02-04 04:25:00-06:00,93.70,57.20,2019-02-04 10:25:00,668155.0,915.0

In [204]:
pallet_newest_ft['quantity'] = pallet_newest_ft['quantity'].fillna(0)
pallet_newest_ft[20000:20500]

,datetime_local,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC,net_weight,quantity
20000,2019-02-03 08:40:00,2019,2,6,3,8,40,2019-02-03 08:40:00-06:00,93.80,60.80,2019-02-03 14:40:00,796170.0,858.0
20001,2019-02-03 08:40:00,2019,2,6,3,8,40,2019-02-03 08:40:00-06:00,93.80,60.80,2019-02-03 14:40:00,796170.0,858.0
20002,2019-02-03 08:45:00,2019,2,6,3,8,45,2019-02-03 08:45:00-06:00,87.94,60.80,2019-02-03 14:45:00,764123.0,1198.0
20003,2019-02-03 08:45:00,2019,2,6,3,8,45,2019-02-03 08:45:00-06:00,87.94,60.80,2019-02-03 14:45:00,764123.0,1198.0
20004,2019-02-03 08:50:00,2019,2,6,3,8,50,2019-02-03 08:50:00-06:00,93.80,60.80,2019-02-03 14:50:00,764123.0,1432.0
20005,2019-02-03 08:50:00,2019,2,6,3,8,50,2019-02-03 08:50:00-06:00,93.80,60.80,2019-02-03 14:50:00,764123.0,1432.0
20006,2019-02-03 08:53:00,2019,2,6,3,8,53,2019-02-03 08:53:00-06:00,93.20,60.98,2019-02-03 14:53:00,764123.0,855.0
20007,2019-02-03 08:55:00,2019,2,6,3,8,55,2019-02-03 08:55:00-06:00,87.94,60.80,2019-02-03 14:55:00,764123.0,1496.0
20008,2019-02-03 08:55:00,2019,2,6,3,8,55,2019-02-03 08:55:00-06:00,87.94,60.80,2019-02-03 14:55:00,764123.0,1496.0
20009,2019-02-03 09:00:00,2019,2,6,3,9,0,2019-02-03 09:00:00-06:00,88.02,62.60,2019-02-03 15:00:00,737365.0,1258.0
20010,2019-02-03 09:00:00,2019,2,6,3,9,0,2019-02-03 09:00:00-06:00,88.02,62.60,2019-02-03 15:00:00,737365.0,1258.0
20011,2019-02-03 09:05:00,2019,2,6,3,9,5,2019-02-03 09:05:00-06:00,88.02,62.60,2019-02-03 15:05:00,737365.0,1912.0
20012,2019-02-03 09:05:00,2019,2,6,3,9,5,2019-02-03 09:05:00-06:00,88.02,62.60,2019-02-03 15:05:00,737365.0,1912.0
20013,2019-02-03 09:10:00,2019,2,6,3,9,10,2019-02-03 09:10:00-06:00,88.02,62.60,2019-02-03 15:10:00,702821.0,1331.0
20014,2019-02-03 09:10:00,2019,2,6,3,9,10,2019-02-03 09:10:00-06:00,88.02,62.60,2019-02-03 15:10:00,702821.0,1331.0
20015,2019-02-03 09:15:00,2019,2,6,3,9,15,2019-02-03 09:15:00-06:00,88.02,62.60,2019-02-03 15:15:00,702821.0,1605.0
20016,2019-02-03 09:15:00,2019,2,6,3,9,15,2019-02-03 09:15:00-06:00,88.02,62.60,2019-02-03 15:15:00,702821.0,1605.0
20017,2019-02-03 09:20:00,2019,2,6,3,9,20,2019-02-03 09:20:00-06:00,82.52,62.60,2019-02-03 15:20:00,702821.0,1357.0
20018,2019-02-03 09:20:00,2019,2,6,3,9,20,2019-02-03 09:20:00-06:00,82.52,62.60,2019-02-03 15:20:00,702821.0,1357.0
20019,2019-02-03 09:25:00,2019,2,6,3,9,25,2019-02-03 09:25:00-06:00,88.02,62.60,2019-02-03 15:25:00,702821.0,1284.0
20020,2019-02-03 09:25:00,2019,2,6,3,9,25,2019-02-03 09:25:00-06:00,88.02,62.60,2019-02-03 15:25:00,702821.0,1284.0
20021,2019-02-03 09:30:00,2019,2,6,3,9,30,2019-02-03 09:30:00-06:00,88.02,62.60,2019-02-03 15:30:00,702821.0,1025.0
20022,2019-02-03 09:30:00,2019,2,6,3,9,30,2019-02-03 09:30:00-06:00,88.02,62.60,2019-02-03 15:30:00,702821.0,1025.0
20023,2019-02-03 09:35:00,2019,2,6,3,9,35,2019-02-03 09:35:00-06:00,82.52,62.60,2019-02-03 15:35:00,702821.0,1158.0
20024,2019-02-03 09:35:00,2019,2,6,3,9,35,2019-02-03 09:35:00-06:00,82.52,62.60,2019-02-03 15:35:00,702821.0,1158.0
20025,2019-02-03 09:40:00,2019,2,6,3,9,40,2019-02-03 09:40:00-06:00,82.52,62.60,2019-02-03 15:40:00,738431.0,665.0
20026,2019-02-03 09:40:00,2019,2,6,3,9,40,2019-02-03 09:40:00-06:00,82.52,62.60,2019-02-03 15:40:00,738431.0,665.0
20027,2019-02-03 09:45:00,2019,2,6,3,9,45,2019-02-03 09:45:00-06:00,88.02,62.60,2019-02-03 15:45:00,738431.0,914.0
20028,2019-02-03 09:45:00,2019,2,6,3,9,45,2019-02-03 09:45:00-06:00,88.02,62.60,2019-02-03 15:45:00,738431.0,914.0
20029,2019-02-03 09:50:00,2019,2,6,3,9,50,2019-02-03 09:50:00-06:00,82.52,62.60,2019-02-03 15:50:00,738431.0,890.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20470,2019-02-04 03:15:00,2019,2,0,4,3,15,2019-02-04 03:15:00-06:00,93.75,59.00,2019-02-04 09:15:00,628755.0,5.0
20471,2019-02-04 03:20:00,2019,2,0,4,3,20,2019-02-04 03:20:00-06:00,93.75,59.00,2019-02-04 09:20:00,628755.0,3.0
20472,2019-02-04 03:20:00,2019,2,0,4,3,20,2019-02-04 03:20:00-06:00,93.75,59.00,2019-02-04 09:20:00,628755.0,3.0
20473,2019-02-04 03:25:00,2019,2,0,4,3,25,2019-02-04 03:25:00-06:00,93.75,59.00,2019-02-04 09:25:00,628755.0,0.0
20474,2019-02-04 03:25:00,2019,2,0,4,3,25,2019-02-04 03:25:00-06:00,93.75,59.00,2019-02-04 09:25:00,628755.0,0.0
20475,2019-02-04 03:30:00,2019,2,0,4,3,30,2019-02-04 03:30:00-06:00,93.75,59.00,2019-02-04 09:30:00,628755.0,0.0
20476,2019-02-04 03:30:00,2019,2,0,4,3,30,2019-02-04 03:30:00-06:00,93.75,59.00,2019-02-04 09:30:00,628755.0,0.0
20477,2019-02-04 03:35:00,2019,2,0,4,3,35,2019-02-04 03:35:00-06:00,93.70,57.20,2019-02-04 09:35:00,628755.0,216.0
20478,2019-02-04 03:35:00,2019,2,0,4,3,35,2019-02-04 03:35:00-06:00,93.70,57.20,2019-02-04 09:35:00,628755.0,216.0
20479,2019-02-04 03:40:00,2019,2,0,4,3,40,2019-02-04 03:40:00-06:00,93.70,57.20,2019-02-04 09:40:00,628755.0,248.0
20480,2019-02-04 03:40:00,2019,2,0,4,3,40,2019-02-04 03:40:00-06:00,93.70,57.20,2019-02-04 09:40:00,628755.0,248.0
20481,2019-02-04 03:45:00,2019,2,0,4,3,45,2019-02-04 03:45:00-06:00,93.70,57.20,2019-02-04 09:45:00,628755.0,514.0
20482,2019-02-04 03:45:00,2019,2,0,4,3,45,2019-02-04 03:45:00-06:00,93.70,57.20,2019-02-04 09:45:00,628755.0,514.0
20483,2019-02-04 03:50:00,2019,2,0,4,3,50,2019-02-04 03:50:00-06:00,93.70,57.20,2019-02-04 09:50:00,628755.0,567.0
20484,2019-02-04 03:50:00,2019,2,0,4,3,50,2019-02-04 03:50:00-06:00,93.70,57.20,2019-02-04 09:50:00,628755.0,567.0
20485,2019-02-04 03:53:00,2019,2,0,4,3,53,2019-02-04 03:53:00-06:00,96.17,57.02,2019-02-04 09:53:00,628755.0,516.0
20486,2019-02-04 03:55:00,2019,2,0,4,3,55,2019-02-04 03:55:00-06:00,93.70,57.20,2019-02-04 09:55:00,628755.0,767.0
20487,2019-02-04 03:55:00,2019,2,0,4,3,55,2019-02-04 03:55:00-06:00,93.70,57.20,2019-02-04 09:55:00,628755.0,767.0
20488,2019-02-04 04:00:00,2019,2,0,4,4,0,2019-02-04 04:00:00-06:00,93.70,57.20,2019-02-04 10:00:00,628755.0,575.0
20489,2019-02-04 04:00:00,2019,2,0,4,4,0,2019-02-04 04:00:00-06:00,93.70,57.20,2019-02-04 10:00:00,628755.0,575.0
20490,2019-02-04 04:05:00,2019,2,0,4,4,5,2019-02-04 04:05:00-06:00,93.70,57.20,2019-02-04 10:05:00,628755.0,747.0
20491,2019-02-04 04:05:00,2019,2,0,4,4,5,2019-02-04 04:05:00-06:00,93.70,57.20,2019-02-04 10:05:00,628755.0,747.0
20492,2019-02-04 04:10:00,2019,2,0,4,4,10,2019-02-04 04:10:00-06:00,93.70,57.20,2019-02-04 10:10:00,628755.0,531.0
20493,2019-02-04 04:10:00,2019,2,0,4,4,10,2019-02-04 04:10:00-06:00,93.70,57.20,2019-02-04 10:10:00,628755.0,531.0
20494,2019-02-04 04:15:00,2019,2,0,4,4,15,2019-02-04 04:15:00-06:00,93.70,57.20,2019-02-04 10:15:00,668155.0,796.0
20495,2019-02-04 04:15:00,2019,2,0,4,4,15,2019-02-04 04:15:00-06:00,93.70,57.20,2019-02-04 10:15:00,668155.0,796.0
20496,2019-02-04 04:20:00,2019,2,0,4,4,20,2019-02-04 04:20:00-06:00,93.70,57.20,2019-02-04 10:20:00,668155.0,1214.0
20497,2019-02-04 04:20:00,2019,2,0,4,4,20,2019-02-04 04:20:00-06:00,93.70,57.20,2019-02-04 10:20:00,668155.0,1214.0
20498,2019-02-04 04:25:00,2019,2,0,4,4,25,2019-02-04 04:25:00-06:00,93.70,57.20,2019-02-04 10:25:00,668155.0,915.0
20499,2019-02-04 04:25:00,2019,2,0,4,4,25,2019-02-04 04:25:00-06:00,93.70,57.20,2019-02-04 10:25:00,668155.0,915.0

In [43]:
update_ft

,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC,weight_23h
datetime_local,,,,,,,,,,,
2018-12-30 06:33:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:46:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 06:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 07:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
2018-12-30 07:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42796.0
...,...,...,...,...,...,...,...,...,...,...,...
2022-01-04 16:28:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:29:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:32:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:33:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:46:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0
2022-01-04 16:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36135.0

Make dummy

In [42]:
dummy_df = update_ft.dropna(subset=['demand_kW', 'Temperature', 'Relative Humidity'])
dummy_df = dummy_df.reset_index()
dummy_df = dummy_df.drop(['hour'], axis=1)
dummy_df = dummy_df.drop(['datetime'], axis=1)
dummy_df = dummy_df.drop(['datetime_local'], axis=1)
dummy_df = dummy_df.drop(['datetime_UTC'], axis=1)
dummy_df

KeyError: ['demand_kW']