# Data loading

# Python packages

In [1]:
import math, datetime, time, random
import numpy as np
import pandas as pd
from datetime import timedelta
import re
import math, datetime, time, random
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

# Door open - inbound

In [4]:
inbound = pd.read_csv('inbound_loads.csv')
outbound = pd.read_csv('outbound_laods.csv')
ft = pd.read_csv('incoming_weight_df_10h.csv')
#ft = pd.read_csv('featuretrain.csv')

### Uitleg

1. Get all the minutes for the interval in between start and finish

In [5]:
def interval_min(start_date, end_date):
    dates_range = []
    while start_date <= end_date:
        dates_range.append(start_date) # or you can append str(start_date) if want the dates to be as strings
        #dates_range.append(start_date - timedelta(seconds=start_date.second) + timedelta(minutes=1)) # or you can append str(start_date) if want the dates to be as strings
        start_date += timedelta(minutes=1)
    return dates_range

In [6]:
door = inbound.filter(['load_start_datetime', 'load_finish_datetime', 'dock_door_number'], axis=1)
door

       load_start_datetime load_finish_datetime  dock_door_number
0      2019-02-11 04:42:00  2019-02-11 04:51:00              59.0
1      2019-01-16 10:11:00  2019-01-16 11:27:00              60.0
2      2019-07-30 09:59:00  2019-07-30 10:18:00              61.0
3      2019-01-10 08:51:00  2019-01-10 08:58:00              58.0
4      2019-01-10 07:26:00  2019-01-10 08:08:00              56.0
...                    ...                  ...               ...
56141                  NaN                  NaN               NaN
56142                  NaN                  NaN               NaN
56143                  NaN                  NaN               NaN
56144  2022-01-03 16:12:00  2022-01-03 16:26:00              56.0
56145  2022-01-03 17:58:00                  NaN              68.0

[56146 rows x 3 columns]

2. Get all the minutes intervals and put them in a new dataframe

In [7]:
door['load_finish_datetime'] = pd.to_datetime(door['load_finish_datetime'])
door['load_start_datetime'] = pd.to_datetime(door['load_start_datetime'])

door['load_minutes'] = np.nan

for index, row in door.iterrows():
    door['load_minutes'].iloc[index] = interval_min(door['load_start_datetime'].iloc[index], door['load_finish_datetime'].iloc[index])

C:\Users\suzan\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [8]:
door = door.drop_duplicates(subset=['load_start_datetime', 'load_finish_datetime', 'dock_door_number'], keep="first")

In [9]:
door

,load_start_datetime,load_finish_datetime,dock_door_number,load_minutes
0,2019-02-11 04:42:00,2019-02-11 04:51:00,59.0,"[2019-02-11 04:42:00, 2019-02-11 04:43:00, 201..."
1,2019-01-16 10:11:00,2019-01-16 11:27:00,60.0,"[2019-01-16 10:11:00, 2019-01-16 10:12:00, 201..."
2,2019-07-30 09:59:00,2019-07-30 10:18:00,61.0,"[2019-07-30 09:59:00, 2019-07-30 10:00:00, 201..."
3,2019-01-10 08:51:00,2019-01-10 08:58:00,58.0,"[2019-01-10 08:51:00, 2019-01-10 08:52:00, 201..."
4,2019-01-10 07:26:00,2019-01-10 08:08:00,56.0,"[2019-01-10 07:26:00, 2019-01-10 07:27:00, 201..."
...,...,...,...,...
56135,2022-01-02 21:07:00,2022-01-02 21:20:00,54.0,"[2022-01-02 21:07:00, 2022-01-02 21:08:00, 202..."
56137,2022-01-03 00:38:00,2022-01-03 00:45:00,68.0,"[2022-01-03 00:38:00, 2022-01-03 00:39:00, 202..."
56138,2022-01-03 06:45:00,2022-01-03 06:57:00,42.0,"[2022-01-03 06:45:00, 2022-01-03 06:46:00, 202..."
56144,2022-01-03 16:12:00,2022-01-03 16:26:00,56.0,"[2022-01-03 16:12:00, 2022-01-03 16:13:00, 202..."
56145,2022-01-03 17:58:00,NaT,68.0,[]

3. Make a flat list from the 'load_minutes' column

In [10]:
def flatten(l):
    return [item for sublist in l for item in sublist]

list_min = door['load_minutes'].tolist()
list_min = flatten(list_min)
type(list_min[0])

pandas._libs.tslibs.timestamps.Timestamp

In [11]:
list_min

[Timestamp('2019-02-11 04:42:00'),
 Timestamp('2019-02-11 04:43:00'),
 Timestamp('2019-02-11 04:44:00'),
 Timestamp('2019-02-11 04:45:00'),
 Timestamp('2019-02-11 04:46:00'),
 Timestamp('2019-02-11 04:47:00'),
 Timestamp('2019-02-11 04:48:00'),
 Timestamp('2019-02-11 04:49:00'),
 Timestamp('2019-02-11 04:50:00'),
 Timestamp('2019-02-11 04:51:00'),
 Timestamp('2019-01-16 10:11:00'),
 Timestamp('2019-01-16 10:12:00'),
 Timestamp('2019-01-16 10:13:00'),
 Timestamp('2019-01-16 10:14:00'),
 Timestamp('2019-01-16 10:15:00'),
 Timestamp('2019-01-16 10:16:00'),
 Timestamp('2019-01-16 10:17:00'),
 Timestamp('2019-01-16 10:18:00'),
 Timestamp('2019-01-16 10:19:00'),
 Timestamp('2019-01-16 10:20:00'),
 Timestamp('2019-01-16 10:21:00'),
 Timestamp('2019-01-16 10:22:00'),
 Timestamp('2019-01-16 10:23:00'),
 Timestamp('2019-01-16 10:24:00'),
 Timestamp('2019-01-16 10:25:00'),
 Timestamp('2019-01-16 10:26:00'),
 Timestamp('2019-01-16 10:27:00'),
 Timestamp('2019-01-16 10:28:00'),
 Timestamp('2019-01-16 10:29:00'),
 Timestamp('2019-01-16 10:30:00'),
 Timestamp('2019-01-16 10:31:00'),
 Timestamp('2019-01-16 10:32:00'),
 Timestamp('2019-01-16 10:33:00'),
 Timestamp('2019-01-16 10:34:00'),
 Timestamp('2019-01-16 10:35:00'),
 Timestamp('2019-01-16 10:36:00'),
 Timestamp('2019-01-16 10:37:00'),
 Timestamp('2019-01-16 10:38:00'),
 Timestamp('2019-01-16 10:39:00'),
 Timestamp('2019-01-16 10:40:00'),
 Timestamp('2019-01-16 10:41:00'),
 Timestamp('2019-01-16 10:42:00'),
 Timestamp('2019-01-16 10:43:00'),
 Timestamp('2019-01-16 10:44:00'),
 Timestamp('2019-01-16 10:45:00'),
 Timestamp('2019-01-16 10:46:00'),
 Timestamp('2019-01-16 10:47:00'),
 Timestamp('2019-01-16 10:48:00'),
 Timestamp('2019-01-16 10:49:00'),
 Timestamp('2019-01-16 10:50:00'),
 Timestamp('2019-01-16 10:51:00'),
 Timestamp('2019-01-16 10:52:00'),
 Timestamp('2019-01-16 10:53:00'),
 Timestamp('2019-01-16 10:54:00'),
 Timestamp('2019-01-16 10:55:00'),
 Timestamp('2019-01-16 10:56:00'),
 Timestamp('2019-01-16 10:57:00'),
 Timestamp('2019-01-16 10:58:00'),
 Timestamp('2019-01-16 10:59:00'),
 Timestamp('2019-01-16 11:00:00'),
 Timestamp('2019-01-16 11:01:00'),
 Timestamp('2019-01-16 11:02:00'),
 Timestamp('2019-01-16 11:03:00'),
 Timestamp('2019-01-16 11:04:00'),
 Timestamp('2019-01-16 11:05:00'),
 Timestamp('2019-01-16 11:06:00'),
 Timestamp('2019-01-16 11:07:00'),
 Timestamp('2019-01-16 11:08:00'),
 Timestamp('2019-01-16 11:09:00'),
 Timestamp('2019-01-16 11:10:00'),
 Timestamp('2019-01-16 11:11:00'),
 Timestamp('2019-01-16 11:12:00'),
 Timestamp('2019-01-16 11:13:00'),
 Timestamp('2019-01-16 11:14:00'),
 Timestamp('2019-01-16 11:15:00'),
 Timestamp('2019-01-16 11:16:00'),
 Timestamp('2019-01-16 11:17:00'),
 Timestamp('2019-01-16 11:18:00'),
 Timestamp('2019-01-16 11:19:00'),
 Timestamp('2019-01-16 11:20:00'),
 Timestamp('2019-01-16 11:21:00'),
 Timestamp('2019-01-16 11:22:00'),
 Timestamp('2019-01-16 11:23:00'),
 Timestamp('2019-01-16 11:24:00'),
 Timestamp('2019-01-16 11:25:00'),
 Timestamp('2019-01-16 11:26:00'),
 Timestamp('2019-01-16 11:27:00'),
 Timestamp('2019-07-30 09:59:00'),
 Timestamp('2019-07-30 10:00:00'),
 Timestamp('2019-07-30 10:01:00'),
 Timestamp('2019-07-30 10:02:00'),
 Timestamp('2019-07-30 10:03:00'),
 Timestamp('2019-07-30 10:04:00'),
 Timestamp('2019-07-30 10:05:00'),
 Timestamp('2019-07-30 10:06:00'),
 Timestamp('2019-07-30 10:07:00'),
 Timestamp('2019-07-30 10:08:00'),
 Timestamp('2019-07-30 10:09:00'),
 Timestamp('2019-07-30 10:10:00'),
 Timestamp('2019-07-30 10:11:00'),
 Timestamp('2019-07-30 10:12:00'),
 Timestamp('2019-07-30 10:13:00'),
 Timestamp('2019-07-30 10:14:00'),
 Timestamp('2019-07-30 10:15:00'),
 Timestamp('2019-07-30 10:16:00'),
 Timestamp('2019-07-30 10:17:00'),
 Timestamp('2019-07-30 10:18:00'),
 Timestamp('2019-01-10 08:51:00'),
 Timestamp('2019-01-10 08:52:00'),
 Timestamp('2019-01-10 08:53:00'),
 Timestamp('2019-01-10 08:54:00'),
 Timestamp('2019-01-10 08:55:00'),
 Timestamp('2019-01-10 08:56:00'),
 Timestamp('2019-01-10 08:57:00'),
 Timestamp('2019-01-10 08:58:00'),
 Timestamp('2019-01-10 07:26:00'),
 Timestamp('2019-01-10 07:27:00'),
 Timestamp('2019-01-10 07:28:00'),
 Timestamp('2019-01-10 07:29:00'),
 Timestamp('2019-01-10 07:30:00'),
 Timestamp('2019-01-10 07:31:00'),
 Timestamp('2019-01-10 07:32:00'),
 Timestamp('2019-01-10 07:33:00'),
 Timestamp('2019-01-10 07:34:00'),
 Timestamp('2019-01-10 07:35:00'),
 Timestamp('2019-01-10 07:36:00'),
 Timestamp('2019-01-10 07:37:00'),
 Timestamp('2019-01-10 07:38:00'),
 Timestamp('2019-01-10 07:39:00'),
 Timestamp('2019-01-10 07:40:00'),
 Timestamp('2019-01-10 07:41:00'),
 Timestamp('2019-01-10 07:42:00'),
 Timestamp('2019-01-10 07:43:00'),
 Timestamp('2019-01-10 07:44:00'),
 Timestamp('2019-01-10 07:45:00'),
 Timestamp('2019-01-10 07:46:00'),
 Timestamp('2019-01-10 07:47:00'),
 Timestamp('2019-01-10 07:48:00'),
 Timestamp('2019-01-10 07:49:00'),
 Timestamp('2019-01-10 07:50:00'),
 Timestamp('2019-01-10 07:51:00'),
 Timestamp('2019-01-10 07:52:00'),
 Timestamp('2019-01-10 07:53:00'),
 Timestamp('2019-01-10 07:54:00'),
 Timestamp('2019-01-10 07:55:00'),
 Timestamp('2019-01-10 07:56:00'),
 Timestamp('2019-01-10 07:57:00'),
 Timestamp('2019-01-10 07:58:00'),
 Timestamp('2019-01-10 07:59:00'),
 Timestamp('2019-01-10 08:00:00'),
 Timestamp('2019-01-10 08:01:00'),
 Timestamp('2019-01-10 08:02:00'),
 Timestamp('2019-01-10 08:03:00'),
 Timestamp('2019-01-10 08:04:00'),
 Timestamp('2019-01-10 08:05:00'),
 Timestamp('2019-01-10 08:06:00'),
 Timestamp('2019-01-10 08:07:00'),
 Timestamp('2019-01-10 08:08:00'),
 Timestamp('2019-01-10 08:36:00'),
 Timestamp('2019-01-10 08:37:00'),
 Timestamp('2019-01-10 08:38:00'),
 Timestamp('2019-01-10 08:39:00'),
 Timestamp('2019-01-10 08:40:00'),
 Timestamp('2019-01-10 08:41:00'),
 Timestamp('2019-01-10 08:42:00'),
 Timestamp('2019-01-10 08:43:00'),
 Timestamp('2019-01-10 08:44:00'),
 Timestamp('2019-01-10 08:45:00'),
 Timestamp('2019-01-10 08:46:00'),
 Timestamp('2019-01-10 08:47:00'),
 Timestamp('2019-01-10 08:48:00'),
 Timestamp('2019-01-10 08:49:00'),
 Timestamp('2019-01-10 08:50:00'),
 Timestamp('2019-01-10 08:51:00'),
 Timestamp('2019-01-10 08:52:00'),
 Timestamp('2019-01-10 08:53:00'),
 Timestamp('2019-01-10 08:54:00'),
 Timestamp('2019-01-10 08:55:00'),
 Timestamp('2019-01-10 08:56:00'),
 Timestamp('2019-01-10 08:57:00'),
 Timestamp('2019-01-10 08:58:00'),
 Timestamp('2019-01-10 08:59:00'),
 Timestamp('2019-01-10 09:00:00'),
 Timestamp('2019-01-10 09:01:00'),
 Timestamp('2019-01-10 09:02:00'),
 Timestamp('2019-01-10 09:03:00'),
 Timestamp('2019-01-10 09:04:00'),
 Timestamp('2019-01-10 09:05:00'),
 Timestamp('2019-01-10 09:06:00'),
 Timestamp('2019-01-10 09:07:00'),
 Timestamp('2019-01-10 09:08:00'),
 Timestamp('2019-01-10 09:09:00'),
 Timestamp('2019-01-10 09:10:00'),
 Timestamp('2019-01-10 09:11:00'),
 Timestamp('2019-01-10 09:12:00'),
 Timestamp('2019-01-10 09:13:00'),
 Timestamp('2019-01-10 09:14:00'),
 Timestamp('2019-01-10 09:15:00'),
 Timestamp('2019-01-10 09:16:00'),
 Timestamp('2019-01-10 09:17:00'),
 Timestamp('2019-01-10 09:18:00'),
 Timestamp('2019-01-10 09:19:00'),
 Timestamp('2019-01-10 09:20:00'),
 Timestamp('2019-01-10 06:14:00'),
 Timestamp('2019-01-10 06:15:00'),
 Timestamp('2019-01-10 06:16:00'),
 Timestamp('2019-01-10 06:17:00'),
 Timestamp('2019-01-10 06:18:00'),
 Timestamp('2019-01-10 06:19:00'),
 Timestamp('2019-01-10 06:20:00'),
 Timestamp('2019-01-10 06:21:00'),
 Timestamp('2019-01-10 06:22:00'),
 Timestamp('2019-01-10 06:23:00'),
 Timestamp('2019-01-10 06:24:00'),
 Timestamp('2019-01-10 06:25:00'),
 Timestamp('2019-01-10 06:26:00'),
 Timestamp('2019-01-10 06:27:00'),
 Timestamp('2019-01-10 06:28:00'),
 Timestamp('2019-01-10 06:29:00'),
 Timestamp('2019-01-10 06:30:00'),
 Timestamp('2019-01-10 06:31:00'),
 Timestamp('2019-01-10 06:32:00'),
 Timestamp('2019-01-10 06:33:00'),
 Timestamp('2019-01-10 06:34:00'),
 Timestamp('2019-01-10 06:35:00'),
 Timestamp('2019-01-10 06:36:00'),
 Timestamp('2019-01-10 06:37:00'),
 Timestamp('2019-01-10 06:38:00'),
 Timestamp('2019-01-10 06:39:00'),
 Timestamp('2019-10-24 09:13:00'),
 Timestamp('2019-10-24 09:14:00'),
 Timestamp('2019-10-24 09:15:00'),
 Timestamp('2019-10-24 09:16:00'),
 Timestamp('2019-10-24 09:17:00'),
 Timestamp('2019-01-09 13:09:00'),
 Timestamp('2019-01-09 13:10:00'),
 Timestamp('2019-01-09 13:11:00'),
 Timestamp('2019-01-09 13:12:00'),
 Timestamp('2019-01-09 13:13:00'),
 Timestamp('2019-01-09 13:14:00'),
 Timestamp('2019-01-09 13:15:00'),
 Timestamp('2019-01-09 13:16:00'),
 Timestamp('2019-01-09 13:17:00'),
 Timestamp('2019-01-09 13:18:00'),
 Timestamp('2019-01-09 13:19:00'),
 Timestamp('2019-01-09 13:20:00'),
 Timestamp('2019-01-09 13:21:00'),
 Timestamp('2019-01-09 13:22:00'),
 Timestamp('2019-01-05 07:05:00'),
 Timestamp('2019-01-05 07:06:00'),
 Timestamp('2019-01-05 07:07:00'),
 Timestamp('2019-01-05 07:08:00'),
 Timestamp('2019-01-05 07:09:00'),
 Timestamp('2019-01-05 07:10:00'),
 Timestamp('2019-01-05 07:11:00'),
 Timestamp('2019-01-05 07:12:00'),
 Timestamp('2019-01-05 07:13:00'),
 Timestamp('2019-01-05 07:14:00'),
 Timestamp('2019-01-05 07:15:00'),
 Timestamp('2019-01-05 07:16:00'),
 Timestamp('2019-01-05 07:17:00'),
 Timestamp('2019-01-05 07:18:00'),
 Timestamp('2019-01-05 07:19:00'),
 Timestamp('2019-01-28 04:39:00'),
 Timestamp('2019-01-28 04:40:00'),
 Timestamp('2019-01-28 04:41:00'),
 Timestamp('2019-01-28 04:42:00'),
 Timestamp('2019-01-28 04:43:00'),
 Timestamp('2019-01-28 04:44:00'),
 Timestamp('2019-01-28 04:45:00'),
 Timestamp('2019-01-28 04:46:00'),
 Timestamp('2019-01-28 04:47:00'),
 Timestamp('2019-01-28 04:48:00'),
 Timestamp('2019-01-28 04:49:00'),
 Timestamp('2019-01-28 04:50:00'),
 Timestamp('2019-01-28 04:51:00'),
 Timestamp('2019-01-28 04:52:00'),
 Timestamp('2019-02-05 15:30:02'),
 Timestamp('2019-02-05 15:31:02'),
 Timestamp('2019-02-05 15:32:02'),
 Timestamp('2019-02-05 15:33:02'),
 Timestamp('2019-02-05 15:34:02'),
 Timestamp('2019-02-05 15:35:02'),
 Timestamp('2019-02-05 15:36:02'),
 Timestamp('2019-02-05 15:37:02'),
 Timestamp('2019-02-05 15:38:02'),
 Timestamp('2019-02-05 15:39:02'),
 Timestamp('2019-02-05 15:40:02'),
 Timestamp('2019-02-05 15:41:02'),
 Timestamp('2019-02-05 15:42:02'),
 Timestamp('2019-02-05 15:43:02'),
 Timestamp('2019-02-05 15:44:02'),
 Timestamp('2019-02-05 15:45:02'),
 Timestamp('2019-02-05 15:46:02'),
 Timestamp('2019-02-05 15:47:02'),
 Timestamp('2019-02-05 15:48:02'),
 Timestamp('2019-02-05 15:49:02'),
 Timestamp('2019-02-05 15:50:02'),
 Timestamp('2019-02-05 15:51:02'),
 Timestamp('2019-02-05 15:52:02'),
 Timestamp('2019-02-05 15:53:02'),
 Timestamp('2019-02-05 15:54:02'),
 Timestamp('2019-02-05 15:55:02'),
 Timestamp('2019-02-05 15:56:02'),
 Timestamp('2019-02-05 15:57:02'),
 Timestamp('2019-02-05 15:58:02'),
 Timestamp('2019-02-05 15:59:02'),
 Timestamp('2019-02-05 16:00:02'),
 Timestamp('2019-02-05 16:01:02'),
 Timestamp('2019-02-05 16:02:02'),
 Timestamp('2019-02-05 16:03:02'),
 Timestamp('2019-02-05 16:04:02'),
 Timestamp('2019-02-05 16:05:02'),
 Timestamp('2019-02-05 16:06:02'),
 Timestamp('2019-02-05 16:07:02'),
 Timestamp('2019-02-05 16:08:02'),
 Timestamp('2019-02-05 16:09:02'),
 Timestamp('2019-02-05 16:10:02'),
 Timestamp('2019-02-05 16:11:02'),
 Timestamp('2019-02-05 16:12:02'),
 Timestamp('2019-02-05 16:13:02'),
 Timestamp('2019-02-05 16:14:02'),
 Timestamp('2019-02-05 16:15:02'),
 Timestamp('2019-02-05 16:16:02'),
 Timestamp('2019-02-05 16:17:02'),
 Timestamp('2019-02-05 16:18:02'),
 Timestamp('2019-02-05 16:19:02'),
 Timestamp('2019-02-05 16:20:02'),
 Timestamp('2019-02-05 16:21:02'),
 Timestamp('2019-02-05 16:22:02'),
 Timestamp('2019-02-05 16:23:02'),
 Timestamp('2019-02-05 16:24:02'),
 Timestamp('2019-02-05 16:25:02'),
 Timestamp('2019-02-05 16:26:02'),
 Timestamp('2019-02-05 16:27:02'),
 Timestamp('2019-02-05 16:28:02'),
 Timestamp('2019-02-05 16:29:02'),
 Timestamp('2019-02-05 16:30:02'),
 Timestamp('2019-02-05 16:31:02'),
 Timestamp('2019-02-05 16:32:02'),
 Timestamp('2019-02-05 16:33:02'),
 Timestamp('2019-02-05 16:34:02'),
 Timestamp('2019-02-05 16:35:02'),
 Timestamp('2019-02-05 16:36:02'),
 Timestamp('2019-02-05 16:37:02'),
 Timestamp('2019-02-05 16:38:02'),
 Timestamp('2019-02-05 16:39:02'),
 Timestamp('2019-02-05 16:40:02'),
 Timestamp('2019-02-05 16:41:02'),
 Timestamp('2019-02-05 16:42:02'),
 Timestamp('2019-02-05 16:43:02'),
 Timestamp('2019-02-05 16:44:02'),
 Timestamp('2019-02-05 16:45:02'),
 Timestamp('2019-02-05 16:46:02'),
 Timestamp('2019-02-05 16:47:02'),
 Timestamp('2019-02-05 16:48:02'),
 Timestamp('2019-02-05 16:49:02'),
 Timestamp('2019-02-05 16:50:02'),
 Timestamp('2019-02-05 16:51:02'),
 Timestamp('2019-02-05 16:52:02'),
 Timestamp('2019-02-05 16:53:02'),
 Timestamp('2019-02-05 16:54:02'),
 Timestamp('2019-02-05 16:55:02'),
 Timestamp('2019-02-05 16:56:02'),
 Timestamp('2019-02-05 16:57:02'),
 Timestamp('2019-02-05 16:58:02'),
 Timestamp('2019-02-05 16:59:02'),
 Timestamp('2019-02-05 17:00:02'),
 Timestamp('2019-02-05 17:01:02'),
 Timestamp('2019-02-05 17:02:02'),
 Timestamp('2019-02-05 17:03:02'),
 Timestamp('2019-02-05 17:04:02'),
 Timestamp('2019-02-05 17:05:02'),
 Timestamp('2019-02-05 17:06:02'),
 Timestamp('2019-02-05 17:07:02'),
 Timestamp('2019-02-05 17:08:02'),
 Timestamp('2019-02-05 17:09:02'),
 Timestamp('2019-02-05 17:10:02'),
 Timestamp('2019-02-05 17:11:02'),
 Timestamp('2019-02-05 17:12:02'),
 Timestamp('2019-02-05 17:13:02'),
 Timestamp('2019-02-05 17:14:02'),
 Timestamp('2019-02-05 17:15:02'),
 Timestamp('2019-02-05 17:16:02'),
 Timestamp('2019-02-05 17:17:02'),
 Timestamp('2019-02-05 17:18:02'),
 Timestamp('2019-02-05 17:19:02'),
 Timestamp('2019-02-05 17:20:02'),
 Timestamp('2019-02-05 17:21:02'),
 Timestamp('2019-02-05 17:22:02'),
 Timestamp('2019-02-05 17:23:02'),
 Timestamp('2019-02-05 17:24:02'),
 Timestamp('2019-02-05 17:25:02'),
 Timestamp('2019-02-05 17:26:02'),
 Timestamp('2019-02-05 17:27:02'),
 Timestamp('2019-02-05 17:28:02'),
 Timestamp('2019-02-05 17:29:02'),
 Timestamp('2019-02-05 17:30:02'),
 Timestamp('2019-02-05 17:31:02'),
 Timestamp('2019-02-05 17:32:02'),
 Timestamp('2019-02-05 17:33:02'),
 Timestamp('2019-02-05 17:34:02'),
 Timestamp('2019-02-05 17:35:02'),
 Timestamp('2019-02-05 17:36:02'),
 Timestamp('2019-02-05 17:37:02'),
 Timestamp('2019-02-05 17:38:02'),
 Timestamp('2019-02-05 17:39:02'),
 Timestamp('2019-02-05 17:40:02'),
 Timestamp('2019-02-05 17:41:02'),
 Timestamp('2019-02-05 17:42:02'),
 Timestamp('2019-02-05 17:43:02'),
 Timestamp('2019-02-05 17:44:02'),
 Timestamp('2019-02-05 17:45:02'),
 Timestamp('2019-02-05 17:46:02'),
 Timestamp('2019-02-05 17:47:02'),
 Timestamp('2019-02-05 17:48:02'),
 Timestamp('2019-02-05 17:49:02'),
 Timestamp('2019-02-05 17:50:02'),
 Timestamp('2019-02-05 17:51:02'),
 Timestamp('2019-02-05 17:52:02'),
 Timestamp('2019-02-05 17:53:02'),
 Timestamp('2019-02-05 17:54:02'),
 Timestamp('2019-02-05 17:55:02'),
 Timestamp('2019-02-05 17:56:02'),
 Timestamp('2019-02-05 17:57:02'),
 Timestamp('2019-02-05 17:58:02'),
 Timestamp('2019-02-05 17:59:02'),
 Timestamp('2019-02-05 18:00:02'),
 Timestamp('2019-02-05 18:01:02'),
 Timestamp('2019-02-05 18:02:02'),
 Timestamp('2019-02-05 18:03:02'),
 Timestamp('2019-02-05 18:04:02'),
 Timestamp('2019-02-05 18:05:02'),
 Timestamp('2019-02-05 18:06:02'),
 Timestamp('2019-02-05 18:07:02'),
 Timestamp('2019-02-05 18:08:02'),
 Timestamp('2019-02-05 18:09:02'),
 Timestamp('2019-02-05 18:10:02'),
 Timestamp('2019-02-05 18:11:02'),
 Timestamp('2019-02-05 18:12:02'),
 Timestamp('2019-02-05 18:13:02'),
 Timestamp('2019-02-05 18:14:02'),
 Timestamp('2019-02-05 18:15:02'),
 Timestamp('2019-02-05 18:16:02'),
 Timestamp('2019-02-05 18:17:02'),
 Timestamp('2019-02-05 18:18:02'),
 Timestamp('2019-02-05 18:19:02'),
 Timestamp('2019-02-05 18:20:02'),
 Timestamp('2019-02-05 18:21:02'),
 Timestamp('2019-02-05 18:22:02'),
 Timestamp('2019-02-05 18:23:02'),
 Timestamp('2019-02-05 18:24:02'),
 Timestamp('2019-02-05 18:25:02'),
 Timestamp('2019-02-05 18:26:02'),
 Timestamp('2019-02-05 18:27:02'),
 Timestamp('2019-02-05 18:28:02'),
 Timestamp('2019-02-05 18:29:02'),
 Timestamp('2019-02-05 18:30:02'),
 Timestamp('2019-02-05 18:31:02'),
 Timestamp('2019-02-05 18:32:02'),
 Timestamp('2019-02-05 18:33:02'),
 Timestamp('2019-02-05 18:34:02'),
 Timestamp('2019-02-05 18:35:02'),
 Timestamp('2019-02-05 18:36:02'),
 Timestamp('2019-02-05 18:37:02'),
 Timestamp('2019-02-05 18:38:02'),
 Timestamp('2019-02-05 18:39:02'),
 Timestamp('2019-02-05 18:40:02'),
 Timestamp('2019-02-05 18:41:02'),
 Timestamp('2019-02-05 18:42:02'),
 Timestamp('2019-02-05 18:43:02'),
 Timestamp('2019-02-05 18:44:02'),
 Timestamp('2019-02-05 18:45:02'),
 Timestamp('2019-02-05 18:46:02'),
 Timestamp('2019-02-05 18:47:02'),
 Timestamp('2019-02-05 18:48:02'),
 Timestamp('2019-02-05 18:49:02'),
 Timestamp('2019-02-05 18:50:02'),
 Timestamp('2019-02-05 18:51:02'),
 Timestamp('2019-02-05 18:52:02'),
 Timestamp('2019-02-05 18:53:02'),
 Timestamp('2019-02-05 18:54:02'),
 Timestamp('2019-02-05 18:55:02'),
 Timestamp('2019-02-05 18:56:02'),
 Timestamp('2019-02-05 18:57:02'),
 Timestamp('2019-02-05 18:58:02'),
 Timestamp('2019-02-05 18:59:02'),
 Timestamp('2019-02-05 19:00:02'),
 Timestamp('2019-02-05 19:01:02'),
 Timestamp('2019-02-05 19:02:02'),
 Timestamp('2019-02-05 19:03:02'),
 Timestamp('2019-02-05 19:04:02'),
 Timestamp('2019-02-05 19:05:02'),
 Timestamp('2019-02-05 19:06:02'),
 Timestamp('2019-02-05 19:07:02'),
 Timestamp('2019-02-05 19:08:02'),
 Timestamp('2019-02-05 19:09:02'),
 Timestamp('2019-02-05 19:10:02'),
 Timestamp('2019-02-05 19:11:02'),
 Timestamp('2019-02-05 19:12:02'),
 Timestamp('2019-02-05 19:13:02'),
 Timestamp('2019-02-05 19:14:02'),
 Timestamp('2019-02-05 19:15:02'),
 Timestamp('2019-02-05 19:16:02'),
 Timestamp('2019-02-05 19:17:02'),
 Timestamp('2019-02-05 19:18:02'),
 Timestamp('2019-02-05 19:19:02'),
 Timestamp('2019-02-05 19:20:02'),
 Timestamp('2019-02-05 19:21:02'),
 Timestamp('2019-02-05 19:22:02'),
 Timestamp('2019-02-05 19:23:02'),
 Timestamp('2019-02-05 19:24:02'),
 Timestamp('2019-02-05 19:25:02'),
 Timestamp('2019-02-05 19:26:02'),
 Timestamp('2019-02-05 19:27:02'),
 Timestamp('2019-02-05 19:28:02'),
 Timestamp('2019-02-05 19:29:02'),
 Timestamp('2019-02-05 19:30:02'),
 Timestamp('2019-02-05 19:31:02'),
 Timestamp('2019-02-05 19:32:02'),
 Timestamp('2019-02-05 19:33:02'),
 Timestamp('2019-02-05 19:34:02'),
 Timestamp('2019-02-05 19:35:02'),
 Timestamp('2019-02-05 19:36:02'),
 Timestamp('2019-02-05 19:37:02'),
 Timestamp('2019-02-05 19:38:02'),
 Timestamp('2019-02-05 19:39:02'),
 Timestamp('2019-02-05 19:40:02'),
 Timestamp('2019-02-05 19:41:02'),
 Timestamp('2019-02-05 19:42:02'),
 Timestamp('2019-02-05 19:43:02'),
 Timestamp('2019-02-05 19:44:02'),
 Timestamp('2019-02-05 19:45:02'),
 Timestamp('2019-02-05 19:46:02'),
 Timestamp('2019-02-05 19:47:02'),
 Timestamp('2019-02-05 19:48:02'),
 Timestamp('2019-02-05 19:49:02'),
 Timestamp('2019-02-05 19:50:02'),
 Timestamp('2019-02-05 19:51:02'),
 Timestamp('2019-02-05 19:52:02'),
 Timestamp('2019-02-05 19:53:02'),
 Timestamp('2019-02-05 19:54:02'),
 Timestamp('2019-02-05 19:55:02'),
 Timestamp('2019-02-05 19:56:02'),
 Timestamp('2019-02-05 19:57:02'),
 Timestamp('2019-02-05 19:58:02'),
 Timestamp('2019-02-05 19:59:02'),
 Timestamp('2019-02-05 20:00:02'),
 Timestamp('2019-02-05 20:01:02'),
 Timestamp('2019-02-05 20:02:02'),
 Timestamp('2019-02-05 20:03:02'),
 Timestamp('2019-02-05 20:04:02'),
 Timestamp('2019-02-05 20:05:02'),
 Timestamp('2019-02-05 20:06:02'),
 Timestamp('2019-02-05 20:07:02'),
 Timestamp('2019-02-05 20:08:02'),
 Timestamp('2019-02-05 20:09:02'),
 Timestamp('2019-02-05 20:10:02'),
 Timestamp('2019-02-05 20:11:02'),
 Timestamp('2019-02-05 20:12:02'),
 Timestamp('2019-02-05 20:13:02'),
 Timestamp('2019-02-05 20:14:02'),
 Timestamp('2019-02-05 20:15:02'),
 Timestamp('2019-02-05 20:16:02'),
 Timestamp('2019-02-05 20:17:02'),
 Timestamp('2019-02-05 20:18:02'),
 Timestamp('2019-02-05 20:19:02'),
 Timestamp('2019-02-05 20:20:02'),
 Timestamp('2019-02-05 20:21:02'),
 Timestamp('2019-02-05 20:22:02'),
 Timestamp('2019-02-05 20:23:02'),

4. Create new dataframe with each time as an individual row (instead of list in each row). And change type from timeFrame to Datetime

In [12]:
minutes = pd.DataFrame(list_min)
minutes.columns =['datetime_local']
#minutes['datetime_local'] = pd.to_datetime(minutes['datetime_local'], unit='s')
#minutes['datetime_local'] = pd.Series(minutes.datetime_local.dt.to_pydatetime(), dtype='O')
minutes

             datetime_local
0       2019-02-11 04:42:00
1       2019-02-11 04:43:00
2       2019-02-11 04:44:00
3       2019-02-11 04:45:00
4       2019-02-11 04:46:00
...                     ...
1559988 2022-01-03 16:22:00
1559989 2022-01-03 16:23:00
1559990 2022-01-03 16:24:00
1559991 2022-01-03 16:25:00
1559992 2022-01-03 16:26:00

[1559993 rows x 1 columns]

5. Create a new dataframe with datetime and count

In [13]:
test = minutes.value_counts().to_frame('counts')
#test = minutes.value_counts().rename_axis('datetime_local').to_frame('counts')
test

                     counts
datetime_local
2021-12-23 09:48:00      12
2021-12-23 09:50:00      12
2021-12-23 09:51:00      12
2021-12-23 09:52:00      12
2021-12-23 09:53:00      12
...                     ...
2020-04-10 17:55:00       1
2020-04-10 17:56:00       1
2020-04-10 17:57:00       1
2020-04-10 17:58:00       1
2022-01-03 17:23:00       1

[897253 rows x 1 columns]

In [14]:
test['counts'].unique()

array([12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1], dtype=int64)

Bit sketchy but works.
- Reset the index level of dataframe 'test' and then turn Timeframe type into datetime
- Do the same with dataframe 'ft', so reset index level (is string), then turn type to datetime.

In [15]:
test = test.reset_index(level=[0])
#type(test.index)
#type(test['datetime_local'][0])

test['datetime_local'] = pd.to_datetime(test['datetime_local'], unit='s')
test['datetime_local'] = pd.Series(test.datetime_local.dt.to_pydatetime(), dtype='O')

In [16]:
type(test.datetime_local[0])

datetime.datetime

In [17]:
ft = ft[2326:]

In [18]:
ft = ft.reset_index(level=[0])
type(ft['datetime_local'][0])
ft = ft.drop(['index', 'weight_23h'], axis=1)
ft.head()

        datetime_local
0  2018-12-31 21:15:00
1  2018-12-31 21:16:00
2  2018-12-31 21:17:00
3  2018-12-31 21:18:00
4  2018-12-31 21:19:00

In [19]:
ft

              datetime_local
0        2018-12-31 21:15:00
1        2018-12-31 21:16:00
2        2018-12-31 21:17:00
3        2018-12-31 21:18:00
4        2018-12-31 21:19:00
...                      ...
1585596  2022-01-04 03:53:00
1585597  2022-01-04 03:54:00
1585598  2022-01-04 03:55:00
1585599  2022-01-04 03:56:00
1585600  2022-01-04 03:57:00

[1585601 rows x 1 columns]

In [20]:
ft['datetime_local'] = pd.to_datetime(ft['datetime_local'])
ft['datetime_local'] = pd.Series(ft.datetime_local.dt.to_pydatetime(), dtype='O')
type(ft.datetime_local[0])

datetime.datetime

- Set datetime_local as index again. (Now the type of both is the same, which is necessary for merging correctly).

In [21]:
ft.set_index('datetime_local', inplace=True)
test.set_index('datetime_local', inplace=True)

- Now merge ft and test dataframe, on the content of the datetime_local of the ft dataframe.

In [ ]:
#2020-02-08 07:03:34

In [ ]:
#hi = pd.concat([ft, test], axis=1)

In [22]:
feat_min = ft.merge(test, left_on='datetime_local', right_index=True, how='left').reset_index()

In [23]:
feat_min.iloc[584209]

datetime_local    2020-02-09 21:52:00
counts                            NaN
Name: 584209, dtype: object

In [24]:
feat_min

             datetime_local  counts
0       2018-12-31 21:15:00     NaN
1       2018-12-31 21:16:00     NaN
2       2018-12-31 21:17:00     NaN
3       2018-12-31 21:18:00     NaN
4       2018-12-31 21:19:00     NaN
...                     ...     ...
1585596 2022-01-04 03:53:00     NaN
1585597 2022-01-04 03:54:00     NaN
1585598 2022-01-04 03:55:00     NaN
1585599 2022-01-04 03:56:00     NaN
1585600 2022-01-04 03:57:00     NaN

[1585601 rows x 2 columns]

In [26]:
feat_min["counts"] = feat_min["counts"].fillna(0)

#Drop certain columns if necessary
#feat_min = feat_min.drop(['level_0_x', 'index_x','level_0_y', 'index_y'], axis=1)
#feat_min.to_csv("feat_door_open")

In [27]:
feat_min['counts'].unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.])

In [28]:
feat_min.set_index('datetime_local', inplace=True)
#feat_min = feat_min.drop(['level_0', 'index','year', 'month','weekday', 'day', 'hour', 'minute', 'datetime'], axis=1)
#feat_min = feat_min.drop(['Temperature', 'Relative Humidity', 'datetime_UTC'], axis=1)
feat_min

                     counts
datetime_local
2018-12-31 21:15:00     0.0
2018-12-31 21:16:00     0.0
2018-12-31 21:17:00     0.0
2018-12-31 21:18:00     0.0
2018-12-31 21:19:00     0.0
...                     ...
2022-01-04 03:53:00     0.0
2022-01-04 03:54:00     0.0
2022-01-04 03:55:00     0.0
2022-01-04 03:56:00     0.0
2022-01-04 03:57:00     0.0

[1585601 rows x 1 columns]

In [ ]:
feat_min.iloc[400]

In [29]:
feat_min.to_csv("feature_inbound_door_open.csv")