## Prepping features dataset


Things to look at:
1. We are currently dropping NA in Demand, Temp. and Humidity. --> Temp and humidity is given each 5 minutes, fill up temp. and humidity with average. 
2. Normalization
3. What time to start? First demand = 12/31/2018  9:15:00 PM

In [51]:
import math, datetime, time, random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import time
import itertools
import tqdm

def load_data(data_path):
  data = pd.read_csv(data_path)  
  return data

inbound = load_data("inbound_loads.csv")
outbound = load_data("outbound_laods.csv")
weather = load_data("weather.csv")
#For loop to ensure that all pallet data is in the same dataframe
pallet = load_data("Pallet_history_Gold_Spike[0].csv")
for x in range(1, 10):
    pallet = pd.concat([pallet, load_data(f"Pallet_history_Gold_Spike[{x}].csv")])
trainentest = load_data("demand_kWtrain_val.csv")
train = trainentest.iloc[:273988,:]
test = trainentest.iloc[273988:, :]

pallet = pallet.drop(['lot_code', 
                      'tran_type', 
                      'final_pallet_code', 
                      'warehouse_facility_id',
                      'source_system_id'], axis=1)

In [16]:
def addtimecol(df, colname): ####input df and colname 
    df[colname] = pd.to_datetime(df[colname])         
    df['year'] = df[colname].dt.year
    df['month'] = df[colname].dt.month
    df['weekday'] = df[colname].dt.weekday
    df['day'] = df[colname].dt.day
    df['hour'] = df[colname].dt.hour
    df['minute'] = df[colname].dt.minute        
    return df
def weekend(x):
    if x['weekday'] > 4:
        return True
    return False

In [52]:
trainentest = load_data("demand_kWtrain_val.csv")
train = trainentest.iloc[:273988,:]
train

        Unnamed: 0  datetime_local    demand_kW
0                0  12/31/18 21:15  2064.101392
1                1  12/31/18 21:30  1874.002081
2                2  12/31/18 21:45  1988.168511
3                3  12/31/18 22:00  2022.795943
4                4  12/31/18 22:15  1986.981872
5                5  12/31/18 22:30  1921.142106
6                6  12/31/18 22:45  1956.130266
7                7  12/31/18 23:00  2039.546964
8                8  12/31/18 23:15  2100.701840
9                9  12/31/18 23:30  1901.260583
10              10  12/31/18 23:45  1959.896027
11              11     1/1/19 0:00  2035.693241
12              12     1/1/19 0:15  1933.958397
13              13     1/1/19 0:30  1882.427642
14              14     1/1/19 0:45  1947.889401
15              15     1/1/19 1:00  1933.147640
16              16     1/1/19 1:15  1906.572458
17              17     1/1/19 1:30  1896.725296
18              18     1/1/19 1:45  1888.897114
19              19     1/1/19 2:00  1913.557586
20              20     1/1/19 2:15  1896.123952
21              21     1/1/19 2:30  1834.996036
22              22     1/1/19 2:45  1945.132697
23              23     1/1/19 3:00  2000.552911
24              24     1/1/19 3:15  1862.607544
25              25     1/1/19 3:30  1746.079412
26              26     1/1/19 3:45  1918.127849
27              27     1/1/19 4:00  1867.114280
28              28     1/1/19 4:15  1877.689458
29              29     1/1/19 4:30  1692.009176
...            ...             ...          ...
273958      273958   10/11/21 5:38  2254.399000
273959      273959   10/11/21 5:39  2270.133000
273960      273960   10/11/21 5:40  2285.924000
273961      273961   10/11/21 5:41  2265.521000
273962      273962   10/11/21 5:42  2036.183000
273963      273963   10/11/21 5:43  2003.558000
273964      273964   10/11/21 5:44  1978.980000
273965      273965   10/11/21 5:45  1998.399000
273966      273966   10/11/21 5:46  2012.845000
273967      273967   10/11/21 5:47  2028.492000
273968      273968   10/11/21 5:48  2048.955000
273969      273969   10/11/21 5:49  2558.262000
273970      273970   10/11/21 5:50  2527.739000
273971      273971   10/11/21 5:51  2442.424000
273972      273972   10/11/21 5:52  2359.239000
273973      273973   10/11/21 5:53  2359.505000
273974      273974   10/11/21 5:54  2341.758000
273975      273975   10/11/21 5:55  2156.104000
273976      273976   10/11/21 5:56  2082.748000
273977      273977   10/11/21 5:57  2081.982000
273978      273978   10/11/21 5:58  2124.688000
273979      273979   10/11/21 5:59  2249.147000
273980      273980   10/11/21 6:00  2259.711000
273981      273981   10/11/21 6:01  2273.275000
273982      273982   10/11/21 6:02  2256.712000
273983      273983   10/11/21 6:03  2217.847000
273984      273984   10/11/21 6:04  2184.012000
273985      273985   10/11/21 6:05  2159.482000
273986      273986   10/11/21 6:06  2145.155000
273987      273987   10/11/21 6:07  2213.599000

[273988 rows x 3 columns]

In [150]:
###Incoming weight feature preprocessing
#load all data
incoming_weight_1h = load_data('incoming_weight_df_1h.csv')
incoming_weight_5h = load_data('incoming_weight_df_5h.csv')
incoming_weight_10h = load_data('incoming_weight_df_10h.csv')
incoming_weight_23h = load_data('incoming_weight_df.csv')
#rename columns 
incoming_weight_5h = incoming_weight_5h.rename(columns = {'weight_23h' : 'weight_5h'})
incoming_weight_1h = incoming_weight_1h.rename(columns = {'weight_23h' : 'weight_1h'})
incoming_weight_10h = incoming_weight_10h.rename(columns = {'weight_23h' : 'weight_10h'})
#get them to a datetime object
incoming_weight_1h['datetime_local'] = pd.to_datetime(incoming_weight_1h['datetime_local'])
incoming_weight_5h['datetime_local'] = pd.to_datetime(incoming_weight_5h['datetime_local'])
incoming_weight_10h['datetime_local'] = pd.to_datetime(incoming_weight_10h['datetime_local'])
incoming_weight_23h['datetime_local'] = pd.to_datetime(incoming_weight_23h['datetime_local'])
#set index to be datetime
incoming_weight_1h.set_index('datetime_local', inplace=True)
incoming_weight_5h.set_index('datetime_local', inplace=True)
incoming_weight_10h.set_index('datetime_local', inplace=True)
incoming_weight_23h.set_index('datetime_local', inplace=True)
#reshape them to start at 2018-31-12 9:15PM
incoming_weight_1h = incoming_weight_1h[2361:]
incoming_weight_5h = incoming_weight_5h[2330:] 
incoming_weight_10h = incoming_weight_10h[2326:]
incoming_weight_23h = incoming_weight_23h[2323:]
#Drop duplicates
incoming_weight_1h = incoming_weight_1h.loc[~incoming_weight_1h.index.duplicated()]
incoming_weight_5h = incoming_weight_5h.loc[~incoming_weight_5h.index.duplicated()]
incoming_weight_10h = incoming_weight_10h.loc[~incoming_weight_10h.index.duplicated()]
incoming_weight_23h = incoming_weight_23h.loc[~incoming_weight_23h.index.duplicated()]

Prepare the pallet movement feature

In [223]:
#load data
pallet_move_5min = load_data('pallet_movement_5min_ft.csv')
#rename column
pallet_move_5min.rename(columns = {'quantity' : 'pallet_movement_5min'}, inplace = True)
#make index a datetime object and set as index
pallet_move_5min['datetime_local'] = pd.to_datetime(pallet_move_5min['datetime_local'])
pallet_move_5min.set_index('datetime_local', inplace = True)
#delete duplicates
pallet_move_5min = pallet_move_5min.loc[~pallet_move_5min.index.duplicated()]

                     pallet_movement_5min
datetime_local
2019-01-02 00:30:00                    63
2019-01-02 00:31:00                    63
2019-01-02 00:32:00                   126
2019-01-02 00:33:00                   126
2019-01-02 00:34:00                   189
2019-01-02 00:35:00                   189
2019-01-02 00:36:00                   189
2019-01-02 00:37:00                   189
2019-01-02 00:38:00                   252
2019-01-02 00:39:00                   189
2019-01-02 00:40:00                   189
2019-01-02 00:41:00                   249
2019-01-02 00:42:00                   249
2019-01-02 00:43:00                   246
2019-01-02 00:44:00                   309
2019-01-02 00:45:00                   246
2019-01-02 00:46:00                   309
2019-01-02 00:47:00                   369
2019-01-02 00:48:00                   369
2019-01-02 00:49:00                   369
2019-01-02 00:50:00                   492
2019-01-02 00:51:00                   429
2019-01-02 00:52:00                   429
2019-01-02 00:53:00                   369
2019-01-02 00:54:00                   429
2019-01-02 00:55:00                   366
2019-01-02 00:56:00                   369
2019-01-02 00:57:00                   369
2019-01-02 00:58:00                   369
2019-01-02 00:59:00                   369
...                                   ...
2022-01-11 15:26:00                   120
2022-01-11 15:27:00                   120
2022-01-11 15:28:00                   120
2022-01-11 15:29:00                    60
2022-01-11 15:30:00                   120
2022-01-11 15:31:00                   121
2022-01-11 15:32:00                   121
2022-01-11 15:33:00                   161
2022-01-11 15:34:00                   341
2022-01-11 15:35:00                   341
2022-01-11 15:36:00                   340
2022-01-11 15:37:00                   340
2022-01-11 15:38:00                   520
2022-01-11 15:39:00                   420
2022-01-11 15:40:00                   420
2022-01-11 15:41:00                   480
2022-01-11 15:42:00                   420
2022-01-11 15:43:00                   260
2022-01-11 15:44:00                   240
2022-01-11 15:45:00                   180
2022-01-11 15:46:00                   180
2022-01-11 15:47:00                   240
2022-01-11 15:48:00                   240
2022-01-11 15:49:00                   180
2022-01-11 15:50:00                   240
2022-01-11 15:51:00                   240
2022-01-11 15:52:00                   180
2022-01-11 15:53:00                   120
2022-01-11 15:54:00                   120
2022-01-11 15:55:00                    60

[1592126 rows x 1 columns]

,Unnamed: 0,demand_kW,year,month,weekday,day,hour,minute,datetime,Relative Humidity,Temperature,datetime_UTC,hour,weight_1h,weight_5h,weight_10h,weight_23h
datetime_local,,,,,,,,,,,,,,,,,
2019-01-05 00:33:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,181756.0,318653.0,1263072.0
2019-01-05 00:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,181756.0,318653.0,1263072.0
2019-01-05 00:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-05 00:35:00-06:00,70.06,41.00,2019-01-05 06:35:00,0.0,0.0,181756.0,318653.0,1263072.0
2019-01-05 00:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,181756.0,318653.0,1263072.0
2019-01-05 00:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,181756.0,318653.0,1263072.0
2019-01-05 00:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,181756.0,318653.0,1263072.0
2019-01-05 00:39:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,181756.0,318653.0,1263072.0
2019-01-05 00:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-05 00:40:00-06:00,75.14,39.20,2019-01-05 06:40:00,0.0,0.0,181756.0,318653.0,1263072.0
2019-01-05 00:41:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,144267.0,318653.0,1263072.0
2019-01-05 00:42:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,144267.0,318653.0,1263072.0
2019-01-05 00:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:44:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:45:00,398.0,2036.509096,2019.0,1.0,5.0,5.0,0.0,45.0,2019-01-05 00:45:00-06:00,80.78,39.20,2019-01-05 06:45:00,0.0,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:46:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:48:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-05 00:50:00-06:00,80.78,39.20,2019-01-05 06:50:00,0.0,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-05 00:53:00-06:00,76.31,39.92,2019-01-05 06:53:00,0.0,45332.0,189599.0,363985.0,1308404.0
2019-01-05 00:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 00:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-05 00:55:00-06:00,80.78,39.20,2019-01-05 06:55:00,0.0,45332.0,189599.0,363985.0,1265300.0
2019-01-05 00:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 00:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 00:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 00:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:00:00,399.0,2169.397626,2019.0,1.0,5.0,5.0,1.0,0.0,2019-01-05 01:00:00-06:00,80.78,39.20,2019-01-05 07:00:00,1.0,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-05 01:05:00-06:00,86.68,37.40,2019-01-05 07:05:00,1.0,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:06:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-05 01:10:00-06:00,80.63,37.40,2019-01-05 07:10:00,1.0,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:13:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:15:00,400.0,1814.944354,2019.0,1.0,5.0,5.0,1.0,15.0,2019-01-05 01:15:00-06:00,80.63,37.40,2019-01-05 07:15:00,1.0,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,189599.0,363985.0,1265300.0
2019-01-05 01:18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,152824.0,363985.0,1265300.0
2019-01-05 01:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,152824.0,363985.0,1265300.0
2019-01-05 01:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-05 01:20:00-06:00,80.63,37.40,2019-01-05 07:20:00,1.0,45332.0,152824.0,363985.0,1265300.0
2019-01-05 01:21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,152824.0,363985.0,1265300.0
2019-01-05 01:22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45332.0,152824.0,363985.0,1265300.0

In [225]:
#Create new dummy dfs
base_df = train.copy()
base_weather = weather.copy()

#Remove unnecessary columns
#base_df = base_df.drop('Unnamed: 0', axis=1)
base_weather = base_weather.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
base_weather["localstrptime"]= pd.to_datetime(base_weather["localstrptime"])
base_df['datetime_local'] = pd.to_datetime(base_df['datetime_local'])
base_weather = base_weather.rename(columns={'localstrptime':'datetime_local'})
#base_weather['datetime_local'] = [datetime.datetime.strptime(x, 'yyyy/MM/dd HH:mm:SS') for x in base_weather['localstrptime']]

#Add pallet movements feature
##

#Add time columns.
addtimecol(base_df, 'datetime_local')

#Set index to datetime
base_df.set_index('datetime_local', inplace=True)
base_weather.set_index('datetime_local', inplace=True)

#Concatenate the weather DataFrame to the base DataFrame 
base_df = pd.concat([base_df, base_weather], axis=1)

#Concatenate the incoming weight dataframe with the base dataframe
base_df = pd.concat([base_df, incoming_weight_1h], axis=1)
base_df = pd.concat([base_df, incoming_weight_5h], axis=1)
base_df = pd.concat([base_df, incoming_weight_10h], axis=1)
base_df = pd.concat([base_df, incoming_weight_23h], axis=1)

#Concatenate the pallet movement feature
base_df = pd.concat([base_df, pallet_move_5min], axis = 1)

# Drop all NaN values\n"
#base_df.dropna(subset=['demand_kW', 'Temperature'])

ValueError: Must specify a fill 'value' or 'method'.

Dummy drops things that are NA, maybe sth to look at

In [227]:
#dummy_df = base_df.dropna(subset=['demand_kW', 'Temperature', 'Relative Humidity']) 

dummy_df = base_df.copy()
dummy_df = dummy_df.reset_index()
dummy_df = dummy_df.drop(['hour'], axis=1)
dummy_df = dummy_df.drop(['datetime'], axis=1)
dummy_df = dummy_df.drop(['datetime_local'], axis=1)
dummy_df = dummy_df.drop(['datetime_UTC'], axis=1)
dummy_df

dummy_normalized_df = dummy_df.copy()
#Still drop demand_kW NaNs
dummy_normalized_df = dummy_normalized_df.dropna(subset=['demand_kW'], axis=0)

In [231]:
dummy_normalized_df[0:100]

,Unnamed: 0,demand_kW,year,month,weekday,day,minute,Relative Humidity,Temperature,weight_1h,weight_5h,weight_10h,weight_23h,pallet_movement_5min
42,0.0,2064.101392,2018.0,12.0,0.0,31.0,15.0,61.27,46.4,0.0,234420.0,295346.0,295346.0,NaN
57,1.0,1874.002081,2018.0,12.0,0.0,31.0,30.0,61.27,46.4,0.0,149553.0,295346.0,295346.0,NaN
72,2.0,1988.168511,2018.0,12.0,0.0,31.0,45.0,65.60,44.6,0.0,149553.0,294446.0,295346.0,NaN
87,3.0,2022.795943,2018.0,12.0,0.0,31.0,0.0,65.60,44.6,0.0,104209.0,294446.0,295346.0,NaN
102,4.0,1986.981872,2018.0,12.0,0.0,31.0,15.0,65.60,44.6,0.0,104209.0,294446.0,295346.0,NaN
117,5.0,1921.142106,2018.0,12.0,0.0,31.0,30.0,65.60,44.6,0.0,104209.0,294446.0,295346.0,NaN
132,6.0,1956.130266,2018.0,12.0,0.0,31.0,45.0,65.60,44.6,0.0,29760.0,294446.0,295346.0,NaN
147,7.0,2039.546964,2018.0,12.0,0.0,31.0,0.0,65.60,44.6,0.0,0.0,294446.0,295346.0,NaN
162,8.0,2100.701840,2018.0,12.0,0.0,31.0,15.0,70.27,42.8,0.0,0.0,294446.0,295346.0,NaN
177,9.0,1901.260583,2018.0,12.0,0.0,31.0,30.0,75.32,41.0,0.0,0.0,294446.0,295346.0,NaN
192,10.0,1959.896027,2018.0,12.0,0.0,31.0,45.0,80.92,41.0,0.0,0.0,294446.0,295346.0,NaN
207,11.0,2035.693241,2019.0,1.0,1.0,1.0,0.0,80.92,41.0,0.0,0.0,294446.0,295346.0,NaN
222,12.0,1933.958397,2019.0,1.0,1.0,1.0,15.0,86.79,39.2,0.0,0.0,234420.0,295346.0,NaN
237,13.0,1882.427642,2019.0,1.0,1.0,1.0,30.0,86.79,39.2,0.0,0.0,234420.0,295346.0,NaN
252,14.0,1947.889401,2019.0,1.0,1.0,1.0,45.0,86.79,39.2,0.0,0.0,234420.0,295346.0,NaN
267,15.0,1933.147640,2019.0,1.0,1.0,1.0,0.0,86.79,39.2,0.0,0.0,234420.0,295346.0,NaN
282,16.0,1906.572458,2019.0,1.0,1.0,1.0,15.0,86.79,39.2,0.0,0.0,234420.0,295346.0,NaN
297,17.0,1896.725296,2019.0,1.0,1.0,1.0,30.0,93.13,37.4,0.0,0.0,234420.0,295346.0,NaN
312,18.0,1888.897114,2019.0,1.0,1.0,1.0,45.0,86.68,37.4,0.0,0.0,234420.0,295346.0,NaN
327,19.0,1913.557586,2019.0,1.0,1.0,1.0,0.0,86.68,37.4,0.0,0.0,234420.0,295346.0,NaN
342,20.0,1896.123952,2019.0,1.0,1.0,1.0,15.0,86.68,37.4,0.0,0.0,234420.0,295346.0,NaN
357,21.0,1834.996036,2019.0,1.0,1.0,1.0,30.0,86.68,37.4,0.0,0.0,149553.0,295346.0,NaN
372,22.0,1945.132697,2019.0,1.0,1.0,1.0,45.0,80.78,39.2,0.0,0.0,149553.0,295346.0,NaN
387,23.0,2000.552911,2019.0,1.0,1.0,1.0,0.0,80.78,39.2,0.0,0.0,104209.0,295346.0,NaN
402,24.0,1862.607544,2019.0,1.0,1.0,1.0,15.0,86.68,37.4,0.0,0.0,104209.0,295346.0,NaN
417,25.0,1746.079412,2019.0,1.0,1.0,1.0,30.0,80.63,37.4,0.0,0.0,104209.0,295346.0,NaN
432,26.0,1918.127849,2019.0,1.0,1.0,1.0,45.0,80.63,37.4,0.0,0.0,29760.0,295346.0,NaN
447,27.0,1867.114280,2019.0,1.0,1.0,1.0,0.0,80.63,37.4,0.0,0.0,0.0,295346.0,NaN
462,28.0,1877.689458,2019.0,1.0,1.0,1.0,15.0,86.58,35.6,0.0,0.0,0.0,295346.0,NaN
477,29.0,1692.009176,2019.0,1.0,1.0,1.0,30.0,80.49,35.6,0.0,0.0,0.0,295346.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,70.0,2170.914084,2019.0,1.0,1.0,1.0,45.0,74.78,35.6,0.0,0.0,0.0,234420.0,NaN
1107,71.0,1674.867713,2019.0,1.0,1.0,1.0,0.0,74.78,35.6,0.0,0.0,0.0,234420.0,NaN
1122,72.0,1808.641980,2019.0,1.0,1.0,1.0,15.0,74.78,35.6,0.0,0.0,0.0,234420.0,NaN
1137,73.0,1901.163309,2019.0,1.0,1.0,1.0,30.0,74.78,35.6,0.0,0.0,0.0,149553.0,NaN
1152,74.0,1914.510112,2019.0,1.0,1.0,1.0,45.0,74.78,35.6,0.0,0.0,0.0,149553.0,NaN
1167,75.0,1881.773388,2019.0,1.0,1.0,1.0,0.0,74.78,35.6,0.0,0.0,0.0,104209.0,NaN
1182,76.0,1894.765707,2019.0,1.0,1.0,1.0,15.0,74.78,35.6,0.0,0.0,0.0,104209.0,NaN
1197,77.0,1767.016688,2019.0,1.0,1.0,1.0,30.0,80.34,33.8,0.0,0.0,0.0,104209.0,NaN
1212,78.0,1851.393816,2019.0,1.0,1.0,1.0,45.0,80.34,33.8,0.0,0.0,0.0,29760.0,NaN
1227,79.0,1832.569602,2019.0,1.0,1.0,1.0,0.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1242,80.0,1810.675852,2019.0,1.0,1.0,1.0,15.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1257,81.0,1687.494770,2019.0,1.0,1.0,1.0,30.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1272,82.0,1711.974086,2019.0,1.0,1.0,1.0,45.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1287,83.0,1730.483004,2019.0,1.0,1.0,1.0,0.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1302,84.0,1588.406294,2019.0,1.0,1.0,1.0,15.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1317,85.0,1610.395259,2019.0,1.0,1.0,1.0,30.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1332,86.0,1762.911319,2019.0,1.0,1.0,1.0,45.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1347,87.0,1919.542138,2019.0,1.0,1.0,1.0,0.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1362,88.0,1651.588190,2019.0,1.0,1.0,1.0,15.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1377,89.0,1818.787889,2019.0,1.0,1.0,1.0,30.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1392,90.0,1613.605844,2019.0,1.0,1.0,1.0,45.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1407,91.0,1874.999000,2019.0,1.0,1.0,1.0,0.0,74.60,33.8,0.0,0.0,0.0,0.0,NaN
1422,92.0,1923.325863,2019.0,1.0,1.0,1.0,15.0,74.60,33.8,0.0,0.0,0.0,0.0,NaN
1437,93.0,1898.893079,2019.0,1.0,1.0,1.0,30.0,80.34,33.8,0.0,0.0,0.0,0.0,NaN
1452,94.0,1930.286690,2019.0,1.0,1.0,1.0,45.0,74.60,33.8,0.0,0.0,0.0,0.0,NaN
1467,95.0,2050.874792,2019.0,1.0,1.0,1.0,0.0,74.60,33.8,0.0,0.0,0.0,0.0,NaN
1482,96.0,2005.786278,2019.0,1.0,1.0,1.0,15.0,74.60,33.8,0.0,0.0,0.0,0.0,NaN
1497,97.0,1922.870566,2019.0,1.0,1.0,1.0,30.0,74.60,33.8,0.0,0.0,0.0,0.0,NaN
1512,98.0,2034.407233,2019.0,1.0,1.0,1.0,45.0,74.60,33.8,0.0,0.0,0.0,0.0,NaN
1527,99.0,2026.720936,2019.0,1.0,1.0,1.0,0.0,74.60,33.8,0.0,0.0,0.0,0.0,NaN

In [25]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import f1_score
from sklearn.metrics import mean_absolute_error

## Dataframe Column preprocessing functions

- Interpolate columns with missing values
- Normalizing columns (Min-max Normalization)
- One-hot encoding categorical columns

Quite important to do it in that order.

In [201]:
def normalize_column(df, columnname):
    """Function which returns a Dataframe where the given column is normalized through min-max normalization."""
    df[f'{columnname}_normalized'] = (df[columnname] - df[columnname].min()) / (df[columnname].max() - df[columnname].min())
    return df.drop([columnname], axis=1)

def add_one_hot_encoder(df, colname):
    """
    Function which returns a DataFrame where the given column has been removed and replaced by
    one-hot-encoding columns for each value in the original column.
    """
    onehot = pd.get_dummies(df[colname], prefix=colname)
    return df.drop(colname, axis=1).join(onehot)

def interpolate_column(df, colname):
    df[f'{colname}_interpolated'] = df[colname].interpolate(method='linear')
    return df.drop([colname], axis=1)

In [27]:
interpolate = ['Temperature', 'Relative Humidity']
to_normalize = ['Relative Humidity_interpolated', 'Temperature_interpolated']
add_one_hot_encoding = ['weekday', 'year', 'month']


for x in interpolate:
    dummy_normalized_df = interpolate_column(dummy_normalized_df, x)
for x in to_normalize:
    dummy_normalized_df = normalize_column(dummy_normalized_df, x)
for x in add_one_hot_encoding:
    dummy_normalized_df = add_one_hot_encoder(dummy_normalized_df, x)

In [28]:
dummy_normalized_df

,demand_kW,day,minute,Relative Humidity_interpolated_normalized,Temperature_interpolated_normalized,weekday_0.0,weekday_1.0,weekday_2.0,weekday_3.0,weekday_4.0,...,month_3.0,month_4.0,month_5.0,month_6.0,month_7.0,month_8.0,month_9.0,month_10.0,month_11.0,month_12.0
42,2064.101392,31.0,15.0,0.572375,0.442623,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
45,1874.002081,31.0,30.0,0.572375,0.442623,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
48,1988.168511,31.0,45.0,0.620183,0.426230,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
52,2022.795943,31.0,0.0,0.620183,0.426230,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
55,1986.981872,31.0,15.0,0.620183,0.426230,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
58,1921.142106,31.0,30.0,0.620183,0.426230,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
61,1956.130266,31.0,45.0,0.620183,0.426230,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
65,2039.546964,31.0,0.0,0.620183,0.426230,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
68,2100.701840,31.0,15.0,0.671746,0.409836,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
71,1901.260583,31.0,30.0,0.727504,0.393443,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
74,1959.896027,31.0,45.0,0.789334,0.393443,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
78,2035.693241,1.0,0.0,0.789334,0.393443,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81,1933.958397,1.0,15.0,0.854146,0.377049,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84,1882.427642,1.0,30.0,0.854146,0.377049,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
87,1947.889401,1.0,45.0,0.854146,0.377049,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91,1933.147640,1.0,0.0,0.854146,0.377049,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,1906.572458,1.0,15.0,0.854146,0.377049,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,1896.725296,1.0,30.0,0.924147,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,1888.897114,1.0,45.0,0.852931,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104,1913.557586,1.0,0.0,0.852931,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107,1896.123952,1.0,15.0,0.852931,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
110,1834.996036,1.0,30.0,0.852931,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,1945.132697,1.0,45.0,0.787788,0.377049,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
117,2000.552911,1.0,0.0,0.787788,0.377049,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
121,1862.607544,1.0,15.0,0.852931,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124,1746.079412,1.0,30.0,0.786132,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127,1918.127849,1.0,45.0,0.786132,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
131,1867.114280,1.0,0.0,0.786132,0.360656,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134,1877.689458,1.0,15.0,0.851827,0.344262,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,1692.009176,1.0,30.0,0.784587,0.344262,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459901,2254.399000,11.0,38.0,0.804240,0.557377,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459902,2270.133000,11.0,39.0,0.804240,0.557377,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459903,2285.924000,11.0,40.0,0.804240,0.557377,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459904,2265.521000,11.0,41.0,0.804240,0.557377,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459905,2036.183000,11.0,42.0,0.804240,0.557377,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459906,2003.558000,11.0,43.0,0.804240,0.557377,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459907,1978.980000,11.0,44.0,0.804240,0.557377,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459908,1998.399000,11.0,45.0,0.804240,0.557377,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459909,2012.845000,11.0,46.0,0.816341,0.554098,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459910,2028.492000,11.0,47.0,0.828442,0.550820,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459911,2048.955000,11.0,48.0,0.840543,0.547541,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459912,2558.262000,11.0,49.0,0.852644,0.544262,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459913,2527.739000,11.0,50.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459914,2442.424000,11.0,51.0,0.850355,0.543169,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459915,2359.239000,11.0,52.0,0.835965,0.545355,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459916,2359.505000,11.0,53.0,0.821574,0.547541,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459917,2341.758000,11.0,54.0,0.843160,0.544262,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459918,2156.104000,11.0,55.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459919,2082.748000,11.0,56.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459920,2081.982000,11.0,57.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459921,2124.688000,11.0,58.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459922,2249.147000,11.0,59.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459923,2259.711000,11.0,0.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459924,2273.275000,11.0,1.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459925,2256.712000,11.0,2.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459926,2217.847000,11.0,3.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459927,2184.012000,11.0,4.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459928,2159.482000,11.0,5.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459929,2145.155000,11.0,6.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
459930,2213.599000,11.0,7.0,0.864746,0.540984,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

# Model Building
- 1 divide into train/test 
- 2 set target column
- 3 get accuracy

# 1. Train and Testset
Things to look at:
1. how to divide test/train/holdout set

In [30]:
from sklearn.model_selection import train_test_split

In [33]:
def test_model(model, data, debug=False):
    xtrain, ytrain, xtest, ytest = data
    if debug:
        print("Fitting model...")
    model.fit(xtrain, ytrain)
    if debug:
        print('Predicting...')
    acc = model.predict(xtest)
    if debug:
        print('Calculating mean absolute error...')
    return mean_absolute_error(list(ytest), acc)

In [31]:
#Define train, test sets\n",
train, test = train_test_split(dummy_normalized_df, shuffle=True)
X_train = train.copy().drop(['demand_kW'], axis=1)
Y_train = train['demand_kW']
X_test = test.copy().drop(['demand_kW'], axis=1)
Y_test = test['demand_kW']

# 3. Model Selection

In [32]:

from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.svm import SVR
from sklearn.metrics import r2_score
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from tqdm import tqdm
from sklearn.ensemble import RandomForestRegressor

## SVM

In [12]:
svm = SVR()
svm.fit(X_train, Y_train)
acc = svm.predict(X_test)
result = r2_score(list(Y_test), acc)
result

C:\Users\sonja\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

-6.817829768035466e-05